Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

tidy up
  src/components/date-picker-day/date-picker-day.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month/date-picker-month.scss
Due: prettier --write, stylelint --fix

tidy up
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

bump tailwind to latest
  package-lock.json
  package.json
Due: prettier --write

Pr feedback
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(tailwind): extract tailwind preset (#6707)
  calcite-preset.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: disableLastClosableTabTitle
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#6717)
  package-lock.json
Due: prettier --write

fix(inline-editable, input-message, input-number, input-text, input): prevent components from unintentionally picking up a different scale/status value from an ancestor (#6506)
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-picker, time-picker): render when input-time-picker or time-picker's step property changes
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: allow disabled elements to emit mouse/pointer events without triggering activation
  src/assets/styles/includes.scss
  src/components/button/button.scss
  src/components/label/label.scss
  src/components/rating/rating.scss
Due: prettier --write, stylelint --fix

Pr feedback
  src/components/shell/shell.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): improve date-picker a11y (#6715)
  src/components/date-picker-day/date-picker-day.e2e.ts
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.scss
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

WIP: sync from airtable
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

feedback changes
  src/components/nav-menu-item/nav-menu-item.tsx
  src/components/nav-menu/nav-menu.tsx
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: workflow if check error
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: if check syntax
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: debug workflow issue create
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: duplicate const
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: debug new issue silent error
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: create new issue
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix(input-time-picker, time-picker): render when input-time-picker or time-picker's step property changes (#6731)
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: new issue create action
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

docs: format form refs across components
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/segmented-control/segmented-control.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
  src/components/text-area/text-area.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: action create new issue
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: new issue
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

WIP: closingSelectedSequence handles resetting selected attribute on the next tab after the current selected tab is closed (next tab is now at the same index position)
  src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: throw error on new issue creation
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

fix: log action output
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

docs: format form refs across components (#6735)
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/segmented-control/segmented-control.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
  src/components/text-area/text-area.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: action new issue
  .github/workflows/sync_from_airtable.yml
Due: prettier --write

featI(panel): Add action-bar slot. #6448
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/demos/panel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(action-bar, action-pad, action-group): Set layout on child action-group elements. #6390
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.js)) or (any of: *.scss)) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --ext .js --fix: any of: *.js
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
