Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

chore: swap volta for mise (#13805)
  CONTRIBUTING.md
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  mise.toml
  package.json
  packages/components-react/package.json
  packages/components/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-components/package.json
  packages/tailwind-preset/package.json
  packages/ui-icons/package.json
  support/check-mise.mts
Due: prettier --write, markdownlint --fix

docs: update list of contributors (#13971)
  README.md
Due: prettier --write, markdownlint --fix

feat(input-time-picker): add placeholder property
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-picker/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: wip
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/controllers/referenceElementManager.ts
  packages/components/src/controllers/useReferenceElement.ts
  packages/components/src/utils/floating-ui.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): bump `@arcgis` deps
  package-lock.json
  package.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

updating to lumina 5.1.0-next.22 to verify. Still errors saying component is not form associated.
  package-lock.json
  packages/components/index.html
  packages/components/package.json
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

removing uncessary diffs
  .husky/pre-commit
Due: none

fix(filter): do not prevent Escape default when value is empty
  packages/components/src/components/filter/filter.browser.e2e.tsx
  packages/components/src/components/filter/filter.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): bump `@arcgis` deps (#13974)
  package-lock.json
  package.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

fixing demo-form on the demo page
  packages/components/index.html
Due: prettier --write

woops
  .husky/pre-commit
Due: none

removing mixin from Lit experimentation
  packages/calcite-components/src/mixins/ElementInternals.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/controllers/referenceElementManager.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): log Monday.com response errors if present (#13943)
  .github/scripts/support/monday.js
Due: none

feat: added icons
  packages/ui-icons/icons/file-bim-16.svg
  packages/ui-icons/icons/file-bim-24.svg
  packages/ui-icons/icons/file-bim-32.svg
  packages/ui-icons/icons/file-dwg-32.svg
  packages/ui-icons/icons/file-rvt-16.svg
Due: none

feat: added tags
  packages/ui-icons/docs/keywords.json
Due: prettier --write

feat: added more icons
  packages/ui-icons/icons/file-rvt-24.svg
  packages/ui-icons/icons/file-rvt-32.svg
Due: none

feat: launched ref page
  package-lock.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-bim-16.svg
  packages/ui-icons/icons/file-bim-24.svg
  packages/ui-icons/icons/file-bim-32.svg
  packages/ui-icons/icons/file-dwg-32.svg
  packages/ui-icons/icons/file-rvt-16.svg
  packages/ui-icons/icons/file-rvt-24.svg
  packages/ui-icons/icons/file-rvt-32.svg
Due: prettier --write

Revert "feat: launched ref page"
  package-lock.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-bim-16.svg
  packages/ui-icons/icons/file-bim-24.svg
  packages/ui-icons/icons/file-bim-32.svg
  packages/ui-icons/icons/file-dwg-32.svg
  packages/ui-icons/icons/file-rvt-16.svg
  packages/ui-icons/icons/file-rvt-24.svg
  packages/ui-icons/icons/file-rvt-32.svg
Due: prettier --write

feat: re-launched ref page
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-bim-16.svg
  packages/ui-icons/icons/file-bim-24.svg
  packages/ui-icons/icons/file-bim-32.svg
  packages/ui-icons/icons/file-dwg-32.svg
  packages/ui-icons/icons/file-rvt-16.svg
  packages/ui-icons/icons/file-rvt-24.svg
  packages/ui-icons/icons/file-rvt-32.svg
Due: prettier --write

Revert "feat: re-launched ref page"
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-bim-16.svg
  packages/ui-icons/icons/file-bim-24.svg
  packages/ui-icons/icons/file-bim-32.svg
  packages/ui-icons/icons/file-dwg-32.svg
  packages/ui-icons/icons/file-rvt-16.svg
  packages/ui-icons/icons/file-rvt-24.svg
  packages/ui-icons/icons/file-rvt-32.svg
Due: prettier --write

feat: added missing icons
  packages/ui-icons/icons/file-dwg-16.svg
  packages/ui-icons/icons/file-dwg-24.svg
Due: none

feat: add bim, dwg, and rvt icons (#13977)
  packages/ui-icons/docs/keywords.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-bim-16.svg
  packages/ui-icons/icons/file-bim-24.svg
  packages/ui-icons/icons/file-bim-32.svg
  packages/ui-icons/icons/file-dwg-16.svg
  packages/ui-icons/icons/file-dwg-24.svg
  packages/ui-icons/icons/file-dwg-32.svg
  packages/ui-icons/icons/file-rvt-16.svg
  packages/ui-icons/icons/file-rvt-24.svg
  packages/ui-icons/icons/file-rvt-32.svg
Due: prettier --write

fix(filter): do not cancel `Escape` when value is empty (#13975)
  packages/components/src/components/filter/filter.browser.e2e.tsx
  packages/components/src/components/filter/filter.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#13979)
  README.md
Due: prettier --write, markdownlint --fix

docs(CONTRIBUTING): highlight Mise installation steps
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

add warning about avoiding forks for contributions
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

docs: clarify action text-enabled and action bar expanded properties
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/action/action.tsx
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update expanded wording
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adjust expanded wording
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(input-text): use ElementInternals
  packages/components/src/components/input-text/input-text.e2e.ts
  packages/components/src/components/input-text/input-text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: Clarify `action` `text-enabled` and `action-bar` `expanded` properties (#13983)
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update doc per review
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

tweak mise info
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

reverse direction with delay transition and utilize @starting-point instead
  packages/components/src/components/tree-item/tree-item.scss
  packages/components/src/components/tree-item/tree-item.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/tree-item/tree-item.scss
  packages/components/src/components/tree-item/tree-item.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): use correct 'allAssignee' column info
  .github/scripts/support/monday.js
Due: none

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
