Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix(input-time-picker): ensure time part input placement aligns with page direction (#14901)
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input-time-picker/input-time-picker.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adjustments
  packages/components/src/components/list/list.scss
  packages/components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

adjustments
  packages/components/src/components/menu-item/menu-item.scss
Due: prettier --write, stylelint --fix

ci: postprocess storybook dependency graph
  packages/components/.gitignore
  packages/components/package.json
  packages/components/support/postprocess-storybook-dependency-graph.ts
  packages/components/vite.config.ts
  packages/typescript-config/tsconfig.base.json
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adjustments
  packages/components/src/components/loader/loader.scss
  packages/components/src/components/menu-item/menu-item.scss
  packages/components/src/styles/includes/index.scss
Due: prettier --write, stylelint --fix

apply border-box to additional components
  packages/components/src/components/meter/meter.scss
  packages/components/src/components/navigation-logo/navigation-logo.scss
  packages/components/src/components/navigation-user/navigation-user.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/notice/notice.scss
  packages/components/src/components/pagination/pagination.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/progress/progress.scss
  packages/components/src/components/radio-button-group/radio-button-group.scss
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/scrim/scrim.scss
Due: prettier --write, stylelint --fix

adjustments
  packages/components/src/components/meter/meter.scss
  packages/components/src/components/navigation-logo/navigation-logo.scss
Due: prettier --write, stylelint --fix

CSS cleanup
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/form/form.scss
Due: prettier --write, stylelint --fix

add native form support
  packages/components/src/components/field-set/field-set.stories.ts
  packages/components/src/components/form/form.browser.e2e.tsx
  packages/components/src/components/form/form.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix regressions
  packages/components/src/components/block/block.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use consistent var naming approach
  packages/components/src/components/form/form.scss
Due: prettier --write, stylelint --fix

feat(block, block-group): enhance nesting support with expandMode property & children slot (#14733)
  packages/components/src/components/accordion-item/accordion-item.tsx
  packages/components/src/components/accordion/accordion.tsx
  packages/components/src/components/block-group/block-group.browser.e2e.tsx
  packages/components/src/components/block-group/block-group.scss
  packages/components/src/components/block-group/block-group.stories.ts
  packages/components/src/components/block-group/block-group.tsx
  packages/components/src/components/block-section/block-section.tsx
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/block/block.tsx
  packages/components/src/components/block/interface.ts
  packages/components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove controls from native form stories
  packages/components/src/components/form/form.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/tooltip/tooltip.tsx
  packages/components/src/controllers/useFloatingUi.browser.spec.ts
  packages/components/src/controllers/useFloatingUi.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: add useOpenClose controller
  packages/components/src/components/alert/alert.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/notice/notice.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/sheet/sheet.tsx
  packages/components/src/components/tooltip/tooltip.tsx
  packages/components/src/controllers/useToggleTransitionEvents.browser.spec.tsx
  packages/components/src/controllers/useToggleTransitionEvents.ts
  packages/components/src/utils/floating-ui.ts
  packages/components/src/utils/openCloseComponent.browser.spec.tsx
  packages/components/src/utils/openCloseComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: remove obsolete `hidden-form-input` mixin
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/combobox/combobox.scss
  packages/components/src/components/input-date-picker/input-date-picker.scss
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input-time-zone/input-time-zone.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/segmented-control/segmented-control.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/slider/slider.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/text-area/text-area.scss
  packages/components/src/styles/includes/index.scss
Due: prettier --write, stylelint --fix

build: add tabbable dep explicitly
  package-lock.json
  packages/components/package.json
Due: prettier --write

build: add `tabbable` dep explicitly (#14911)
  package-lock.json
  packages/components/package.json
Due: prettier --write

build(deps): bump `timezone-groups` and `countries-and-timezones`
  package-lock.json
  packages/components/package.json
Due: prettier --write

refactor: remove obsolete `hidden-form-input` mixin (#14910)
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/combobox/combobox.scss
  packages/components/src/components/input-date-picker/input-date-picker.scss
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input-time-zone/input-time-zone.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/segmented-control/segmented-control.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/slider/slider.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/text-area/text-area.scss
  packages/components/src/styles/includes/index.scss
Due: prettier --write, stylelint --fix

update type imports
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(linting): update `unicorn/filename-case` scope
  packages/components/eslint.config.mjs
Due: none

test(checkbox, inline-editable, radio-button, text-area): drop out-of-scope a11y coverage
  packages/components/src/components/checkbox/checkbox.browser.e2e.tsx
  packages/components/src/components/inline-editable/inline-editable.browser.e2e.tsx
  packages/components/src/components/radio-button/radio-button.browser.e2e.tsx
  packages/components/src/components/text-area/text-area.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): fix unblocked label removal Monday sync
  .github/scripts/addUnblockedComment.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

ci(actions): fix unblocked label removal Monday sync (#14918)
  .github/scripts/addUnblockedComment.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

chore(linting): enable no-console rule to promote using the logger
  packages/components/eslint.config.mjs
  packages/components/src/components/autocomplete/autocomplete.stories.ts
  packages/components/src/components/color-picker/color-picker.browser.e2e.tsx
  packages/components/src/components/color-picker/color-picker.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/date-picker/utils.ts
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/list/list.tsx
  packages/components/src/components/popover/popover.e2e.ts
  packages/components/src/components/tooltip/tooltip.browser.e2e.tsx
  packages/components/src/controllers/useReferenceElement.ts
  packages/components/src/demos/_assets/demo-form.ts
  packages/components/src/utils/config.browser.spec.ts
  packages/components/src/utils/config.ts
  packages/components/src/utils/floating-ui.ts
  packages/components/src/utils/logger.browser.spec.ts
  packages/components/src/utils/logger.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update modes and apply
  packages/components/.storybook/modes.ts
  packages/components/src/components/autocomplete/autocomplete.stories.ts
  packages/components/src/components/combobox/combobox.stories.ts
  packages/components/src/components/dropdown/dropdown.stories.ts
  packages/components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/shell/shell.stories.ts
  packages/components/src/components/tile-group/tile-group.stories.ts
  packages/components/src/components/tooltip/tooltip.stories.ts
  packages/components/src/custom-theme.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

perf(table): replace native table layout with ARIA grid
  packages/components/src/components/table-cell/resources.ts
  packages/components/src/components/table-cell/table-cell.scss
  packages/components/src/components/table-cell/table-cell.tsx
  packages/components/src/components/table-header/resources.ts
  packages/components/src/components/table-header/table-header.scss
  packages/components/src/components/table-header/table-header.tsx
  packages/components/src/components/table-row/resources.ts
  packages/components/src/components/table-row/table-row.scss
  packages/components/src/components/table-row/table-row.tsx
  packages/components/src/components/table/resources.ts
  packages/components/src/components/table/table.browser.e2e.tsx
  packages/components/src/components/table/table.e2e.ts
  packages/components/src/components/table/table.scss
  packages/components/src/components/table/table.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/filter/filter.browser.e2e.tsx
  packages/components/src/components/filter/filter.e2e.ts
  packages/components/src/components/filter/filter.tsx
  packages/components/src/components/filter/interfaces.ts
  packages/components/src/components/list-item/interfaces.ts
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/list/list.tsx
  packages/components/src/utils/clone-safe-types.ts
  packages/components/src/utils/clone-safe.ts
  packages/components/src/utils/filter-worker.browser.spec.ts
  packages/components/src/utils/filter-worker.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix types
  packages/components/src/utils/clone-safe-types.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: remove complex type
  packages/components/src/components/filter/filter.tsx
  packages/components/src/components/filter/interfaces.ts
  packages/components/src/components/list-item/interfaces.ts
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/utils/clone-safe-types.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: added icon
  packages/ui-icons/icons/load-configuration-16.svg
  packages/ui-icons/icons/load-configuration-24.svg
  packages/ui-icons/icons/load-configuration-32.svg
Due: none

feat: added tags
  packages/ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/load-configuration-16.svg
  packages/ui-icons/icons/load-configuration-24.svg
  packages/ui-icons/icons/load-configuration-32.svg
Due: prettier --write

feat: add load configuration (#14921)
  packages/ui-icons/docs/keywords.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/load-configuration-16.svg
  packages/ui-icons/icons/load-configuration-24.svg
  packages/ui-icons/icons/load-configuration-32.svg
Due: prettier --write

chore: review fixes
  packages/components/src/components/filter/filter.tsx
  packages/components/src/components/list-item/interfaces.ts
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/utils/filter-worker.browser.spec.ts
  packages/components/src/utils/filter-worker.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/utils/filter-worker.ts
  packages/components/src/utils/filter.worker.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update corner-radius.default token's reference
  packages/design-tokens/src/tokens/semantic/corner-radius.json
Due: prettier --write

chore: review fixes
  packages/components/src/utils/filter-worker.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
