Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

update value type for consistency
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: fix typos (#7360)
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/menu/menu.stories.ts
  packages/calcite-components/src/components/notice/notice.stories.ts
  packages/calcite-components/src/components/pick-list/pick-list.stories.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/utils/number.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: rename supported locale type (#7359)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: rename remaining intl props from interface (#7352)
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox): fix method name casing
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(menu-item): Update spacing and icon layout (#7381)
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/menu/menu.stories.ts
  packages/calcite-components/src/demos/menu.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

Update stories
  packages/calcite-components/src/components/menu/menu.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(menu-item): Prevent duplicate border in nested vertical menu-items (#7387)
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu/menu.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update test helpers to new structure
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

handle updated value type properly
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop broken workaround
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop README and let action generate it
  packages/calcite-components/src/components/input-time-zone/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

restore optional argument for disabled test helper
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add missing demo page
  packages/calcite-components/src/demos/input-time-zone.html
Due: prettier --write

revert unintentional changes from merge conflict
  packages/calcite-components-react/support/patchImportPathJSX.ts
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/rollup.config.ts
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/index.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-events.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#7363)
  package-lock.json
Due: prettier --write

replace all message bundles with updated messages
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ar.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_bg.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_bs.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ca.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_cs.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_da.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_de.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_el.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_es.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_et.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_fi.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_fr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_he.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_hr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_hu.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_id.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_it.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ja.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ko.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_lt.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_lv.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_nl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_no.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ro.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ru.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sk.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sv.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_th.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_tr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_uk.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_vi.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-TW.json
Due: prettier --write

fix updated type
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(linting): set up spelling linting rules
  package-lock.json
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/package.json
Due: prettier --write

refactor(combobox): fix method name casing (#7388)
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add readme to fix messages metadata script
  packages/calcite-components/src/components/input-time-zone/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

disable value clearing affordance
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing parseTimeString to return correct fractionalSecond, fixing localizeTimeStringToParts and renaming getRealDecimalPlaces to getRealDecimalPlacesCount
  packages/calcite-components/src/utils/number.spec.ts
  packages/calcite-components/src/utils/number.ts
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop parens from label as we only display the offset by itself
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing localizeTimeStringToParts to stop calling toFixed on the already processed fractionalSecond value that comes from parseTimeString
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

initializing localized fractional second and decimal values to null for consistency
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update tests
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/utils.spec.ts
  packages/calcite-components/src/components/color-picker/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

rename
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove new lines
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

more cleanup
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

disable tab container
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/tab/tab.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(switch): updates focus outline to be rounded
  packages/calcite-components/src/components/switch/switch.scss
Due: none

remove border
  packages/calcite-components/src/components/switch/switch.scss
Due: none

revert
  packages/calcite-components/src/components/switch/switch.scss
Due: none

Path conditions:
  prettier --write: ((any of: *.{json,html,yml}) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
