Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

feat(date-picker-month-header): add component tokens
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Due: prettier --write, stylelint --fix

docs(alert, avatar): description adjustments
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/avatar/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

docs(block, block-section, button): audit descriptions in readme
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/button/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

deprecation docs
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab-nav): add focus sub component
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
Due: prettier --write, stylelint --fix

feat(inline-editable): add sub-component tokens
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Due: prettier --write, stylelint --fix

fix(color-picker): update subcomponent tokens
  packages/calcite-components/src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix

add storybook test
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(c-components): audit descriptions in readme.
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/card-group/readme.md
  packages/calcite-components/src/components/card/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/chip-group/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox-item-group/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/combobox/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

update test
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button): shadow and outline styles
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

feat(button, fab): add component tokens (#8922)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/fab/fab.scss
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/table/table.scss
Due: prettier --write, stylelint --fix

fix(accordion): update component tokens
  packages/calcite-components/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

fix(accoridion-item): update component tokens
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Due: prettier --write, stylelint --fix

feat(tile): add image slot and deprecate content-start slot
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(date-picker): removes font related and unused tokens
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Due: prettier --write, stylelint --fix

fix font regressions
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix

fix(notice): Fix close button focus outline color
  packages/calcite-components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix

fix(list): fix filter box when scrolling in safari. #8928
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(pr-semantic): remove no longer needed validateSingleCommit (#8897)
  .github/workflows/pr-semantic.yml
Due: prettier --write

fix typo
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix

feat(block-section): add subcomponent CSS props (#8933)
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix

refactor(select): drop non-subcomponent-related state props (#8932)
  packages/calcite-components/src/components/select/select.scss
Due: prettier --write, stylelint --fix

feat(switch): add stateful component tokens (#8846)
  packages/calcite-components/src/components/switch/switch.scss
Due: prettier --write, stylelint --fix

fix(notice): Fix close button focus outline color (#8937)
  packages/calcite-components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix

docs(inline-editable): add missing background-color CSS prop (#8888)
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
Due: prettier --write, stylelint --fix

fix(accordion): target slotted accordion-item
  packages/calcite-components/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

docs(dropdown, dropdown-item): Specifies
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown/dropdown.scss
Due: prettier --write, stylelint --fix

drop unnecessary internal CSS prop
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

feat(accordion, accordion-item): add component tokens (#8878)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

feat(table): Add component tokens
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table/resources.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/demos/table.html
Due: prettier --write

feat(color-picker): update isClearable to follow conventions
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pagination): Update component tokens
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/demos/pagination.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(tab-title): add component tokens (#8854)
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(alert): add component tokens (#8921)
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-header/table-header.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
