Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

refactor
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/utils/dynamicClasses.spec.ts
  packages/calcite-components/src/utils/dynamicClasses.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

imports
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

imports
  packages/calcite-components/src/utils/dynamicClasses.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: prepare tests for migration
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/loader/loader.tsx
  packages/calcite-components/src/components/navigation-user/navigation-user.e2e.ts
  packages/calcite-components/src/components/navigation/navigation.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

resolve merge conflicts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

resolve merge conflicts in e2e
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: prepare tests for migration (#10509)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/loader/loader.tsx
  packages/calcite-components/src/components/navigation-user/navigation-user.e2e.ts
  packages/calcite-components/src/components/navigation/navigation.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

avoid listenOn in `connectedCallback`
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Initial implementation of vertical handle label when there is a collission
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

restore reactive rendering by using separate `render`
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

grouping related getMeridiemOrder tests
  packages/calcite-components/src/utils/time.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

attempting to instruct cspell to allow all localized characters
  .cspell.json
  packages/calcite-components/src/utils/time.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

using selectText util in test
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

removing calcite-labels from the new tests
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: added icons
  packages/calcite-ui-icons/icons/offset-16.svg
  packages/calcite-ui-icons/icons/offset-24.svg
  packages/calcite-ui-icons/icons/offset-32.svg
  packages/calcite-ui-icons/icons/properties-16.svg
Due: none

fix: launched ref page
  packages/calcite-ui-icons/icons/offset-16.svg
  packages/calcite-ui-icons/icons/offset-24.svg
  packages/calcite-ui-icons/icons/offset-32.svg
  packages/calcite-ui-icons/icons/properties-16.svg
Due: none

adding context to bosnian and macedonian chromium bug reference comments
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Adjust comment about bulgarian hour abbreviation
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: updated offset and properties (#10671)
  packages/calcite-ui-icons/icons/offset-16.svg
  packages/calcite-ui-icons/icons/offset-24.svg
  packages/calcite-ui-icons/icons/offset-32.svg
  packages/calcite-ui-icons/icons/properties-16.svg
Due: none

review fixes
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/switch/switch.e2e.ts
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/custom-theme/switch.ts
  packages/calcite-components/src/demos/switch.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix lit-html event handling error
  packages/calcite-components/src/components/table-row/table-row.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/switch/switch.scss
Due: prettier --write, stylelint --fix

test(table): improve stability
  packages/calcite-components/src/components/table/table.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: update VSCode settings to ensure TS consistency
  .vscode/settings.json
Due: prettier --write

refactor!: drop Angular wrapper
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/workflows/deploy-latest.yml
  .release-please-manifest.json
  documentation/releasing.md
  examples/components/angular/.gitignore
  package-lock.json
  package.json
  packages/calcite-components-angular/.eslintrc.json
  packages/calcite-components-angular/.gitignore
  packages/calcite-components-angular/README.md
  packages/calcite-components-angular/angular.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/LICENSE.md
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-angular/projects/component-library/src/lib/component-library.module.ts
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
  packages/calcite-components-angular/projects/component-library/tsconfig.lib.json
  packages/calcite-components-angular/support/prepublishBuildForCorrectVersion.sh
  packages/calcite-components-angular/tsconfig.json
  packages/calcite-components-angular/turbo.json
  packages/calcite-components/package.json
  packages/calcite-components/stencil.config.ts
  release-please-config.json
  support/syncLinkedPackageVersions.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

chore: update VSCode settings to ensure TS consistency (#10673)
  .vscode/settings.json
Due: prettier --write

test(table): improve stability (#10672)
  packages/calcite-components/src/components/table/table.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor!: drop Angular wrapper (#10675)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/workflows/deploy-latest.yml
  .release-please-manifest.json
  documentation/releasing.md
  examples/components/angular/.gitignore
  package-lock.json
  package.json
  packages/calcite-components-angular/.eslintrc.json
  packages/calcite-components-angular/.gitignore
  packages/calcite-components-angular/README.md
  packages/calcite-components-angular/angular.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/LICENSE.md
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-angular/projects/component-library/src/lib/component-library.module.ts
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
  packages/calcite-components-angular/projects/component-library/tsconfig.lib.json
  packages/calcite-components-angular/support/prepublishBuildForCorrectVersion.sh
  packages/calcite-components-angular/tsconfig.json
  packages/calcite-components-angular/turbo.json
  packages/calcite-components/package.json
  packages/calcite-components/stencil.config.ts
  release-please-config.json
  support/syncLinkedPackageVersions.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

refactor(table): refactor internals to work around HTML parser issue (#10649)
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-group, input, menu): fix setFocus issues in Chrome 128+
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

fix(action-group, input, menu): fix `setFocus` issues in Chrome 128+ (#10676)
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(date-picker-month-header, sort-handle): fix imports
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(date-picker-month-header, sort-handle): fix imports (#10677)
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: add missing @internal to private events (#10660)
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: make build:watch-dev script migration compatible
  packages/calcite-components/package.json
Due: prettier --write

refactor!: remove deprecated `ban-props-on-host`, `enforce-ref-last-prop`, `require-event-emitter-type` rules
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

chore: make `build:watch-dev` script migration compatible (#10678)
  packages/calcite-components/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
