Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

roll back unrelated upstream changes
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/color/light.json
  packages/calcite-design-tokens/src/tokens/semantic/space.json
  packages/calcite-ui-icons/bin/build.js
  packages/calcite-ui-icons/bin/cli.js
Due: prettier --write

avoid focusing disabled components
  packages/calcite-components/src/components/card-group/card-group.tsx
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/controllers/useSetFocus.ts
  packages/calcite-components/src/utils/interactive.browser.spec.tsx
  packages/calcite-components/src/utils/interactive.spec.ts
  packages/calcite-components/src/utils/interactive.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow/flow.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix unintentionally requiring disabled in focusable components
  packages/calcite-components/src/controllers/useSetFocus.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix test type assertions
  packages/calcite-components/src/controllers/useSetFocus.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add disabled component test
  packages/calcite-components/src/controllers/useSetFocus.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revisit focusElement signature
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update focusElementInGroup tests
  packages/calcite-components/src/utils/dom.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add focusElement tests
  packages/calcite-components/src/utils/dom.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/controllers/useSetFocus.ts
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add coverage for context arg
  packages/calcite-components/src/utils/dom.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/controllers/useSetFocus.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update useSetFocus controller with updated focusElement options
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/controllers/useSetFocus.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add tests for useSetFocus config
  packages/calcite-components/src/controllers/useSetFocus.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix FocusConfig type guard bug
  packages/calcite-components/src/controllers/useSetFocus.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix chip-group test
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/chip-group/chip-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

generalize test custom element registration
  packages/calcite-components/src/utils/dom.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update 3rd party licenses
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

fix icon scale in block & block-section
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(label): replace default layout with block
  packages/calcite-components/src/components/label/label.e2e.ts
  packages/calcite-components/src/components/label/label.scss
  packages/calcite-components/src/components/label/label.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dialog): Add component tokens
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/demos/dialog.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update 3rd party licenses (#12548)
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

refactor(dom): drop unused util
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(pagination): prevent invalid start-item and set default to 1
  packages/calcite-components/src/components/pagination/pagination.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/dialog.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list, block-group): update menu item labels and call `canPut` / `canPull` to filter items before opening a sort handle menu (#12487)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sort-handle/resources.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/demos/block.html
  packages/calcite-components/src/demos/list.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Merge clean up
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(popover, tooltip): do not close when a click was initiated inside the component (#12543)
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(popover): add token for specifying the max width (#12516)
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/custom-theme/popover.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating deprecation message
  packages/calcite-components/src/components/label/label.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/controllers/useSetFocus.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/custom-theme/dialog.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update useSetFocus test
  packages/calcite-components/src/controllers/useSetFocus.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
