Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

test(panel, flow-item): fix missing scale property in interface
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(common-tests): add themed test helper
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

export from commonTests
  packages/calcite-components/src/tests/commonTests/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): center align contentTop and contentBottom slots when alignment prop equals "center" (#9732)
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/demos/tile.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(shell): remove _TestOnly suffix
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

for components that use popover, rely on the supporting component's events
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell): update shell to correctly position calcite shell panel at shell's bottom (#9748)
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.e2e.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

placement option
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/interfaces.ts
  packages/calcite-components/src/components/dialog/resources.ts
  packages/calcite-components/src/demos/dialog.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

apply stopPropagation to keep events internal
  packages/calcite-components/src/components/block-section/block-section.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

apply stopPropagation to keep events internal
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/demos/dialog.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/dialog/Dialog.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

cleanup
  packages/calcite-components/src/components/dialog/Dialog.md
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

WIP
  packages/calcite-components/src/components/block-section/block-section.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert temporary demo files
  packages/calcite-components/src/demos/action.html
  packages/calcite-components/src/demos/block.html
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/demos/menu.html
Due: prettier --write

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding tab identifier logs for debugging
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(combobox, combobox-item): add description, short-description props and content-end slot
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/utils.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(panel, flow-item): add beforeClose property. #9769
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): center align slot text when alignment is equal to center
  packages/calcite-components/src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix extra spacing on custom icons
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(common-tests): add themed test helper (#9763)
  packages/calcite-components/src/tests/commonTests/index.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Package-lock updates
  package-lock.json
Due: prettier --write

ensure no space is taken when description or short label is not specified
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update test and mute info messages across all tests
  packages/calcite-components/src/tests/setupTests.ts
  packages/calcite-components/src/utils/config.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(accordion-item, action-bar, action-group, action-pad, tree-item): implement OpenCloseComponent Interface
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Delete .cspell.json
  .cspell.json
Due: prettier --write

update filter highlight for coverage
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(input-time-zone): cleanup token tests
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(input-time-picker): cleanup token tests and docs
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(label): cleanup token docs
  packages/calcite-components/src/components/label/label.scss
Due: prettier --write, stylelint --fix
