Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix(link) display underline properly when text breaks to multiple lines
  packages/components/src/components/link/link.scss
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/link/link.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(action): make the aria property public (#13779)
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

move selectors to related rules
  packages/components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

fix(slider): handle falsy values to reset (#13766)
  packages/components/src/components/slider/slider.browser.e2e.tsx
  packages/components/src/components/slider/slider.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: rename create body updater
  .github/scripts/monday/createTask.js
  .github/scripts/monday/removeLabel.js
  .github/scripts/monday/syncActionChanges.js
  .github/scripts/monday/updateAssignee.js
  .github/scripts/monday/updateLabels.js
  .github/scripts/monday/updateMilestone.js
  .github/scripts/monday/updateState.js
  .github/scripts/monday/updateTitle.js
  .github/scripts/support/utils.js
Due: none

chore: abstract update response error builder
  .github/scripts/support/monday.js
Due: none

docs: align 't' components with style guide (#13707)
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/tab-nav/tab-nav.scss
  packages/components/src/components/tab-title/tab-title.scss
  packages/components/src/components/tab/tab.tsx
  packages/components/src/components/table-header/table-header.tsx
  packages/components/src/components/table-row/table-row.scss
  packages/components/src/components/table/table.scss
  packages/components/src/components/table/table.tsx
  packages/components/src/components/tabs/tabs.tsx
  packages/components/src/components/text-area/text-area.tsx
  packages/components/src/components/tile-group/tile-group.tsx
  packages/components/src/components/tile/tile.tsx
  packages/components/src/components/time-picker/time-picker.scss
  packages/components/src/components/time-picker/time-picker.tsx
  packages/components/src/components/tooltip/tooltip.tsx
  packages/components/src/components/tree-item/tree-item.scss
  packages/components/src/components/tree/tree.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): handle corrupted or missing monday sync ID in issue body (#13780)
  .github/scripts/monday/createTask.js
  .github/scripts/monday/removeLabel.js
  .github/scripts/monday/syncActionChanges.js
  .github/scripts/monday/updateAssignee.js
  .github/scripts/monday/updateLabels.js
  .github/scripts/monday/updateMilestone.js
  .github/scripts/monday/updateState.js
  .github/scripts/monday/updateTitle.js
  .github/scripts/support/monday.js
  .github/scripts/support/utils.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write

chore: update lockfile
  package-lock.json
Due: prettier --write

docs: update list of contributors (#13785)
  README.md
Due: prettier --write, markdownlint --fix

chore: update lockfile (#13787)
  package-lock.json
Due: prettier --write

docs: clarify usage of stepper tokens and small verbiage changes
  packages/components/src/components/sortable-list/sortable-list.tsx
  packages/components/src/components/split-button/split-button.tsx
  packages/components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix test
  packages/components/src/components/link/link.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(dropdown-item): enable customizing icon color with `--calcite-dropdown-item-text-color` token (#13727)
  packages/components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/components/src/components/dropdown-item/dropdown-item.scss
  packages/components/src/custom-theme/dropdown.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add check for this.fullscreenDisabled
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Add the fullscreenDisabled property to the SizeOverrideContext interface.
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block-section): fix inconsistent interaction states
  packages/components/src/components/block-section/block-section.scss
  packages/components/src/components/block-section/block-section.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block-section): fix e2e tests
  packages/components/src/components/block-section/block-section.e2e.ts
  packages/components/src/components/block-section/block-section.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Removing a reference to setting userChangedValue in useTime I seem to have missed, which is now handled by useValue
  packages/components/src/controllers/useTime.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

clear inline size styles if fullscreenDisabled, since inline styles will override CSS and fullscreeDisabled application is purely CSS based
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(notice): Add css property for shadow
  packages/components/src/components/notice/notice.e2e.ts
  packages/components/src/components/notice/notice.scss
  packages/components/src/custom-theme/notice.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

have function return the boolean
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(notice): Add css property for shadow (#13791)
  packages/components/src/components/notice/notice.e2e.ts
  packages/components/src/components/notice/notice.scss
  packages/components/src/custom-theme/notice.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

split up repositioning and set-scroller-size calls
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

update tests
  packages/components/src/components/slider/slider.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/dialog/dialog.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(src-tokens): remove unnecessary "semantic" groups (#13736)
  packages/design-tokens/src/build/format/typography.ts
  packages/design-tokens/src/build/preprocessors/store-same-value-theme-tokens.ts
  packages/design-tokens/src/tokens/semantic/border.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/src/tokens/semantic/container-size.json
  packages/design-tokens/src/tokens/semantic/corner-radius.json
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/opacity.json
  packages/design-tokens/src/tokens/semantic/shadow.json
  packages/design-tokens/src/tokens/semantic/size.json
  packages/design-tokens/src/tokens/semantic/space.json
  packages/design-tokens/src/tokens/semantic/typography.json
  packages/design-tokens/src/tokens/semantic/z-index.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: simplify action-menu
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/utils.ts
  packages/components/src/components/action-menu/action-menu.e2e.ts
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/action/action.tsx
  packages/components/src/components/action/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update src core.color tokens
  packages/design-tokens/src/tokens/core/color.json
Due: prettier --write

update src semantic.color.status.success|warning tokens
  packages/design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

remove color{} group from light|dark.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

remove border{} group from border.json
  packages/design-tokens/src/tokens/semantic/border.json
Due: prettier --write

unfocus test
  packages/components/src/components/action-menu/action-menu.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove opacity{} group from opacity.json
  packages/design-tokens/src/tokens/semantic/opacity.json
Due: prettier --write

update values to account for upcoming changes in 13408
  packages/design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

revert preemptive src semantic group removal
  packages/design-tokens/src/tokens/semantic/border.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/src/tokens/semantic/container-size.json
  packages/design-tokens/src/tokens/semantic/corner-radius.json
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/opacity.json
  packages/design-tokens/src/tokens/semantic/shadow.json
  packages/design-tokens/src/tokens/semantic/size.json
  packages/design-tokens/src/tokens/semantic/space.json
  packages/design-tokens/src/tokens/semantic/typography.json
  packages/design-tokens/src/tokens/semantic/z-index.json
Due: prettier --write

cleanup
  packages/design-tokens/src/tokens/semantic/opacity.json
Due: prettier --write

update based on feedback
  packages/tailwind-preset/src/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
