Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

clean up
  packages/components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

update nested time-picker corner-radius fallbacks
  packages/components/src/components/input-time-picker/input-time-picker.scss
Due: prettier --write, stylelint --fix

update nested date-picker corner-radius fallbacks
  packages/components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

clean up story
  packages/components/src/corner-radius-fallbacks.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): add expandable icon color tokens (#15156)
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating alert test to set color-scheme style instead of deprecated dark mode class
  packages/components/src/components/alert/alert.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactoring avatar to set fillColor with light-dark() instead of using getModeName()
  packages/components/src/components/avatar/avatar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing avatar test assertions to match new background color reality
  packages/components/src/components/avatar/avatar.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor getModeName away from using calcite mode css classes
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

make directional character inclusion opt-in for read/write setups
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/utils/locale.ts
  packages/components/src/utils/number.browser.spec.ts
  packages/components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  examples/components/vue/src/assets/base.css
Due: none

refactor(block, block-group, block-section, button, card, card-group, carousel, carousel-item, checkbox, chip, color-picker, combobox, combobox-item, combobox-item-group): fix merge conflicts
  packages/components/src/components/block-group/block-group.scss
  packages/components/src/components/block-section/block-section.scss
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/chip/chip.scss
  packages/components/src/components/color-picker/color-picker.scss
  packages/components/src/components/combobox-item-group/combobox-item-group.scss
  packages/components/src/components/combobox-item/combobox-item.scss
  packages/components/src/components/combobox/combobox.scss
  packages/components/src/styles/component/focus.scss
  packages/components/src/styles/component/outline-none.scss
  packages/components/src/styles/component/sr-only.scss
  packages/components/src/styles/component/text.scss
  packages/components/src/styles/component/transition-color.scss
  packages/components/src/styles/component/transition-margin.scss
  packages/components/src/styles/component/truncate.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(date-picker): update the calendar view when a programmatic range value follows a manual selection (#15153)
  packages/components/src/components/date-picker/date-picker.browser.e2e.tsx
  packages/components/src/components/date-picker/date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

preserve existing behavior for input
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input/input.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add doc
  packages/components/src/utils/locale.ts
  packages/components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test
  packages/components/src/utils/number.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(dropdown): restore dropdown item context for screen readers
  packages/components/src/components/dropdown-item/dropdown-item.scss
  packages/components/src/components/dropdown-item/dropdown-item.tsx
  packages/components/src/components/dropdown/assets/t9n/messages.en.json
  packages/components/src/components/dropdown/assets/t9n/messages.json
  packages/components/src/components/dropdown/dropdown.browser.e2e.tsx
  packages/components/src/components/dropdown/dropdown.e2e.ts
  packages/components/src/components/dropdown/dropdown.tsx
  t9nmanifest.txt
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

improving coverage for getModeName to account for "only" light and dark declarations
  packages/components/src/utils/dom.browser.spec.tsx
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/components/src/components/dropdown/dropdown.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

rename component
  packages/components/.gitignore
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/navigation-logo/navigation-logo.scss
  packages/components/src/components/navigation-logo/navigation-logo.tsx
  packages/components/src/components/text/resources.ts
  packages/components/src/components/text/text.browser.e2e.ts
  packages/components/src/components/text/text.scss
  packages/components/src/components/text/text.stories.ts
  packages/components/src/components/text/text.tsx
  packages/components/src/demos/truncation-demo.html
  packages/components/src/demos/typography-demo.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/dropdown-item/dropdown-item.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: use `ariaBoolean` to simplify
  packages/components/src/components/dropdown-item/dropdown-item.browser.e2e.tsx
  packages/components/src/components/dropdown-item/dropdown-item.tsx
  packages/components/src/components/tree-item/tree-item.tsx
  packages/components/src/components/tree/tree.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add missing import
  packages/components/src/components/dropdown-item/dropdown-item.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix locators
  packages/components/src/components/dropdown-item/dropdown-item.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: use `toAriaBoolean` to simplify (#15143)
  packages/components/src/components/dropdown-item/dropdown-item.browser.e2e.tsx
  packages/components/src/components/dropdown-item/dropdown-item.tsx
  packages/components/src/components/tree-item/tree-item.tsx
  packages/components/src/components/tree/tree.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

handle -0 case for intermediate edits
  packages/components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add screenshot test
  packages/components/src/components/slider/slider.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up story
  packages/components/src/components/slider/slider.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add test
  packages/components/src/utils/number.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/slider/slider.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update locales to better reflect use case
  packages/components/src/utils/number.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor to use Field Group for layout
  packages/components/src/components/field-group/field-group.browser.e2e.tsx
  packages/components/src/components/field-group/field-group.scss
  packages/components/src/components/field-group/field-group.stories.ts
  packages/components/src/components/field-group/field-group.tsx
  packages/components/src/components/field-set/field-set.browser.e2e.tsx
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/field-set/field-set.stories.ts
  packages/components/src/components/field-set/field-set.tsx
  packages/components/src/components/field-set/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  packages/components/src/components/field-set/field-set.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  packages/components/src/components/field-group/field-group.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  packages/components/src/components/field-set/field-set.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

coordinate input affix widths after updates
  packages/components/index.html
  packages/components/src/components/field-group/field-group.browser.e2e.tsx
  packages/components/src/components/field-group/field-group.tsx
  packages/components/src/components/input/input.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

preserve native legend semantics and use legend margin as a gap
  packages/components/src/components/field-set/field-set.browser.e2e.tsx
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/field-set/field-set.tsx
  packages/components/src/components/field-set/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix type
  packages/components/src/components/field-group/field-group.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update tests
  packages/components/src/components/slider/slider.browser.e2e.tsx
  packages/components/src/utils/number.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(block, block-group, block-section, button, card, card-group, carousel, carousel-item, checkbox, chip, color-picker, combobox, combobox-item, combobox-item-group): fix mixin imports
  packages/components/src/components/card/card.scss
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/chip/chip.scss
  packages/components/src/components/color-picker/color-picker.scss
  packages/components/src/components/combobox-item-group/combobox-item-group.scss
  packages/components/src/components/combobox-item/combobox-item.scss
  packages/components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
