Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

add alert component fix for max-lines
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/alert/alert.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): ensure `@arcgis` deps are aligned and use ranges
  packages/components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

rename range catalog
  packages/components-react/package.json
  packages/components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(combobox): warn only about `clearDisabled` in development builds (#15242)
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

address Copilot review comments
  packages/components/src/components/date-picker/date-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(useInteractive): tidy up
  packages/components/src/controllers/useInteractive.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): ensure `@arcgis` deps are aligned and use ranges (#15305)
  packages/components-react/package.json
  packages/components/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

docs(components): use consistent deprecation message formatting
  packages/components/src/components/block/block.scss
  packages/components/src/components/combobox-item/combobox-item.scss
  packages/components/src/components/dropdown-item/dropdown-item.scss
  packages/components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix

docs(dropdown): correct deprecated slot formatting
  packages/components/src/components/dropdown/dropdown.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#15306)
  README.md
Due: prettier --write, markdownlint --fix

fix(carousel): show pagination area when enabled with more than one item
  packages/components/src/components/carousel/carousel.browser.e2e.tsx
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/carousel/carousel.tsx
  packages/components/src/components/carousel/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: remove stylelint `deprecation-format` rule
  packages/components/.stylelintrc.cjs
  packages/stylelint-plugin-components/src/index.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/README.md
  packages/stylelint-plugin-components/src/rules/deprecation-format/index.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/meta.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/rule.test.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/rule.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

revert deprecation of css vars; affix controller only targets Field Group's slotted elements; better Storybook stories
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/field-group/field-group.browser.e2e.tsx
  packages/components/src/components/field-group/field-group.stories.ts
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.browser.e2e.tsx
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input/input.browser.e2e.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.tsx
  packages/components/src/controllers/useAffixWidth.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

less specific variable name
  packages/components/src/components/field-set/field-set.browser.e2e.tsx
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/field-set/field-set.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update slot documentation
  packages/components/src/components/text/text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove unnecessary comments
  packages/components/src/components/field-set/field-set.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add slots for heading & description in autocomplete-item components
  packages/components/src/components/autocomplete-item/autocomplete-item.scss
  packages/components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/components/src/components/autocomplete-item/resources.ts
  packages/components/src/components/autocomplete/autocomplete.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add slots for text properties
  packages/components/src/components/list-item/list-item.scss
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add slot for heading in list-item-group
  packages/components/src/components/list-item-group/list-item-group.scss
  packages/components/src/components/list-item-group/list-item-group.tsx
  packages/components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update dropdown-item to support truncating with text component
  packages/components/src/components/dropdown-item/dropdown-item.scss
  packages/components/src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(useInteractive): tidy up (#15307)
  packages/components/src/controllers/useInteractive.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: remove stylelint `deprecation-format` rule (#15308)
  packages/components/.stylelintrc.cjs
  packages/stylelint-plugin-components/src/index.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/README.md
  packages/stylelint-plugin-components/src/rules/deprecation-format/index.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/meta.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/rule.test.ts
  packages/stylelint-plugin-components/src/rules/deprecation-format/rule.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

ci: use pnpm provenance config instead of npm
  .github/workflows/deploy-latest.yaml
  .github/workflows/deploy-prerelease.yaml
Due: none

ci: use pnpm provenance config instead of npm (#15312)
  .github/workflows/deploy-latest.yaml
  .github/workflows/deploy-prerelease.yaml
Due: none

feat(tab-title): add beforeClose property to support prevention of tab close
  packages/components/src/components/tab-title/tab-title.browser.e2e.tsx
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#15311)
  README.md
Due: prettier --write, markdownlint --fix

fix(notice): set inert on host when closed
  packages/components/src/components/notice/notice.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(rating): honor ArrowLeft/ArrowRight physical direction in RTL
  packages/components/src/components/rating/rating.browser.e2e.tsx
  packages/components/src/components/rating/rating.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tab-title): add multiple beforeClose requests prevention
  packages/components/src/components/tab-title/tab-title.browser.e2e.tsx
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(link): omit falsey href/rel/target on internal anchor
  packages/components/src/components/link/link.browser.e2e.tsx
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tab-nav): expose public --calcite-tab-nav-gap CSS variable
  tab-nav.scss
  tab-nav.tsx
Due: prettier --write, stylelint --fix

chore: remove misplaced root tab-nav files
  tab-nav.scss
Due: prettier --write, stylelint --fix

chore: remove misplaced root tab-nav files
  tab-nav.tsx
Due: none

feat(tab-nav): expose public --calcite-tab-nav-gap CSS variable
  packages/components/src/components/tab-nav/tab-nav.scss
  packages/components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/carousel/carousel.browser.e2e.tsx
  packages/components/src/components/carousel/carousel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

spacing corrected on small and large scale dropdown actions, submenu-item slot divider inset matches padding-start of each scale
  packages/components/src/components/menu-item/menu-item.scss
Due: prettier --write, stylelint --fix
