Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

rename corner to corner-radius
  packages/calcite-design-tokens/src/tokens/$metadata.json
  packages/calcite-design-tokens/src/tokens/$themes.json
  packages/calcite-design-tokens/src/tokens/semantic/border.json
  packages/calcite-design-tokens/src/tokens/semantic/corner-radius.json
  packages/calcite-design-tokens/src/tokens/semantic/corner.json
Due: prettier --write

feat: add location local (#12406)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/location-label-16.svg
  packages/calcite-ui-icons/icons/location-label-24.svg
  packages/calcite-ui-icons/icons/location-label-32.svg
Due: prettier --write

update semantic corner radius default reference
  packages/calcite-design-tokens/src/tokens/$themes.json
  packages/calcite-design-tokens/src/tokens/semantic/corner-radius.json
Due: prettier --write

feat(input-text): add component tokens (#12242)
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-text/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-text.ts
  packages/calcite-components/src/demos/input-text.html
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reorder attributes to be consistent
  packages/calcite-design-tokens/src/tokens/semantic/border.json
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/color/light.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

add group attribute to semantic font tokens
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

updating useValue with a few known API needs
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/controllers/useValue.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

typing the time property on time-picker
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: drop redundant hiddent styles
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/tip/tip.scss
Due: prettier --write, stylelint --fix

review changes
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/controllers/useTime.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#12400)
  package-lock.json
Due: prettier --write

refactor(date-picker, input-date-picker): drop checks for required localeData prop (#12396)
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update build to handle restructured corner-radius tokens
  packages/calcite-design-tokens/src/build/utils/token-types.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

cleanup simplified names
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/controllers/useCancelable.browser.spec.ts
  packages/calcite-components/src/controllers/useCancelable.ts
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
  packages/calcite-components/src/tests/commonTests/browser/index.ts
  packages/calcite-components/src/tests/commonTests/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(time-picker): use the useTime controller (#12352)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/controllers/useTime.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback and clean up
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/custom-theme/table.ts
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add kind attribute
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

mockConsole moved to files that need it only, to avoid silencing any possible warning
  packages/calcite-components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/calcite-components/src/components/filter/filter.browser.e2e.ts
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-design-tokens/src/tokens/semantic/corner-radius.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

cleanup
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

cleanup
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

use type-fest has an Arrayable utility type, inline cancelAll, simplify
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/controllers/useCancelable.browser.spec.ts
  packages/calcite-components/src/controllers/useCancelable.ts
  packages/calcite-components/src/controllers/useCancelableResouce.browser.spec.ts
  packages/calcite-components/src/controllers/useCancelableResource.ts
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updated semantic typography category attributes
  packages/calcite-design-tokens/src/tokens/semantic/typography.json
Due: prettier --write

cleanup
  packages/calcite-components/src/controllers/useCancelable.ts
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
  packages/calcite-components/src/tests/commonTests/interfaces.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update theme data
  packages/calcite-design-tokens/src/tokens/$themes.json
Due: prettier --write

update core theme data
  packages/calcite-design-tokens/src/tokens/$themes.json
Due: prettier --write

refactor: drop redundant hidden styles (#12409)
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/tip/tip.scss
Due: prettier --write, stylelint --fix

add Arrayable to known words in cspell, clean up hasCancelableController, cancelable needs to be public so it can be tested in the broswer test
  .cspell.json
  packages/calcite-components/src/controllers/useCancelable.browser.spec.ts
  packages/calcite-components/src/controllers/useCancelable.ts
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

for more coverage, add a single cancelable in addition to an array
  packages/calcite-components/src/controllers/useCancelable.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: tidy up icon deps
  package-lock.json
  packages/calcite-ui-icons/bin/build-fonts.js
  packages/calcite-ui-icons/bin/build.js
  packages/calcite-ui-icons/bin/cli.js
  packages/calcite-ui-icons/bin/convert-mobile.js
  packages/calcite-ui-icons/bin/optimize.js
  packages/calcite-ui-icons/bin/path-data.js
  packages/calcite-ui-icons/bin/server.js
  packages/calcite-ui-icons/bin/spriter.js
  packages/calcite-ui-icons/docs/app.js
  packages/calcite-ui-icons/lib/spriter/cli.js
  packages/calcite-ui-icons/lib/spriter/index.js
  packages/calcite-ui-icons/package.json
Due: prettier --write

bump deps
  package-lock.json
  packages/calcite-ui-icons/package.json
Due: prettier --write

roll back unrelated changes
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(input-number): add token to customize icon color
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/custom-theme/input-number.ts
  packages/calcite-components/src/demos/input-number.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update build
  .renovaterc.json
  packages/calcite-ui-icons/bin/convert-mobile.js
  packages/calcite-ui-icons/bin/optimize.js
Due: prettier --write

set up linting
  packages/calcite-ui-icons/eslint.config.mjs
  packages/calcite-ui-icons/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
