Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

fix(input-date-picker, input-time-picker): do not show dropdown affordance when read-only
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing bug where you couldn't set hour to 10
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

render localized trailing zeros based on step precision
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: add action to limit pull requests during maintenance releases
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releaes.yml
Due: prettier --write

refactor(combobox, combobox-item, combobox-group): getElementProp is refactored out across child components as an outdated pattern in favor of inheritable props set directly on parent
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): update combobox height to follow design spec
  packages/calcite-components/src/components/combobox/combobox.scss
Due: none

only emit change event when full value changes
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block, block-section): improve a11y
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion, accordion-item): improve a11y
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding fractional second support to formatTimeString, localizeTimeString and toISOTimeString. Input now showing fractional seconds when time picker popup sends it up
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/demos/sheet.html
  packages/calcite-components/src/index.html
  t9nmanifest.txt
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/demos/sheet.html
Due: prettier --write

WIP: work out the failing tests per new changes
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix tests
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): update value when alphaChannel is toggled
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: revert refactors
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(loader): tweak loading animations to work in Safari
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/demos/loader.html
Due: prettier --write

fix(segmented-control): refresh items when added dynamically
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(split-button): update divider and borders to follow design spec
  packages/calcite-components/src/components/split-button/split-button.scss
Due: none

fix: ensure label only focuses the first labelable child (#7553)
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/label.spec.ts
  packages/calcite-components/src/utils/label.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree-item): updates state when selection changes programmatically
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/sheet/readme.md
  packages/calcite-components/src/components/sheet/resources.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(modal): Add close tooltip and aria-label on scrim when it can be clicked to close.
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix typo
  packages/calcite-components/src/components/split-button/split-button.scss
Due: none

fix(color-picker): update value when alphaChannel is toggled (#7563)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list): fixes dragging nested list items (#7555)
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Use SelectionMode prop in the child instead of the isSingleSelect
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

apply border-1 to outline-fill button
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/split-button/split-button.scss
Due: none

Pr feedback
  packages/calcite-components/src/components/meter/meter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  t9nmanifest.txt
Due: none

refactor
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(meter): Add Meter component (#7401)
  packages/calcite-components/.storybook/preview-head.html
  packages/calcite-components/src/components/meter/interfaces.ts
  packages/calcite-components/src/components/meter/meter.e2e.ts
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/meter/readme.md
  packages/calcite-components/src/components/meter/resources.ts
  packages/calcite-components/src/components/meter/usage/Advanced.md
  packages/calcite-components/src/components/meter/usage/Basic.md
  packages/calcite-components/src/demos/meter.html
  packages/calcite-components/src/index.html
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(date-picker): set start of week to monday in zh-CN
  packages/calcite-components/src/components/date-picker/assets/date-picker/nls/zh-CN.json
Due: prettier --write

docs, demos, cleanup
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/sheet/usage/Basic.md
  packages/calcite-components/src/components/sheet/usage/Open.md
  packages/calcite-components/src/demos/sheet.html
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(input-date-picker, input-time-picker): do not show dropdown affordance when read-only (#7559)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/demos/sheet.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup tests
  packages/calcite-components/src/components/modal/modal.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): prevents navigating dropdown items with Tab key (#7527)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
