Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

revert updates to $themes.json
  packages/design-tokens/src/tokens/$themes.json
Due: prettier --write

fix(dropdown-item): enable customizing icon color with --calcite-dropdown-item-text-color token
  packages/components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/components/src/components/dropdown-item/dropdown-item.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: prepare for API Extractor (2)
  packages/components/src/components/flow/types/index.ts
  packages/components/src/utils/config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update story
  packages/components/src/custom-theme/dropdown.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

docs: prepare for API Extractor (2) (#13729)
  packages/components/src/components/flow/types/index.ts
  packages/components/src/utils/config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add topLayerDisabled property to action-bar, action-group, action-menu, action-pad, block, flow-item, input-time-zone, list-item, panel, sort-handle and split-button.
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/split-button/split-button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: add line break
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#13719)
  README.md
Due: prettier --write, markdownlint --fix

build: update browserslist db (#13722)
  package-lock.json
Due: prettier --write

test(action-menu): update mousedown active test to assert on activeDescendant property
  packages/components/src/components/action-menu/action-menu.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix typo
  .github/workflows/update-components.yml
Due: prettier --write

use engines instead of devEngines for compatibility
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package.json
Due: prettier --write

build(deps): bump @arcgis deps
  package-lock.json
Due: prettier --write

update lockfile
  pnpm-lock.yaml
Due: none

add explicit csstype dev dep
  packages/components/package.json
  pnpm-lock.yaml
Due: prettier --write

extract global module augmentation
  packages/components/src/global.d.ts
  packages/components/src/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(src-tokens): remove unnecessary "default" groups (#13354)
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

fix(tab-title): enable support for deprecated icon color variable, add "press" variables (#13681)
  packages/components/src/components/tab-title/tab-title.e2e.ts
  packages/components/src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

merge dev into branch
  packages/design-tokens/src/tokens/semantic/z-index.json
Due: prettier --write

remove semantic group from all src token files
  packages/design-tokens/src/tokens/semantic/border.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/src/tokens/semantic/container-size.json
  packages/design-tokens/src/tokens/semantic/corner-radius.json
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/opacity.json
  packages/design-tokens/src/tokens/semantic/shadow.json
  packages/design-tokens/src/tokens/semantic/size.json
  packages/design-tokens/src/tokens/semantic/space.json
  packages/design-tokens/src/tokens/semantic/typography.json
  packages/design-tokens/src/tokens/semantic/z-index.json
Due: prettier --write

Align description property across components
  packages/components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/combobox-item/combobox-item.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/navigation-logo/navigation-logo.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/stepper-item/stepper-item.tsx
  packages/components/src/components/table-header/table-header.tsx
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align labelText property description across components
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/radio-button-group/radio-button-group.tsx
  packages/components/src/components/radio-button/radio-button.tsx
  packages/components/src/components/rating/rating.tsx
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/switch/switch.tsx
  packages/components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align topLayerDisabled property description across components
  packages/components/src/components/alert/alert.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/tooltip/tooltip.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): bump `@arcgis` deps (#13734)
  package-lock.json
Due: prettier --write

chore: update docs
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/split-button/split-button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert placement description changes in autocomplete.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align position property desciption across components
  packages/components/src/components/action-pad/action-pad.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#13737)
  README.md
Due: prettier --write, markdownlint --fix

feat: add `topLayerDisabled` property to additional components (#13730)
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/split-button/split-button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(action-menu): update mousedown active test to assert on activeDescendant property and increases/fixes test coverage for #13725 (#13732)
  packages/components/src/components/action-menu/action-menu.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(panel, action-menu): pass `scale` down to nested `calcite-popover`
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

API refernce audit changes for block
  packages/components/src/components/block/block.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

API refernce audit changes for block-group
  packages/components/src/components/block-group/block-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix icon colors
  packages/components/src/components/dropdown-item/dropdown-item.scss
Due: prettier --write, stylelint --fix

more border love, resize bar positioning
  packages/components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

API reference audit changes for card-group
  packages/components/src/components/card-group/card-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
