Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

feat(chip): Update token documentation
  packages/calcite-components/src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

cleanup focusing
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

mark inline-size and block-size as internal
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

focus color
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

focus consistency
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

applying base z-index token to tiles on hover
  packages/calcite-components/src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

adding focus styling to match hover (for now)
  packages/calcite-components/src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

fix typo
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

feat(chip): Update token documentation (#8774)
  packages/calcite-components/src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

fix(input): add prefix suffix tokens separately
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

refactor(fab,button): update component tokens (#8757)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/fab/fab.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/meter/meter.scss
Due: prettier --write, stylelint --fix

feat(meter): Add component tokens (#8606)
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/demos/meter.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

move xButton
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/assets/styles/_x-button.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

convert header to mixin
  packages/calcite-components/src/assets/styles/_header.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/pick-list-group/pick-list-group.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip/tip.scss
Due: prettier --write, stylelint --fix

cleanup. animation
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

feat(rating): Add component tokens
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/demos/rating.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/rating/rating.scss
Due: prettier --write, stylelint --fix

improve dom focus util type
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

improve closable tab-title spacing
  packages/calcite-components/src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix

scroll to keyboard-navigated tab
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix tab scrolling button focus
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix tab order of scrolling buttons and tab-titles
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update scrolling buttons to follow spec
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

improve scrolling for mobile
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/utils/browser.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix tests
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pagination): Add component tokens
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/demos/pagination.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/pagination/pagination.scss
Due: prettier --write, stylelint --fix

refactor and cleanup
  packages/calcite-components/src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

longItemsAllSelectionModes
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add margin to placehoder for when it has not ellipses in focus mode
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
