Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

story
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove scrolling arrows from tab order
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add story
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/card/card.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add token for background-color
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix

refactor
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix

feat(input): add component tokens (#8767)
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): long text truncates on single and single-persist modes (#8731)
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/card/card.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(chip): Remove deprecated component patterns
  packages/calcite-components/src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add deprecation explainers
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(input-number): deprecate `minLength`/`maxLength` props as they have no effect (#8734)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(loader): add component tokens
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

fix: only show validation message when status='invalid' (#8649)
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update scrolling tests to use both deltaX and deltaY
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix height
  packages/calcite-components/src/components/switch/switch.scss
Due: prettier --write, stylelint --fix

reassigning states on component host
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/handle/handle.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tab): style focus outline of tab content
  packages/calcite-components/src/components/tab/tab.scss
Due: prettier --write, stylelint --fix

docs
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(switch): add component tokens (#8786)
  packages/calcite-components/src/components/switch/switch.scss
Due: prettier --write, stylelint --fix

refactor(color-picker-swatch): add component tokens
  packages/calcite-components/src/components/color-picker-swatch/color-picker-swatch.scss
Due: prettier --write, stylelint --fix

fix specificity issues
  packages/calcite-components/src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix

test(option-group): fix
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/option-group/option-group.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(shell-center-row): fix test
  packages/calcite-components/src/components/shell-center-row/shell-center-row.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(link): set link text color in component tokens
  packages/calcite-components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

fix(link): remove unnecessary class
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/link/link.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(link): clean up styles
  packages/calcite-components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

test(combobox): update test to reduce complexity
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(link): remove extranious tw
  packages/calcite-components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

fix(preset): calcite—color-brand to calcite-color-brand
  packages/calcite-components/calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix regression
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix
