Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

chore(linting): consolidate prettier ignore files
  .prettierignore
  packages/calcite-components/.prettierignore
  packages/calcite-design-tokens/.prettierignore
Due: none

chore: use change-case for all casing conversions
  packages/calcite-design-tokens/src/build/transforms/attribute/platform-names.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

override static values with tokens
  packages/calcite-components/src/components/input-number/input-number.scss
Due: prettier --write, stylelint --fix

fix tests
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-number): add token to customize icon color (#12414)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/custom-theme/input-number.ts
  packages/calcite-components/src/demos/input-number.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(icons): optimize newest icons (#12444)
  packages/calcite-ui-icons/icons/arc-segment-16.svg
  packages/calcite-ui-icons/icons/arc-segment-24.svg
  packages/calcite-ui-icons/icons/arc-segment-32.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-16.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-24.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-32.svg
  packages/calcite-ui-icons/icons/bezier-curve-16.svg
  packages/calcite-ui-icons/icons/bezier-curve-24.svg
  packages/calcite-ui-icons/icons/bezier-curve-32.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-16.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-24.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-32.svg
  packages/calcite-ui-icons/icons/tangent-curve-16.svg
  packages/calcite-ui-icons/icons/tangent-curve-24.svg
  packages/calcite-ui-icons/icons/tangent-curve-32.svg
Due: none

chore: use change-case for all casing conversions (#12447)
  packages/calcite-design-tokens/src/build/transforms/attribute/platform-names.ts
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

address review comments
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-menu/resources.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/action/resources.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete-item/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
  packages/calcite-components/src/components/carousel-item/carousel-item.tsx
  packages/calcite-components/src/components/carousel-item/resources.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/resources.ts
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/dropdown/resources.ts
  packages/calcite-components/src/components/graph/graph.tsx
  packages/calcite-components/src/components/graph/resources.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input-message/input-message.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/rating/resources.ts
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/components/tab-title/resources.ts
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tooltip/resources.ts
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Reverted changes in CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

adressed review comments and screenshot test
  packages/calcite-components/src/components/input-message/input-message.tsx
  packages/calcite-components/src/components/input-message/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixed failing test
  packages/calcite-components/src/components/input-message/input-message.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(stepper-item): improve single selection icon color (#12436)
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix(tile): alignment not applying on slotted content
  packages/calcite-components/src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

update semantic spacing token's category to "spacing"
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

fix(title): apply alignment on slotted content (#12451)
  packages/calcite-components/src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

chore: fix markdown linting error
  packages/calcite-components/conventions/Internationalization.md
Due: prettier --write, markdownlint --fix

docs: update list of contributors (#12449)
  README.md
Due: prettier --write, markdownlint --fix

restore missing import
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test: add test
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix markdown linting error (#12453)
  packages/calcite-components/conventions/Internationalization.md
Due: prettier --write, markdownlint --fix

fix link test
  packages/calcite-components/src/components/link/link.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(autocomplete): announce result to screen readers using aria-live attribute (#12443)
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restore missing import
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: drop waitForChanges delay
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(semantic-tokens): update spacing tokens' categories to "spacing" (#12452)
  packages/calcite-design-tokens/src/tokens/semantic/space.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

build: update browserslist db
  package-lock.json
Due: prettier --write

fix block-section heading font-weight
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix

Update translation - @mit10976 @isa13169 @nia13404
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ar.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.bg.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ca.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.cs.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.da.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.de.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.el.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.es.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.et.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.fi.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.fr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.he.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.hr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.hu.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.id.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.it.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ja.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ko.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.lt.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.lv.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.nl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.no.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pt-BR.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pt-PT.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ro.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ru.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sk.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sv.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.th.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.tr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.uk.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.vi.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-CN.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-TW.json
Due: prettier --write

chore(deps): bump @arcgis deps to 4.34.0@next
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

fix(action-menu): ensure children are loaded before updating actions on initialization
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(time-picker): remove shadow and added border for consistent styling
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/custom-theme/time-picker.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix block heading line-height
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

chore(localization): update translation (#12463)
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ar.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.bg.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ca.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.cs.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.da.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.de.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.el.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.es.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.et.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.fi.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.fr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.he.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.hr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.hu.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.id.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.it.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ja.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ko.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.lt.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.lv.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.nl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.no.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pt-BR.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pt-PT.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ro.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ru.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sk.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sv.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.th.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.tr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.uk.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.vi.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-CN.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-TW.json
Due: prettier --write

refactor: enforce usage of useCancelable controller via linting
  packages/calcite-components/eslint.config.mjs
Due: none

simplify
  packages/calcite-components/eslint.config.mjs
Due: none

address additional migration steps
  package-lock.json
  package.json
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/.storybook/manager.ts
  packages/calcite-components/.storybook/preview.ts
  packages/calcite-components/.storybook/theme.ts
  packages/calcite-components/src/01-introduction.mdx
  packages/calcite-components/src/02-contributing.mdx
  packages/calcite-components/src/03-code-of-conduct.mdx
  packages/calcite-components/src/04-licensing.mdx
  packages/calcite-components/src/05-custom-theme.mdx
  packages/calcite-components/src/06-faq.mdx
  packages/calcite-components/src/07-conventions.mdx
  packages/calcite-components/src/08-testing.mdx
  packages/calcite-components/src/09-styling.mdx
  packages/calcite-components/src/10-documentation.mdx
  packages/calcite-components/src/11-accessibility.mdx
  packages/calcite-components/src/12-accessibilitydesign.mdx
  packages/calcite-components/src/13-accessibilitydeveloper.mdx
  packages/calcite-components/src/14-accessibilityroles.mdx
  packages/calcite-components/src/15-internationalization.mdx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#12455)
  README.md
Due: prettier --write, markdownlint --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
