Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

cleanup
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(radio-button, radio-button-group): emit change events only when checked is toggled. #6633
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/radio-button/radio-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  src/components/radio-button/radio-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: provide context to slot and css var deprecations
  src/components/flow-item/flow-item.tsx
  src/components/panel/panel.tsx
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup/refactoring
  src/components/radio-button/radio-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: set up `labelable` helper to run a test per use case (#7086)
  src/components/button/button.e2e.ts
  src/components/checkbox/checkbox.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/select/select.e2e.ts
  src/components/slider/slider.e2e.ts
  src/components/switch/switch.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: provide context to slot and css var deprecations (#7103)
  src/components/flow-item/flow-item.tsx
  src/components/panel/panel.tsx
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: fix event handler casing
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup
  .release-please-manifest.json
  .vscode/settings.json
  package-lock.json
  package.json
  packages/calcite-components-react/LICENSE.md
  packages/calcite-components-react/README.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/CHANGELOG_BETA.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-components/t9nmanifest.txt
  release-please-config.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: cleanup gitignore
  .gitignore
  packages/calcite-components-react/.gitignore
  packages/calcite-components/.gitignore
Due: none

build(deps): bump turbo version
  package-lock.json
  package.json
Due: prettier --write

chore: sort gitignore
  packages/calcite-components/.gitignore
Due: none

WIP
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/sortable-list/sortable-list.tsx
  src/components/value-list/value-list.tsx
  src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list): Add support for sorting and dragging items. #6554
  src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup comments
  .lintstagedrc.cjs
  support/syncLinkedPackageVersions.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: set up `t9n` helper to run a test per use case
  package-lock.json
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-group/action-group.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/action/action.e2e.ts
  src/components/alert/alert.e2e.ts
  src/components/block-section/block-section.e2e.ts
  src/components/block/block.e2e.ts
  src/components/button/button.e2e.ts
  src/components/card/card.e2e.ts
  src/components/chip/chip.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/date-picker/date-picker.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/handle/handle.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input/input.e2e.ts
  src/components/menu-item/menu-item.e2e.ts
  src/components/menu/menu.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/pagination/pagination.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/popover/popover.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/scrim/scrim.e2e.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip/tip.e2e.ts
  src/components/value-list/value-list.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove unwanted package-lock
  package-lock.json
Due: prettier --write

chore: fix event handler casing (#7108)
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: cleanup changelogs
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

build: update browserslist db
  package-lock.json
Due: prettier --write

update focus algorithm
  src/components/radio-button/radio-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#7123)
  package-lock.json
Due: prettier --write

refactor(action-bar, action-pad): refactor resize, overflowActions and textEnabled logic. (#7064)
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(filter): Add filter method. #6633
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/filter/filter.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test error
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: regenerate package-lock
  package-lock.json
  package.json
Due: prettier --write

build: move stencil deps to individual packages
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

build: regenerate package-lock
  package-lock.json
Due: prettier --write

chore: cleanup
  package-lock.json
  package.json
Due: prettier --write

build: move stencil react output target dep to CC
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

build: move stencil devDeps from root to individual packages (#7128)
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

build(deps): update package-lock
  package-lock.json
Due: prettier --write

test: set up floatingUIOwner helper to run a test per use case
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(react): auto-import and register custom elements
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): update package-lock (#7131)
  package-lock.json
Due: prettier --write

test: set up floatingUIOwner helper to run a test per use case (#7132)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((any of: *.{json,html,yml}) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
