Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

feat(navigation-logo): adding test cases and 'key' attribute per code review
  packages/calcite-components/src/components/navigation-logo/navigation-logo.e2e.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

make sure that texLabelEl is available before using it
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update keys for day wrapper and add tests
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup and indentation workaround
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix alignment
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update tests
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

use grid-auto-rows
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
Due: prettier --write, stylelint --fix

fix focusout typo
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list): add mode to handle flat and nested lists and improve dragging. #8667 #8242
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix justify, add stories
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

tidy up _NoTest stories and update conventions to prep for test suffix removal
  packages/calcite-components/conventions/Documentation.md
  packages/calcite-components/conventions/Testing.md
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/components/loader/loader.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

replace boolean knob helper with fake one
  packages/calcite-components/.storybook/helpers.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add missing imports
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/components/table/table.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-pad): remove unused tokens
  packages/calcite-components/src/components/action-pad/action-pad.scss
Due: prettier --write, stylelint --fix

fix(action-pad): add expandToggle class for testing
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/resources.ts
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add link to controls doc
  packages/calcite-components/conventions/Testing.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore(linting): enable import/order to collapse newlines between imports
  packages/calcite-components/.eslintrc.cjs
Due: none

fix(panel): support cancelling the esc key event to prevent closing a panel (#9032)
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix margin
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

add more tests
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): fix aria-role for proper voiceover support (#9039)
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list, list-item): support keyboard sorting in screen readers (#9038)
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(list-item-group): update list item group styles. #8039
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

counter for the case when ref is the last and needs a disable rule line
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix indent
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tests(action-pad): add theme tests
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(common): don’t export helper functions for common tests
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update rule to check for ref prop to be last with accompanying disable-line comment
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix boolean value to match its var name
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add one more test case
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update doc
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

feat(enforce-ref-last-prop): add fixer (#8671)
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

fix fake knob return values for createComponentHTML input
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/flow/flow.stories.ts
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update slider stories to use fake knob consistently
  packages/calcite-components/src/components/slider/slider.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
