Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix story
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(shell, sheet, dialog, modal): Fix for slotted component interaction (#12059)
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell/shell.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

clock icon color, clock icon scale, readonly font weight, block-size for each scale, line-heights for each scale to stretch highlight boxes to 2px away from outer active border
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

correcting font sizes and gaps for each scale
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
Due: prettier --write, stylelint --fix

24px toggle button hit target
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adding invalid border danger color support
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
Due: prettier --write, stylelint --fix

try viewport again
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

using internal method to set focus to individual inputs with arrow keys
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix corner radius
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-number/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reverting jsdoc for the messages prop. Franco wants to handle this for all components in a separate PR
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update doc
  packages/calcite-components/src/components/filter/filter.scss
Due: prettier --write, stylelint --fix

quick fix to get calciteInputTimePickerChange to fire when editing the value from the time-picker popover. Added a test with all the inputs in 12-hour mode
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(filter): add component tokens (#11885)
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/filter.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(shell-panel): handle overflow scrolling (#12056)
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

:recycle:
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/tests/utils/puppeteer.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(table-row): update `selected` property on `calciteTabRowSelect` event (#12015)
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/tests/utils/puppeteer.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Aaron's padding tweaks
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
Due: prettier --write, stylelint --fix

story for all selected
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add `semantic.color.text.highlight` tokens
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

update `--calcite-color-foreground-highlight` (dark) reference
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
Due: prettier --write

fix(shell-panel): handle overflow scrolling #12057
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(contributing): update lifecycle label descriptions
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

docs(contributing): update lifecycle label descriptions (#12071)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

update test snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

fix(shell-panel): handle overflow scrolling (#12069)
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(linting): set up eslint-plugin-unused-imports
  package-lock.json
  package.json
  packages/calcite-components/eslint.config.mjs
Due: prettier --write

chore(linting): set up @arcgis/eslint-config and enable lumina/member-ordering
  package-lock.json
  package.json
  packages/calcite-components/eslint.config.mjs
Due: prettier --write

chore(dictionary): update custom dictionary
  support/dictionaries/dict-calcite-design-system.txt
Due: none

refactor(semantic-tokens): update `--calcite-color-foreground-current` (dark) reference (#12070)
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

chore(dictionary): update custom dictionary (#12073)
  support/dictionaries/dict-calcite-design-system.txt
Due: none

use messages value in tests
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use messages value in e2e tests
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

:recycle:
  packages/calcite-components/src/components/input-number/input-number.scss
Due: prettier --write, stylelint --fix

fix(list): correctly set the drag order and set size on filtered items. #12074
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(navigation): set display to block. #11022
  packages/calcite-components/src/components/navigation/navigation.e2e.ts
  packages/calcite-components/src/components/navigation/navigation.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix input border-radius when clear-button is hidden :bug:
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-number/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(table-advanced): expose scroll to row function
  packages/calcite-components/src/components/table-advanced/table-advanced.tsx
  packages/calcite-components/src/demos/table-advanced.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
