Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

move component CSS styles and include as static styles
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip/tip.scss
  packages/calcite-components/src/styles/component/header.scss
  packages/calcite-components/src/styles/component/sortable.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use `@use` to embed CSS
  packages/calcite-components/src/styles/global.scss
Due: prettier --write, stylelint --fix

drop unused module
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/styles/_focus.scss
Due: prettier --write, stylelint --fix

drop unused/undocumented host spacing custom CSS props
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/styles/_spacing.scss
Due: prettier --write, stylelint --fix

drop unused module loads
  packages/calcite-components/src/styles/global.scss
  packages/calcite-components/src/styles/includes.scss
Due: prettier --write, stylelint --fix

drop outdated styles/README.md
  packages/calcite-components/src/styles/README.md
Due: prettier --write, markdownlint --fix

restructure according to output
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/tile-select/tile-select.scss
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/styles/global/_legacy.scss
  packages/calcite-components/src/styles/global/_type.scss
  packages/calcite-components/src/styles/global/index.scss
  packages/calcite-components/src/styles/includes/_host.scss
  packages/calcite-components/src/styles/includes/index.scss
  packages/calcite-components/src/styles/shared/_animation.scss
  packages/calcite-components/src/styles/shared/_floating-ui.scss
  packages/calcite-components/src/styles/shared/_spacing.scss
  packages/calcite-components/vite.config.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add readme
  packages/calcite-components/src/styles/README.md
Due: prettier --write, markdownlint --fix

tidy up
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/interfaces.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: drop unused focusTrapComponent
  packages/calcite-components/src/controllers/useFocusTrap.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(dropdown): drop multi-trigger handling logic (#12966)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/interfaces.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(changelog): manually edit missed overrides (#12971)
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

fix(carousel): Ensure icon tokens are correctly applied (#12902)
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, stylelint --fix

chore: fix a broken link in changelog
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

feat(autocomplete-item-group): remove role=presentation from div
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

remove auto-added chevron brackets
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

one more time
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

chore: fix a broken link in changelog (#12976)
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

feat(autocomplete-item-group): update design for 4.0 (#12965)
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.e2e.ts
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.scss
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/calcite-components/src/components/autocomplete-item-group/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(list-item-group): update design for 4.0
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
Due: prettier --write, stylelint --fix

fix #12970
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): fix loader scrim height for empty list (#12961)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(conventions): revert boolean guidelines to "When `true`, xxx"
  packages/calcite-components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

docs(action): clarify for what value text is displayed
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(modal): clarify for what state the component is always fullscreen
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(conventions): revert boolean guidelines to "When `true`, xxx" (#12980)
  packages/calcite-components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

docs: revert additional boolean changes from d94cb9a
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(list-item-group): update design for 4.0 (#12977)
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
Due: prettier --write, stylelint --fix

bump to latest rc
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

recreate lockfile
  package-lock.json
Due: prettier --write

refactor(icon): remove IconNameOrString type from interface
  packages/calcite-components/src/components/icon/interfaces.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): update @arcgis dependencies to ^4.34.0-next.151
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

docs(dialog): Remove duplicate token description (#12896)
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

fix(action): set aria-expanded for actions used for expanding and collapsing (#12579)
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(core-tokens): add missing color token `l-vv-100` (#12875)
  packages/calcite-design-tokens/src/tokens/$themes.json
  packages/calcite-design-tokens/src/tokens/core/color.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

docs(dialog): Remove duplicate token description (#12898)
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix
