Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(popover): change event listener to 'pointerup' (#6985)
  CHANGELOG.md
  src/components/popover/PopoverManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

cleanup demos
  src/demos/sortable-list-nested.html
  src/demos/sortable-list.html
Due: prettier --write

cleanup
  src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix navigation screenshot test
  src/components/navigation/navigation.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  src/components/stack/stack.stories.ts
  src/components/stack/stack.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove tabindex and focus logo only if href is provided
  src/components/navigation-logo/navigation-logo.e2e.ts
  src/components/navigation-logo/navigation-logo.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tab-nav): ensure selected title is set when tab change event is emitted
  src/components/tab-title/tab-title.tsx
  src/components/tabs/tabs.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop name in the id in favor of numbering
  src/components/tab-title/tab-title.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(combobox, combobox-item): tidy up CSS object usage (#6979)
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons to 3.22.6 (#6984)
  package-lock.json
  package.json
Due: prettier --write

fix(value-list, sortable-list): fix nested sorting components (#6983)
  src/components/sortable-list/sortable-list.tsx
  src/components/value-list/value-list.tsx
  src/demos/sortable-list.html
  src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(stack): Adds new `Stack` component to arrange content and actions (#6903)
  src/components/stack/readme.md
  src/components/stack/resources.ts
  src/components/stack/stack.e2e.ts
  src/components/stack/stack.scss
  src/components/stack/stack.stories.ts
  src/components/stack/stack.tsx
  src/components/stack/usage/Basic.md
  src/components/stack/usage/Disabled.md
  src/demos/stack.html
  src/index.html
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

update readme files
  src/components/navigation-logo/readme.md
  src/components/navigation-user/navigation-user.tsx
  src/components/navigation-user/readme.md
  src/components/navigation/navigation.stories.ts
  src/components/navigation/navigation.tsx
  src/components/navigation/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(tab-nav): ensure selected title is set when tab change event is emitted (#6986)
  src/components/tab-title/tab-title.tsx
  src/components/tabs/tabs.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add bordered boolean knob to the closable story
  src/components/tabs/tabs.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add feats and fix
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(changelog): organize for release
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(changelog): organize for release (#6987)
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore(release): 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
  readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs: remove popover changelog entry
  CHANGELOG.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: switch main back to master
  .github/workflows/change-milestone.yml
  .github/workflows/chromatic.yml
  .github/workflows/close-milestone.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-next.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/remove-next-changelog-entries.yml
  .github/workflows/teams-release-msg.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  .husky/pre-push
  CONTRIBUTING.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/stencil.config.ts
  support/isNextDeployable.ts
  support/removeNextChangelogEntries.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs: add back release-please updater comments
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: cleanup npm scripts
  package-lock.json
  package.json
Due: prettier --write

chore: update dependabot
  .github/dependabot.yml
Due: prettier --write

chore: cleanup
  .github/workflows/add-bug-priority-label.yml
  .github/workflows/close-milestone.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/.lintstagedrc.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(list): child list-items do not appear in filter results #6574
  src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

demo
  src/demos/list.html
Due: prettier --write

fix(input-time-picker): ensure dynamic date/time locale config imports are compatible with bundlers that require static import paths
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(dom): drop duplicate test
  src/utils/dom.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: tidy up imports
  src/components/chip/chip.tsx
  src/components/fab/fab.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.tsx
  src/components/list-item-group/list-item-group.e2e.ts
  src/components/stack/stack.e2e.ts
  src/components/tree-item/tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(menu): ensure role type is compatible with Stencil's HTMLAttributes interface
  src/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons to 3.22.7
  package-lock.json
  package.json
Due: prettier --write

Updates
  tokens/calcite/dark.json
Due: prettier --write

test: adding tests
  tools/_mocks_/mockPlatformTokens.ts
  tools/_mocks_/mockStyleDictionaryTokens.ts
  tools/_mocks_/mockTokensFromTokenStudio.ts
  tools/_mocks_/mockTransformedTokens.ts
  tools/token-transformer/format/scss.test.ts
  tools/token-transformer/format/scss.ts
  tools/token-transformer/parse/expandComposites.test.ts
  tools/token-transformer/utils/compositeTokens.test.ts
  tools/token-transformer/utils/compositeTokens.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons to 3.22.7 (#6999)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{json,html,yml}) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
