Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

reflect layout prop
  src/components/menu-item/menu-item.tsx
  src/index.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: use composed path to check for action click
  src/components/tree-item/tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

handle action keyboard events
  src/components/tree-item/tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

doc feedback changes
  src/components/menu-item/menu-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: add test for keyboard activation of tree action
  src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add displayMode prop
  src/components/shell-panel/interfaces.d.ts
  src/components/shell-panel/shell-panel.scss
  src/components/shell-panel/shell-panel.tsx
  src/demos/shell/display-mode.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: find/replace master to main
  .github/workflows/chromatic.yml
  .github/workflows/close-milestone.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-next.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/teams-release-msg.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  .husky/pre-push
  .storybook/utils.tsx
  CONTRIBUTING.md
  conventions/Accessibility/AccessibilityDeveloper.md
  conventions/Documentation.md
  conventions/Internationalization.md
  conventions/README.md
  conventions/Styling.md
  conventions/Testing.md
  package.json
  src/assets/styles/readme.md
  src/components/color-picker/color-picker.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/slider/slider.tsx
  src/components/tab-title/tab-title.tsx
  src/components/value-list-item/value-list-item.tsx
  stencil.config.ts
  support/checkSquashMergeableBranch.ts
  support/deployNextFromCI.ts
  support/isNextDeployable.ts
  support/prepReleaseCommit.ts
  support/prepublish.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

cleanup
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test
  src/components/shell-panel/shell-panel.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  src/components/menu-item/menu-item.scss
Due: none

update test apps
  src/demos/mode/auto.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/popup-config-example.html
Due: prettier --write

story
  src/components/shell/shell.stories.ts
  src/demos/shell/display-mode.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix separator
  src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

story
  src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feedback changes
  src/components/menu-item/menu-item.tsx
  src/components/menu/menu.tsx
  src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Update display mode demo
  src/demos/shell/display-mode.html
Due: prettier --write

Update `detached` spacing when in `layout="horizontal"`
  src/components/shell-panel/shell-panel.scss
Due: none

chore: skip failing tests, remove comment
  src/components/tooltip/tooltip.e2e.ts
  src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(styles): Add additional animation classes
  src/assets/styles/_animation.scss
  src/demos/animation/animation.html
  src/tests/globalStyles.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(tooltip): stabilize tests
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up and remove animation skipping to troubleshoot open/close event error
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop missed util reference
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree): allow selection of parent category w/out selecting children (#6926)
  src/components/tooltip/tooltip.e2e.ts
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
  src/demos/tree.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons to 3.22.4
  package-lock.json
  package.json
Due: prettier --write

feat(styles): Add additional animation classes (#6928)
  src/assets/styles/_animation.scss
  src/demos/animation/animation.html
  src/tests/globalStyles.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump calcite-ui-icons to 3.22.4 (#6931)
  package-lock.json
  package.json
Due: prettier --write

cleanup
  src/components/tab-nav/tab-nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  package-lock.json
  package.json
Due: prettier --write

test: set up hidden test helper to run a test per use case
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: set up focusable test helper to run a test per use case
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor helpers to be used within describe blocks
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-group/action-group.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/checkbox/checkbox.e2e.ts
  src/components/chip/chip.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/date-picker/date-picker.e2e.ts
  src/components/dropdown-item/dropdown-item.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/list-item/list-item.e2e.ts
  src/components/list/list.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/pagination/pagination.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/popover/popover.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Updates to the calcite figna styles test
  tokens/$themes.json
  tokens/calcite/dark.json
  tokens/calcite/light.json
  tokens/semantic.json
Due: prettier --write

Updates
  tokens/$metadata.json
  tokens/$themes.json
  tokens/calcite/grayscale.json
Due: prettier --write

Updates
  tokens/$themes.json
  tokens/calcite/grayscale.json
Due: prettier --write

committing any valid time value in the input always sets and emits hh:mm:ss regardless of step
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

merging in changes from starting
  src/components/input-time-picker/input-time-picker.tsx
  src/demos/input-time-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feedback changes
  src/components/menu-item/Usage/Basic.md
  src/components/menu-item/Usage/Nested-With-Href.md
  src/components/menu-item/menu-item.scss
  src/components/menu-item/menu-item.tsx
  src/components/menu/Usage/Basic.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033
