Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

fixing the spacing between placeholder-icon and text input based on the change to using a flex gap for spacing chips
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

renaming fit-to-line to auto
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/demos/combobox.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

renaming show-all to all
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add angular package to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Due: prettier --write

fix stepbar gap issue
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

chore: fix imports
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleColor.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleStringValue.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/sortByReference.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/parser/utils/add-font-styles.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/parser/utils/excludeParentKeys.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/parser/utils/resolveRelevance.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueAlignFontWeightAndStyle.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueAssetToken.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueStringWrapper.ts
  packages/calcite-design-tokens/support/token-transformer/utils/createTokenReference.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/styleDictionary/platform.ts
  packages/calcite-design-tokens/support/types/tokenStudio/designTokenTypes.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: format extra output for CSS and SCSS
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/types/config.ts
  packages/calcite-design-tokens/support/types/tokenStudio/expandOptions.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: TS output
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: remove color-scheme-imports
  packages/calcite-design-tokens/src/$config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: design-token package exports
  packages/calcite-design-tokens/package.json
Due: prettier --write

fix: design token imports to CC
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/utils/responsive.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: add angular package to issue templates (#8225)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Due: prettier --write

fix(input-number): prevents mutating value on blur
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(token transformer): add tests
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/getFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/filter/finterSource.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameCamelCase.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameCamelCase.test.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameJoinPath.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameKebabCase.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameKebabCase.test.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-number): prevents mutating value on blur (#8226)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(token transformer): switch hex to RGB in RGBA values
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/getReferenceFromValue.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleStringValue.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/hexToRGBA.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueRGBA.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button tokens)!: replace button token with background transparent
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-design-tokens/src/semantic/color.json
Due: prettier --write, stylelint --fix

revert: feat(alert): make component responsive (#8195)
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(color tokens)!: resolve references to tokens
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/components/scrim/scrim.scss
  packages/calcite-components/src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat: add missing color tokens
  packages/calcite-design-tokens/src/semantic/color.json
Due: prettier --write

rename missed color tokens
  packages/calcite-components/calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(typescript tokens): correct types output for JS
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update preset focus color var
  packages/calcite-components/calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: JS token types output
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): fix rendering of open icon. (#8207)
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feedback changes
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/functional/step-bar.tsx
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

renaming display-mode to selection-display and "auto" to "fit"
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/demos/combobox.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#8218)
  package-lock.json
Due: prettier --write

fix: floating ui components will no longer take up space when open is false.
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

updating prop docs per kitty's update [skip-ci]
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix UI regression
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release next
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

cleanup
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

restrict stepbar with layout prop
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

hide overflow when dragging items.
  packages/calcite-components/src/assets/styles/_sortable.scss
Due: prettier --write, stylelint --fix

feat(combobox): limit display of selected items with new selection-display prop (#7912)
  packages/calcite-components/src/components/combobox/assets/combobox/t9n/messages.json
  packages/calcite-components/src/components/combobox/assets/combobox/t9n/messages_en.json
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/demos/combobox.html
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
