Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

style: run prettier from monorepo root (#11337)
  packages/calcite-components-react/eslint.config.mjs
  packages/calcite-components/src/01-introduction.mdx
  packages/calcite-components/src/02-contributing.mdx
  packages/calcite-components/src/03-code-of-conduct.mdx
  packages/calcite-components/src/04-licensing.mdx
  packages/calcite-components/src/06-faq.mdx
  packages/calcite-components/src/07-conventions.mdx
  packages/calcite-components/src/15-internationalization.mdx
  packages/calcite-ui-icons/bin/build-fonts.js
  packages/calcite-ui-icons/docs/app.js
  packages/eslint-config-calcite/core.js
  packages/eslint-config-calcite/jsx.js
  packages/eslint-plugin-calcite-components/eslint.config.mjs
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: address ts-strict-ignore comment (#11379)
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dialog): add 'custom-content' slot (#11072)
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
  packages/calcite-components/src/demos/dialog.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(meter): add fill style for high-contrast mode (#11392)
  packages/calcite-components/src/components/meter/meter.scss
Due: prettier --write, stylelint --fix

fix(popover, tooltip): change display to contents (#11384)
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(flow, flow-item): add component tokens (#11365)
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.scss
  packages/calcite-components/src/components/flow/flow.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/flow.ts
  packages/calcite-components/src/demos/flow.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tree): fix has-children logic (#11347)
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(chip): fix inverse close color (#11363)
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(linting): drop `liberty/use-logical-spec` workaround for left/right props (#11356)
  packages/calcite-components/.stylelintrc-postcss.json
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

fix(combobox): ensure disabled items get proper scale (#11400)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(color-picker): enable responsive layout (#10904)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
  packages/calcite-components/src/components/color-picker/utils.ts
  packages/calcite-components/src/components/graph/interfaces.ts
  packages/calcite-components/src/components/interfaces.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(segmented-control, segmented-control-item): add component tokens (#11359)
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.e2e.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/segmented-control.ts
  packages/calcite-components/src/demos/segmented-control.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add hammer coin and hammer lock (#11396)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/hammer-coin-16.svg
  packages/calcite-ui-icons/icons/hammer-coin-24.svg
  packages/calcite-ui-icons/icons/hammer-coin-32.svg
  packages/calcite-ui-icons/icons/hammer-lock-16.svg
  packages/calcite-ui-icons/icons/hammer-lock-24.svg
  packages/calcite-ui-icons/icons/hammer-lock-32.svg
Due: prettier --write

fix(list): drag event properties `newIndex` and `oldIndex` should only reflect list item indexes (#11402)
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test: fix empty findAll results (#11401)
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/sortable-list/sortable-list.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(inline-editable): add component tokens (#11357)
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/inline-editable.ts
  packages/calcite-components/src/demos/inline-editable.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(combobox): update internal state after custom value is added (#11405)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#11409)
  package-lock.json
Due: prettier --write

fix(dialog): toggle focus-trap on DOM connect and disconnect (#11429)
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(test-utils): add more context to getTag error message (#11422)
  packages/calcite-components/src/tests/commonTests/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(combobx): display selected item when initally opened (#11427)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(form): add ariaHidden property to the hidden form input (#11418)
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(input-date-picker): date selection is independent of days in month (#11433)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(shell-panel): Fix visual issues in `displayMode="float-all"` (#11410)
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/custom-theme/calcite-shell-panel.ts
  packages/calcite-components/src/demos/shell-panel.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(block, loader, progress): remove unnecessary sass import (#11436)
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

fix(carousel): Improve Carousel navigation display (#11439)
  packages/calcite-components/src/components/carousel/carousel.scss
Due: prettier --write, stylelint --fix

feat(block-group, block): add block-group component (#11319)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.scss
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block-group/interfaces.ts
  packages/calcite-components/src/components/block-group/resources.ts
  packages/calcite-components/src/components/block-group/utils.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/utils.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/demos/block.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(list, list-item): use constant for querySelector and remove unnecessary conditional (#11437)
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add dual image area, dual image direction, and dual image location (#11445)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/dual-image-area-16.svg
  packages/calcite-ui-icons/icons/dual-image-area-24.svg
  packages/calcite-ui-icons/icons/dual-image-area-32.svg
  packages/calcite-ui-icons/icons/dual-image-distance-16.svg
  packages/calcite-ui-icons/icons/dual-image-distance-24.svg
  packages/calcite-ui-icons/icons/dual-image-distance-32.svg
  packages/calcite-ui-icons/icons/dual-image-location-16.svg
  packages/calcite-ui-icons/icons/dual-image-location-24.svg
  packages/calcite-ui-icons/icons/dual-image-location-32.svg
Due: prettier --write

feat(text-area): add `limitText` prop to prevent input beyond max-length (#11440)
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(scripts): remove clean-readmes script (#11446)
  packages/calcite-components/package.json
Due: prettier --write

docs(sheet): add default slot for docs (#11461)
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dialog): add focusTrapDisabled property for non-modal dialogs (#11362)
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(date-picker): add component tokens (#11380)
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/date-picker.ts
  packages/calcite-components/src/demos/date-picker.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(time-picker): add description to time picker change event (#11467)
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dialog, modal, popover, sheet): add options prop to customize focus-trap (#11453)
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(table): Fix `bordered` styling in Firefox (#11466)
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix

build: update browserslist db (#11468)
  package-lock.json
Due: prettier --write

refactor(text-area): clear maxLength instead of directly setting it to the default (#11476)
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
