Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

adding additional info about rest of displayMode prop options
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding single-persist to doc comment
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input-time-zone): restore common tests (#7963)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix layering index
  packages/calcite-components/src/assets/styles/_sortable.scss
Due: prettier --write, stylelint --fix

testing against a good and bad case
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

type JSXAttribute, JSXSpreadAttribute, JSXOpeningElement
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-zone): allow searching offsets by Etc/x time zone
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update test
  packages/calcite-components/src/components/modal/modal.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: work out tab-title container clipping to accomodate transparent arrows
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input-time-zone): allow searching offsets by Etc/x time zone (#7978)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: add tokens to theme files
  packages/calcite-design-tokens/src/$themes.json
Due: prettier --write

reword and cleanup
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tabs): normalize token references
  packages/calcite-design-tokens/src/component/tabs.json
Due: prettier --write

ci: don't link design-token version to CC version
  support/syncLinkedPackageVersions.ts
Due: none

ci: don't link design-token version to CC version (#7983)
  support/syncLinkedPackageVersions.ts
Due: none

config and docs
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

fix(token-transformer): handle compound tokens
  packages/calcite-design-tokens/support/run.ts
  packages/calcite-design-tokens/support/token-transformer/format/scss.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
  packages/calcite-design-tokens/support/token-transformer/transform/nameKebabCase.ts
  packages/calcite-design-tokens/support/token-transformer/utils/parseTokenPath.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main
  .release-please-manifest.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore: release main (#7961)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore: add @esri/calcite-design-tokens to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Due: prettier --write

feat: refactor tokentransformer to reduce file size
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/run.ts
  packages/calcite-design-tokens/support/token-transformer/filter/filterSource.ts
  packages/calcite-design-tokens/support/token-transformer/format/css.ts
  packages/calcite-design-tokens/support/token-transformer/format/scss.ts
  packages/calcite-design-tokens/support/token-transformer/format/update/indexFile.ts
  packages/calcite-design-tokens/support/token-transformer/format/update/mixinsFile.ts
  packages/calcite-design-tokens/support/token-transformer/format/utils/importedReferenceList.ts
  packages/calcite-design-tokens/support/token-transformer/parse/expandComposites.test.ts
  packages/calcite-design-tokens/support/token-transformer/parse/expandComposites.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionaryRunner.ts
  packages/calcite-design-tokens/support/token-transformer/transform/nameCamelCase.ts
  packages/calcite-design-tokens/support/token-transformer/transform/nameKebabCase.ts
  packages/calcite-design-tokens/support/token-transformer/transform/valueStringWrapper.ts
  packages/calcite-design-tokens/support/token-transformer/utils/setPlatform.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: refactor tokens to reduce file size
  packages/calcite-design-tokens/src/calcite/dark.json
  packages/calcite-design-tokens/src/calcite/light.json
  packages/calcite-design-tokens/src/component/accordion-item/base.json
  packages/calcite-design-tokens/src/component/accordion-item/dark.json
  packages/calcite-design-tokens/src/component/accordion-item/light.json
  packages/calcite-design-tokens/src/core.json
Due: prettier --write

feat: add mode publisher to manage component modes
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/utils/modePublisher.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add disabled property to step-bar
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/interfaces.ts
  packages/calcite-components/src/components/stepper/step-bar.tsx
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat: add XXS breakpoint to tokens
  packages/calcite-design-tokens/src/core.json
Due: prettier --write

feat: reorganize breakpoints to be clearer
  packages/calcite-design-tokens/src/core.json
Due: prettier --write

fix: resort package.json
  package.json
Due: prettier --write

fix: remove unused yargs type
  package.json
Due: prettier --write

feat: add xxs breakpoint to tokens (#7992)
  packages/calcite-design-tokens/src/core.json
Due: prettier --write

chore: align expected node engine with volta
  package.json
Due: prettier --write

chore(markdownlint): fix path to gitignore in design-tokens
  packages/calcite-design-tokens/package.json
Due: prettier --write

feat: add height breakpoints
  packages/calcite-design-tokens/src/core.json
Due: prettier --write

fix number text color when selected and complete
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

README.md
  packages/eslint-plugin-calcite-components/README.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json
