Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

Updates
  tokens/$themes.json
Due: prettier --write

Updates
  tokens/component/combobox.json
Due: prettier --write

feat(menu,menu-item): hide overflowing menu items in menubar
  src/components/menu-item/menu-item.tsx
  src/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

localize input value back to old value when default behavior is prevented
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: continued
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/alert/alert.e2e.ts
  src/components/block/block.e2e.ts
  src/components/card/card.e2e.ts
  src/components/graph/graph.e2e.ts
  src/components/pick-list-group/pick-list-group.e2e.ts
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list/pick-list.e2e.ts
  src/components/popover/popover.e2e.ts
  src/components/progress/progress.e2e.ts
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/scrim/scrim.e2e.ts
  src/components/select/select.e2e.ts
  src/components/shell-center-row/shell-center-row.e2e.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell/shell.e2e.ts
  src/components/sortable-list/sortable-list.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/switch/switch.e2e.ts
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tabs/tabs.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/components/tile-select-group/tile-select-group.e2e.ts
  src/components/tile-select/tile-select.e2e.ts
  src/components/tile/tile.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/tip-group/tip-group.e2e.ts
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip/tip.e2e.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree/tree.e2e.ts
  src/components/value-list-item/value-list-item.e2e.ts
  src/components/value-list/value-list.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

display alpha channel under color mode section
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

improve channel layout
  src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix

fix hex-input value clearing
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

preserve alpha when nudging hex
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: adds support and community to issue template chooser (#6867)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

feat(nav,nav-logo,nav-user): Add nav, nav-logo & nav-user components.
  src/components/nav-logo/nav-logo.e2e.ts
  src/components/nav-logo/nav-logo.scss
  src/components/nav-logo/nav-logo.stories.ts
  src/components/nav-logo/nav-logo.tsx
  src/components/nav-logo/readme.md
  src/components/nav-logo/resources.ts
  src/components/nav-user/nav-user.e2e.ts
  src/components/nav-user/nav-user.scss
  src/components/nav-user/nav-user.stories.ts
  src/components/nav-user/nav-user.tsx
  src/components/nav-user/readme.md
  src/components/nav-user/resources.ts
  src/components/nav/nav.e2e.ts
  src/components/nav/nav.scss
  src/components/nav/nav.stories.ts
  src/components/nav/nav.tsx
  src/components/nav/readme.md
  src/components/nav/resources.ts
  src/demos/_assets/images/acme-logo.svg
  src/demos/_assets/images/dashboard-logo.svg
  src/demos/_assets/images/dev-docs.svg
  src/demos/_assets/images/esri-logo.svg
  src/demos/_assets/images/mapviewer-logo.svg
  src/demos/_assets/images/online-logo.svg
  src/demos/_assets/images/quickcapture-logo.svg
  src/demos/_assets/images/scene-viewer.svg
  src/demos/_assets/images/storymaps-logo.svg
  src/demos/_assets/images/survey123-logo.svg
  src/demos/_assets/nav-demos.css
  src/demos/nav.html
  src/index.html
  src/utils/dom.ts
  stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(contributing): community and support guidance
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix closeOnClick.
  src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(contributing): community and support guidance (#6874)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(color-picker): update allowEmpty prop description
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update context for allowEmpty behavior
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Updates
  tokens/$themes.json
  tokens/component/combobox.json
  tokens/component/link.json
Due: prettier --write

WIP: fix failing tests
  src/components/block-section/block-section.e2e.ts
  src/components/graph/graph.e2e.ts
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list/pick-list.e2e.ts
  src/components/text-area/text-area.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  src/tests/setupTests.ts
  stencil.config.ts
  tsconfig-eslint.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  src/components/color-picker/utils.ts
  src/demos/color-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix

add more 2e2 tests
  src/components/nav-logo/nav-logo.e2e.ts
  src/components/nav-logo/nav-logo.tsx
  src/components/nav-user/nav-user.e2e.ts
  src/components/nav-user/nav-user.stories.ts
  src/components/nav-user/nav-user.tsx
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

rename prop in nav and add e2e test
  src/components/nav/nav.e2e.ts
  src/components/nav/nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add demo-dom-swapper wrapper in demo files
  src/demos/nav.html
Due: prettier --write

remove default decorator options
  src/components/nav/nav.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update readme files
  src/components/nav-logo/readme.md
  src/components/nav-user/readme.md
  src/components/nav/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fixing multiple change events being emitted when the value hasn't changed, and explicitly setting the value to an empty string when the delocalized input value is falsy
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

relocalizing the input's value on blur if it doesn't match the recently set value. This can happen when you type an hour greater than 12 for a 12-hour locale
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

clearing input value on blur correctly and also relocalizing input value on blur even if the value didn't actually change
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add test
  src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

allow typing spaces for non-latn numbering systems
  src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Allow typing impartial time values, leaving off seconds will still parse properly regardless of the step setting
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding hour:minute examples to demo
  src/demos/input-time-picker.html
Due: prettier --write

WIP: cleanup
  src/components/block-section/block-section.e2e.ts
  src/components/button/button.e2e.ts
  src/components/card/card.e2e.ts
  src/components/graph/graph.e2e.ts
  src/components/input-message/input-message.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/link/link.e2e.ts
  src/components/list/list.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/option/option.e2e.ts
  src/components/pagination/pagination.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/pick-list-group/pick-list-group.e2e.ts
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list/pick-list.e2e.ts
  src/components/popover/popover.e2e.ts
  src/components/progress/progress.e2e.ts
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/scrim/scrim.e2e.ts
  src/components/select/select.e2e.ts
  src/components/shell-center-row/shell-center-row.e2e.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell/shell.e2e.ts
  src/components/sortable-list/sortable-list.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/tree-item/tree-item.e2e.ts
  src/components/value-list-item/value-list-item.e2e.ts
  src/components/value-list/value-list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

improve spacing
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

WIP: cleanup
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: cleanup
  src/components/icon/icon.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
