Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

remove comment in config
  packages/eslint-config/core.js
Due: none

refactor: add parseInt radix to restore eslint radix rule (#14701)
  .github/scripts/trackMilestoneEstimates.js
  packages/components-snippets/cli.ts
  packages/components/src/components/carousel/carousel.e2e.ts
  packages/components/src/components/carousel/carousel.tsx
  packages/components/src/components/color-picker/resources.ts
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/components/src/components/dialog/dialog.browser.e2e.tsx
  packages/components/src/components/dialog/dialog.e2e.ts
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/utils.ts
  packages/components/src/components/pagination/pagination.tsx
  packages/components/src/components/sheet/sheet.e2e.ts
  packages/components/src/components/shell-panel/shell-panel.e2e.ts
  packages/components/src/components/tab-nav/tab-nav.tsx
  packages/components/src/components/time-picker/time-picker.tsx
  packages/components/src/controllers/useTime.ts
  packages/components/src/utils/date.ts
  packages/components/src/utils/math.ts
  packages/components/src/utils/responsive.ts
  packages/components/src/utils/time.ts
  packages/eslint-config/core.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

chore: drop typescript-strict-plugin (#14705)
  .renovaterc.json
  package-lock.json
  package.json
  packages/components/tsconfig.demos.json
  packages/components/tsconfig.json
Due: prettier --write

chore: ensure all TS config files are strict
  examples/components/angular/tsconfig.json
  packages/components/tsconfig.demos.json
  packages/components/tsconfig.json
  packages/typescript-config/tsconfig.base.json
Due: prettier --write

drop noImplicitAny from demos
  packages/components/src/components/input/common/input.ts
  packages/components/src/controllers/useForm.ts
  packages/components/src/controllers/useForm/validation.ts
  packages/components/src/demos/_assets/head.ts
  packages/components/src/utils/config.ts
  packages/components/src/utils/dom.ts
  packages/components/src/utils/locale.ts
  packages/components/src/utils/logger.ts
  packages/components/tsconfig.demos.json
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix carousel types
  packages/components/src/components/carousel/carousel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

beefing up the useValue test coverage!
  packages/components/src/controllers/useValue.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

removing unnecessary render in mock useValue component classes
  packages/components/src/controllers/useValue.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix Storybook control build errors
  packages/components/src/components/navigation-logo/navigation-logo.stories.ts
  packages/components/src/components/segmented-control/segmented-control.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(rating): fix block size to not encroach on neighboring elements
  packages/components/src/components/rating/rating.scss
Due: prettier --write, stylelint --fix

make lumina config strict
  packages/typescript-config/tsconfig.lumina.json
Due: prettier --write

chore: start working through components
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/avatar/avatar.e2e.ts
  packages/components/src/components/block-group/block-group.e2e.ts
  packages/components/src/components/block-group/block-group.tsx
  packages/components/src/components/block-section/block-section.e2e.ts
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/card-group/card-group.e2e.ts
  packages/components/src/components/carousel/carousel.e2e.ts
  packages/components/src/components/checkbox/checkbox.e2e.ts
  packages/components/src/components/chip-group/chip-group.e2e.ts
  packages/components/src/components/chip/chip.e2e.ts
  packages/components/src/components/chip/chip.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: more improvements
  packages/components/src/components/color-picker/color-picker.e2e.ts
  packages/components/src/components/filter/filter.browser.e2e.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/flow/flow.e2e.ts
  packages/components/src/components/handle/handle.tsx
  packages/components/src/components/input-time-zone/input-time-zone.time-zone.browser.e2e.tsx
  packages/components/src/components/label/label.e2e.ts
  packages/components/src/components/list/list.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: remove unnecessary code. Waiting for formkit dnd fix
  packages/components/index.html
  packages/components/src/controllers/useSortable.browser.spec.tsx
  packages/components/src/controllers/useSortable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix controller, test and util types
  packages/components/src/controllers/useFocusTrap.browser.e2e.tsx
  packages/components/src/controllers/useFocusTrap.ts
  packages/components/src/controllers/useForm/validation.ts
  packages/components/src/controllers/useReferenceElement.browser.spec.tsx
  packages/components/src/controllers/useReferenceElement/manager.browser.spec.tsx
  packages/components/src/controllers/useReferenceElement/manager.ts
  packages/components/src/tests/commonTests/browser/form-associated.ts
  packages/components/src/tests/commonTests/browser/t9n.ts
  packages/components/src/utils/aria.browser.spec.ts
  packages/components/src/utils/aria.ts
  packages/components/src/utils/number.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix tests
  packages/components/src/controllers/useForm/validation.ts
  packages/components/src/controllers/useReferenceElement/manager.ts
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: refactoring
  packages/components/src/controllers/useSortable.browser.spec.tsx
  packages/components/src/controllers/useSortable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: update package
  package-lock.json
  packages/components/package.json
Due: prettier --write

fix combobox test
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(linting): drop warning on page.getBySelector usage in favor of test guidelines doc
  packages/components/eslint.config.mjs
Due: none

chore: canceling events to prevent dom manipulation
  packages/components/src/components/block-group/block-group.e2e.ts
  packages/components/src/components/block-group/block-group.tsx
  packages/components/src/components/list/list.e2e.ts
  packages/components/src/components/list/list.tsx
  packages/components/src/components/sortable-list/sortable-list.e2e.ts
  packages/components/src/components/sortable-list/sortable-list.tsx
  packages/components/src/controllers/useSortable.browser.spec.tsx
  packages/components/src/controllers/useSortable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

alert placement value
  packages/components/src/components/alert/alert.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update components and tests
  packages/components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/components/src/components/segmented-control/segmented-control.e2e.ts
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.e2e.ts
  packages/components/src/components/select/select.tsx
  packages/components/src/components/sheet/sheet.tsx
  packages/components/src/components/shell-panel/interfaces.ts
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/components/shell/shell.tsx
  packages/components/src/components/slider/slider.browser.e2e.tsx
  packages/components/src/components/slider/slider.e2e.ts
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/sortable-list/sortable-list.tsx
  packages/components/src/components/stepper/stepper.browser.e2e.tsx
  packages/components/src/components/stepper/stepper.e2e.ts
  packages/components/src/components/tooltip/tooltip.e2e.ts
  packages/components/src/utils/aria.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix useSizeOverride strict type errors
  packages/components/src/components/sheet/sheet.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update components and tests
  packages/components/src/components/loader/loader.e2e.ts
  packages/components/src/components/menu/menu.e2e.ts
  packages/components/src/components/navigation-logo/navigation-logo.tsx
  packages/components/src/components/navigation-user/navigation-user.tsx
  packages/components/src/components/navigation/navigation.tsx
  packages/components/src/components/notice/notice.tsx
  packages/components/src/components/option/option.e2e.ts
  packages/components/src/components/option/option.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix meter type errors by asserting existence
  packages/components/src/components/meter/meter.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(icon): fix resolution of number-suffixed icons
  packages/components/src/components/icon/interfaces.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use createRef pattern consistently
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use getSlotAssignedElements helper
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove redundant annotation noise
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

simplify conditional
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

be more concise
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove unnecessary awaits
  packages/components/src/components/table/table.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restored removed postfix non-null assertions
  packages/components/src/components/table/table.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use direct required queries
  packages/components/src/components/table/table.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use more accurate variable name
  packages/components/src/components/table-header/table-header.scss
  packages/components/src/components/table/table.scss
Due: prettier --write, stylelint --fix

chore(linting): drop warning on `page.getBySelector` usage in favor of test guidelines doc (#14710)
  packages/components/eslint.config.mjs
Due: none

feat: add user save and weather radar (#14687)
  packages/ui-icons/docs/keywords.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/user-save-16.svg
  packages/ui-icons/icons/user-save-24.svg
  packages/ui-icons/icons/user-save-32.svg
  packages/ui-icons/icons/weather-radar-16.svg
  packages/ui-icons/icons/weather-radar-24.svg
  packages/ui-icons/icons/weather-radar-32.svg
Due: prettier --write

chore: more improvements
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/flow/flow.e2e.ts
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/list-item/interfaces.ts
  packages/components/src/components/list/list.e2e.ts
  packages/components/src/components/list/list.tsx
  packages/components/src/components/select/select.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
