Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

chore: release main (#13063)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
Due: prettier --write, markdownlint --fix

chore: release main (#13063)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
Due: prettier --write, markdownlint --fix

chore: release main (#13063) (#13064)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
Due: prettier --write, markdownlint --fix

chore(combobox): add t9n strings for readonly
  packages/calcite-components/src/components/combobox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.json
Due: prettier --write

docs(examples): update Angular example to v20
  examples/components/angular/.gitignore
  examples/components/angular/.vscode/settings.json
  examples/components/angular/README.md
  examples/components/angular/angular.json
  examples/components/angular/package.json
  examples/components/angular/src/app/app.component.css
  examples/components/angular/src/app/app.component.spec.ts
  examples/components/angular/src/app/app.component.ts
  examples/components/angular/src/app/app.config.ts
  examples/components/angular/src/main.ts
  examples/components/angular/src/styles.css
  examples/components/angular/tsconfig.app.json
  examples/components/angular/tsconfig.json
  examples/components/angular/tsconfig.spec.json
Due: prettier --write, markdownlint --fix

docs(examples): update Angular example to v20 (#13020)
  examples/components/angular/.gitignore
  examples/components/angular/.vscode/settings.json
  examples/components/angular/README.md
  examples/components/angular/angular.json
  examples/components/angular/package.json
  examples/components/angular/src/app/app.component.css
  examples/components/angular/src/app/app.component.spec.ts
  examples/components/angular/src/app/app.component.ts
  examples/components/angular/src/app/app.config.ts
  examples/components/angular/src/main.ts
  examples/components/angular/src/styles.css
  examples/components/angular/tsconfig.app.json
  examples/components/angular/tsconfig.json
  examples/components/angular/tsconfig.spec.json
Due: prettier --write, markdownlint --fix

build(deps): bump `@arcgis` deps to latest (#13059)
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

chore(examples): fix typo
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
Due: prettier --write

chore(examples): fix typo (#13070)
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
Due: prettier --write

chore(combobox): add t9n strings for readonly (#13065)
  packages/calcite-components/src/components/combobox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.json
Due: prettier --write

refactor!: drop legacy VS Code IntelliSense file
  .vscode/settings.json
  examples/components/preact/.vscode/settings.json
  examples/components/rollup/.vscode/settings.json
  examples/components/vite/.vscode/settings.json
  examples/components/vue/.vscode/settings.json
  examples/components/web-dev-server/.vscode/settings.json
  examples/components/webpack/.vscode/settings.json
  packages/calcite-components/package.json
Due: prettier --write

wip
  packages/calcite-components/.storybook/preview-head.html
  packages/calcite-components/src/components/dialog/dialog.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(action-pad): fix replacement suggestion in deprecation message
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

dry up code, more descriptive var names, drop waitForChanges after calling interaction APIs, drop describe block and wrapper for test case
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/utils/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/dialog/dialog.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

fix(option): improve whitespace handling
  packages/calcite-components/src/components/option/option.e2e.ts
  packages/calcite-components/src/components/option/option.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(action, action-bar, action-pad): add helper function to filter unwanted values
  packages/calcite-components/.storybook/utils.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(action-pad): fix replacement suggestion in deprecation message (#13073)
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: wip
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add tests
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(action, action-bar, action-pad): remove unneeded typing
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: wip
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

chore: cleanup
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/styles/global/_legacy.scss
  packages/calcite-components/src/styles/shared/_floating-ui.scss
Due: prettier --write, stylelint --fix

update test
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix stories
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): set status to "Done" only if issue is not labeled "design" (#13060)
  .github/scripts/monday/updateLabels.js
  .github/scripts/support/monday.js
  .github/scripts/support/utils.js
Due: none

ci(actions): sync assigned status when an assigned issue no longer has lifecycle labels (#13057)
  .github/scripts/monday/removeLabel.js
Due: none

revert changes regarding scrim vs backdrop
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
  packages/calcite-components/src/components/sheet/resources.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

dry up setting styles in e2e, make height and width apply max and min in a similar fashion
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

drop remaining script call
  packages/calcite-components/package.json
Due: prettier --write

cleanup story
  packages/calcite-components/src/components/popover/popover.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): run script on every `unlabeled` event so assigned logic always fires
  .github/scripts/monday/removeLabel.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write

fix story
  packages/calcite-components/src/components/popover/popover.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

docs: update 3rd party licenses
  packages/calcite-components-react/THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
  packages/calcite-tailwind-preset/THIRD-PARTY-LICENSES.md
  packages/eslint-plugin-calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

refactor!: drop legacy VS Code IntelliSense file (#13072)
  .vscode/settings.json
  examples/components/preact/.vscode/settings.json
  examples/components/rollup/.vscode/settings.json
  examples/components/vite/.vscode/settings.json
  examples/components/vue/.vscode/settings.json
  examples/components/web-dev-server/.vscode/settings.json
  examples/components/webpack/.vscode/settings.json
  packages/calcite-components/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
