Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

revert import
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add tests
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tree): restore tabbing through items
  packages/components/src/components/tree/tree.browser.e2e.tsx
  packages/components/src/components/tree/tree.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tree): restore tabbing through items (#14441)
  packages/components/src/components/tree/tree.browser.e2e.tsx
  packages/components/src/components/tree/tree.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): refresh filter item data when list item and group properties change
  packages/components/src/components/list-item-group/list-item-group.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/components/src/components/list-item-group/list-item-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix build
  packages/components/src/components/list/list.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tabs): Add `last-tab-closable` functionality
  packages/components/src/components/tab-nav/tab-nav.tsx
  packages/components/src/components/tabs/tabs.e2e.ts
  packages/components/src/components/tabs/tabs.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/components/src/components/carousel/carousel.e2e.ts
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/carousel/carousel.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(linting): specify Fragment name
  packages/components/eslint.config.mjs
Due: none

chore(linting): specify Fragment name (#14447)
  packages/components/eslint.config.mjs
Due: none

fix(useForm): resolve typing issue after TS version bump
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: wip
  packages/components/src/controllers/useSortable.browser.spec.tsx
  packages/components/src/controllers/useSortable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block): update newly added css tokens
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.scss
  packages/components/src/custom-theme/block.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-date-picker): ensure focus is properly restored when wrapped in shadow DOM and nested in another focus-trapping component
  package-lock.json
  packages/components/package.json
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-date-picker): bump `focus-trap` to pick up shadow DOM focus-handling fix (#14381)
  package-lock.json
  packages/components/package.json
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/components/src/components/carousel/carousel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/list-item-group/list-item-group.tsx
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(useForm): resolve typing issue (#14448)
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(navigation): set scale on nested calcite navigation (#14428)
  packages/components/src/components/navigation/navigation.browser.e2e.tsx
  packages/components/src/components/navigation/navigation.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): refresh filter item data when list item and group properties change (#14442)
  packages/components/src/components/list-item-group/list-item-group.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/components/src/components/tabs/tabs.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update segmented-control-item to inherit parent corner-radius
  packages/components/src/components/segmented-control-item/segmented-control-item.scss
Due: prettier --write, stylelint --fix

add input-time-zone corner-radius token
  packages/components/src/components/input-time-zone/input-time-zone.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/components/src/components/segmented-control-item/segmented-control-item.scss
Due: prettier --write, stylelint --fix

update browser tests
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

move contribution clause
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

add links to Apache license
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

chore: improve demo-form logging to include array-type form data
  packages/components/src/demos/_assets/demo-form.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add const for attributeFilter
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

update story
  packages/components/src/components/action-bar/action-bar.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

skipping unstable test
  packages/components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): preserve filter input value across rerenders before debounce sync
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block): independently style icons based on CSS tokens (#14423)
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.scss
  packages/components/src/custom-theme/block.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix test
  packages/components/src/components/list/list.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

drop duplicate clause
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, markdownlint --fix

test: fix tests
  packages/components/src/components/list/list.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
