Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

docs(ban-events): fix typo
  packages/eslint-plugin-calcite-components/docs/ban-events.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

feat(rating, slider): remove validation message top padding in slider
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

deprecate: deprecate `require-event-emitter-type` rule
  packages/eslint-plugin-calcite-components/docs/require-event-emitter-type.md
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

deprecate: deprecate `require-event-emitter-type` rule (#10638)
  packages/eslint-plugin-calcite-components/docs/require-event-emitter-type.md
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

review comment 1
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

changing @link to @see
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor to use self-documenting variable
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

moving norwegian comment closer to where it applies
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

rolling back translation test name change
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

removing describe blocks that only include 1 test
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

removing redundant renders tests that are covered the l10n describe block
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: updated icons
  packages/calcite-ui-icons/icons/collaboration-user-24.svg
  packages/calcite-ui-icons/icons/properties-16.svg
  packages/calcite-ui-icons/icons/text-button-16.svg
  packages/calcite-ui-icons/icons/text-button-24.svg
  packages/calcite-ui-icons/icons/text-button-32.svg
Due: none

fix: launched ref page
  packages/calcite-ui-icons/icons/collaboration-user-24.svg
  packages/calcite-ui-icons/icons/properties-16.svg
  packages/calcite-ui-icons/icons/text-button-16.svg
  packages/calcite-ui-icons/icons/text-button-24.svg
  packages/calcite-ui-icons/icons/text-button-32.svg
Due: none

fix(input-date-picker): no longer renders empty input
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

reverting first review change to see if that fixes broken tests
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(rating, slider): add validation message to support form error handling (#10621)
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/rating/resources.ts
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/demos/rating.html
  packages/calcite-components/src/demos/slider.html
  packages/calcite-components/src/demos/validation.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

drop invalid rules and update rest
  package-lock.json
  package.json
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/ban-props-on-host.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/docs/require-event-emitter-type.md
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/rollup.config.ts
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-events.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/src/rules/no-dynamic-createelement.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

deprecate: deprecate `ban-props-on-host` rule
  packages/eslint-plugin-calcite-components/docs/ban-props-on-host.md
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

update VSCode settings to ensure TS consistency
  .vscode/settings.json
Due: prettier --write

docs(ban-events): fix typo (#10637)
  packages/eslint-plugin-calcite-components/docs/ban-events.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

use ceil instead of round
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.scss
  packages/calcite-components/src/components/flow/flow.tsx
  packages/calcite-components/src/components/flow/interfaces.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(token-transformer): clean up functions and allow multiple source paths
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/types/config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: update collaboration user, properties, text-button (#10640)
  packages/calcite-ui-icons/icons/collaboration-user-24.svg
  packages/calcite-ui-icons/icons/properties-16.svg
  packages/calcite-ui-icons/icons/text-button-16.svg
  packages/calcite-ui-icons/icons/text-button-24.svg
  packages/calcite-ui-icons/icons/text-button-32.svg
Due: none

feat(color-tokens): add focus color
  packages/calcite-design-tokens/src/semantic/color.json
Due: prettier --write

review fixes
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(tokens): remove extra folder
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/src/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(tokens): remove extra file
  packages/calcite-design-tokens/src/global/color.json
Due: prettier --write

test(tokens): add focus color to snapshot
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
Due: none

fix test maybe
  packages/calcite-components/src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/sort-handle/sort-handle.stories.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix eslint-plugin-calcite-components build output
  package-lock.json
  package.json
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/rollup.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove event + property that are no longer relevant
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove tokens
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(navigation): add component tokens
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/navigation/navigation.e2e.ts
  packages/calcite-components/src/components/navigation/navigation.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/navigation.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor
  packages/calcite-components/src/components/navigation/navigation.e2e.ts
  packages/calcite-components/src/components/navigation/navigation.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(font): mark tokens for deprecation.
  packages/calcite-design-tokens/src/semantic/font.json
Due: prettier --write

fix(font): set font weight bold to semibold core token
  packages/calcite-design-tokens/src/semantic/font.json
Due: prettier --write
