Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

should not be modal
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add core and semantic rem tokens
  packages/calcite-design-tokens/src/tokens/core/size.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

docs(conventions): adjust forward slash rule to include reason
  packages/calcite-components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

docs(conventions): add guidance to avoid forward slashes in token descriptions (#13041)
  packages/calcite-components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

updated description and test for readonly screen reader message
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test coverage
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/utils/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): bump focus-trap
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

restore internal values for min max for height
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

build(deps): bump `focus-trap` (#13048)
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(combobox-item): emit calciteComboboxItemChange event on Enter key
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): add range to next-deps
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
Due: prettier --write

drop ranges for internal (monorepo) deps
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
Due: prettier --write

cleanup test name
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: drop remaining component readme files (#13032)
  packages/calcite-components/src/components/swatch-group/readme.md
  packages/calcite-components/src/components/swatch/readme.md
Due: prettier --write, markdownlint --fix

drop ^ from internal/monorepo deps
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
Due: prettier --write

update release-please to bump peer deps
  release-please-config.json
Due: prettier --write

Add component label action
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/scripts/addComponentLabel.js
  .github/workflows/issue-add-labels.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

build(deps): tweak dep ranges (#13052)
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
  release-please-config.json
Due: prettier --write

feat(action, action-bar, action-pad): add selectionAppearance prop to storybook
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): tweak dep ranges
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
  release-please-config.json
Due: prettier --write

ci(actions): sync `Assigned` when issue assigned and all lifecycle labels are removed
  .github/scripts/monday/removeLabel.js
Due: none

fix(button): add backward compatibility for --calcite-ui-icon-color token
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

bump @arcgis deps to latest
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

build(deps): bump `@arcgis` deps to latest
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

ci(actions): set status to "Done" only if issue is not labeled "design"
  .github/scripts/monday/updateLabels.js
  .github/scripts/support/monday.js
  .github/scripts/support/utils.js
Due: none

build(deps): tweak dep ranges (#13054)
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
  release-please-config.json
Due: prettier --write

add e2e test
  packages/calcite-components/src/components/button/button.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update description message to NLS string
  packages/calcite-components/src/components/combobox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.json
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(action, action-bar, action-pad): display higlhight css when action is active
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

fix(button): add backward compatibility for `--calcite-ui-icon-color` token (#13058)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(button, split-button): reword `icon-color` token docs to avoid forward slash (#13040)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/split-button/split-button.scss
Due: prettier --write, stylelint --fix

chore: fix stories
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/styles/shared/_floating-ui.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

dont crop viewport
  packages/calcite-components/src/components/dialog/dialog.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
Due: prettier --write, markdownlint --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
