Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

cleanup
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

stories
  packages/components/src/components/action-bar/action-bar.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/action-bar/action-bar.stories.ts
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update angular project description
  examples/components/angular/package.json
Due: prettier --write

use shortened setAssetPath import
  examples/components/react-18-and-below/README.md
  examples/components/react-18-and-below/src/main.tsx
  examples/components/react-19-and-above/README.md
  examples/components/react-19-and-above/src/main.tsx
Due: prettier --write, markdownlint --fix

add reference to react docs for custom element support
  examples/components/react-18-and-below/README.md
  packages/components-react/README.md
Due: prettier --write, markdownlint --fix

cleanup
  examples/components/react-18-and-below/package.json
  examples/components/react-19-and-above/tsconfig.app.tsbuildinfo
  examples/components/react-19-and-above/tsconfig.node.tsbuildinfo
Due: prettier --write

feat(panel, dialog, flow): add space tokens for `"content-top"` and `"content-bottom"` slots #10380
  packages/components/src/components/dialog/dialog.e2e.ts
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/flow-item/flow-item.e2e.ts
  packages/components/src/components/flow-item/flow-item.scss
  packages/components/src/components/panel/panel.e2e.ts
  packages/components/src/components/panel/panel.scss
  packages/components/src/custom-theme/dialog.ts
  packages/components/src/custom-theme/flow.ts
  packages/components/src/custom-theme/panel.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/panel/panel.e2e.ts
  packages/components/src/components/panel/panel.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(chromatic): restore baseline snapshot sync
  .github/workflows/chromatic.yml
Due: prettier --write

Update packages/components/src/custom-theme/dialog.ts
  packages/components/src/custom-theme/dialog.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

extract common steps to composite actions
  .github/workflows/chromatic.yml
  .github/workflows/chromatic/build-storybook/action.yml
  .github/workflows/chromatic/publish/action.yml
Due: prettier --write

fix typo
  .github/workflows/chromatic.yml
Due: prettier --write

add context on pr-specific Chromatic env vars
  .github/workflows/chromatic.yml
Due: prettier --write

added unit tests as per review comments
  packages/components/src/components/action-group/action-group.browser.e2e.tsx
  packages/components/src/components/action-group/action-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(chromatic): restore baseline snapshot sync (#14000)
  .github/workflows/chromatic.yml
  .github/workflows/chromatic/build-storybook/action.yml
  .github/workflows/chromatic/publish/action.yml
Due: prettier --write

fix(stepper): only stepper content should expand to available height #12786
  packages/components/src/components/stepper/stepper.scss
  packages/components/src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/stepper/stepper.stories.ts
  packages/components/src/components/stepper/stepper.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update comment
  packages/components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

add browser test
  packages/components/src/components/stepper/stepper.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/stepper/stepper.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/stepper/stepper.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(chromatic): restore running on force-pushes to PRs
  .github/workflows/chromatic.yml
Due: prettier --write

fix story
  packages/components/src/custom-theme/button.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#13866)
  package-lock.json
Due: prettier --write

fix(combobox): honor max-items property (#13959)
  packages/components/src/components/combobox/combobox.stories.ts
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(chromatic): restore running on force-pushes to PRs (#14002)
  .github/workflows/chromatic.yml
Due: prettier --write

docs: add react 19+ example, update React wrapper example, and remove @esri/calcite-components-angular reference (#13936)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  examples/components/angular/package.json
  examples/components/react-18-and-below/.gitignore
  examples/components/react-18-and-below/README.md
  examples/components/react-18-and-below/eslint.config.js
  examples/components/react-18-and-below/index.html
  examples/components/react-18-and-below/package.json
  examples/components/react-18-and-below/src/App.css
  examples/components/react-18-and-below/src/App.tsx
  examples/components/react-18-and-below/src/index.css
  examples/components/react-18-and-below/src/main.tsx
  examples/components/react-18-and-below/tsconfig.app.json
  examples/components/react-18-and-below/tsconfig.json
  examples/components/react-18-and-below/tsconfig.node.json
  examples/components/react-18-and-below/vite.config.ts
  examples/components/react-19-and-above/.gitignore
  examples/components/react-19-and-above/README.md
  examples/components/react-19-and-above/eslint.config.js
  examples/components/react-19-and-above/index.html
  examples/components/react-19-and-above/package.json
  examples/components/react-19-and-above/src/App.css
  examples/components/react-19-and-above/src/App.tsx
  examples/components/react-19-and-above/src/index.css
  examples/components/react-19-and-above/src/main.tsx
  examples/components/react-19-and-above/tsconfig.app.json
  examples/components/react-19-and-above/tsconfig.json
  examples/components/react-19-and-above/tsconfig.node.json
  examples/components/react-19-and-above/vite.config.ts
  packages/components-react/README.md
  release-please-config.json
Due: prettier --write, markdownlint --fix

avoid extra renders
  packages/components/src/components/action-group/action-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

testing luminaFormAssociatedCallback. Doesn't seem to be working
  packages/components/src/components/input-text/input-text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
