Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

fix(shell, shell-panel): support resizing shell panel when there is an iframe slotted in shell content. #8156
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

renaming
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test: textarea stories
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/text-area/text-area.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: line-height tokens should display as REM
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueToREM.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: add missing transparent color
  packages/calcite-design-tokens/src/semantic/color.json
Due: prettier --write

fix: alert component should reference the transparent-tint color for it’s dismiss-progress bg
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test: fix snapshot tests for tokens
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
Due: none

fxi screenshot test
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(dropdown): fix dropdown E2E suite grouping
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(card)!: remove deprecated `deselected` message (#8099)
  packages/calcite-components/src/components/card/assets/card/t9n/messages.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_en.json
  packages/calcite-components/support/generateT9nDocsJSON.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): bump stencil-eslint-core
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

build(deps)!: bump Stencil to v4 (#8108)
  package-lock.json
  package.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchJSXImport.ts
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/icon/utils.spec.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/iconPathDataStub.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  packages/calcite-components/support/patchTreeShaking.ts
  packages/calcite-components/tsconfig-eslint.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(jest, turbo): resolve test run failures (#8209)
  packages/calcite-components/stencil.config.ts
  turbo.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(i18n)!: reduce list of supported numbering systems (#8217)
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/demos/_assets/locales.ts
  packages/calcite-components/src/demos/date-picker.html
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: use `enableImportInjection` extras config option instead of the deprecated `experimentalImportInjection` (#8200)
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: drop unnecessary double build type workaround since components.d.ts is now tracked (#8199)
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/stencilDoubleBuildTypesWorkaround.sh
  packages/calcite-components/package.json
  packages/calcite-components/support/buildForPreambleVersion.sh
Due: prettier --write

build(deps): bump @stencil/core (#8213)
  package-lock.json
  packages/calcite-components-angular/package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

fix(dropdown)!: change display to inline-block to ease truncation setup (#8253)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(modal)!: rename `width` property to `widthScale` (#8252)
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(react)!: disable includeImportCustomElements to resolve initial render issues (#8248)
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchSSR.ts
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(dropdown)!: rename `width` property to `widthScale` (#8251)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/demos/dropdown.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(stepper): enable responsive layout (#7744)
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

build: update browserslist db (#8218)
  package-lock.json
Due: prettier --write

fix(list-item): adds border between grouped and ungrouped list-items (#8134)
  packages/calcite-components/src/components/list/list.scss
Due: prettier --write, stylelint --fix

test(tokens): skip outdated tests
  packages/calcite-design-tokens/support/tests/index.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(tokens): update outdated token names and imports
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(lerna, markdownlint): fix changelog linting issue on pre-commit
  .lintstagedrc.json
  support/syncLinkedPackageVersions.ts
Due: prettier --write

fix(button, list, pick-list, value-list)!: prevent loading prop from affecting interactivity (#8292)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/pick-list/pick-list.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/value-list/value-list.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown): restore trigger container height
  packages/calcite-components/src/components/dropdown/dropdown.scss
Due: prettier --write, stylelint --fix

refactor(core tokens): split core tokens into groups (#8279)
  packages/calcite-design-tokens/src/core/box-shadow.json
  packages/calcite-design-tokens/src/core/color.json
  packages/calcite-design-tokens/src/core/container-size.json
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/core/opacity.json
  packages/calcite-design-tokens/src/core/sizing.json
  packages/calcite-design-tokens/src/core/stacking.json
  packages/calcite-design-tokens/src/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(modal): update fullscreen context to updated widthScale prop (#8313)
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: add json to design token output (#8290)
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/setTokenNameByPlatform.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/platform.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: update json shape for docs (#8308)
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/setTokenNameByPlatform.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/platform.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat!: update default main file output for design tokens (#8299)
  packages/calcite-design-tokens/package.json
Due: prettier --write

test(tokens): fix token platform output shape tests (#8298)
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
