Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

address review comments
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/utils.ts
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-pad/action-pad.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(flow-item): remove border from back button (#13449)
  packages/components/src/components/flow-item/flow-item.e2e.ts
  packages/components/src/components/flow-item/flow-item.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

set required props on action
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor stories
  packages/components/src/components/navigation/navigation.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: add demo snippet copy script
  package-lock.json
  package.json
  packages/components/index.html
  packages/components/support/add-demo-snippet.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/components/tab-title/tab-title.scss
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

feat(navigation): update navigation action spacing (#13434)
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/navigation/navigation.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(shell-panel): update calcite-panel default max height
  packages/components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

build: update browserslist db (#13452)
  package-lock.json
Due: prettier --write

fix tests
  packages/components/src/components/tabs/tabs.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

move util to its own package and simplify calls
  package-lock.json
  packages/components-snippets/LICENSE.md
  packages/components-snippets/cli.ts
  packages/components-snippets/package.json
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

add supplemental package contents
  packages/components-snippets/README.md
  packages/components-snippets/eslint.config.mjs
  packages/components-snippets/lint-staged.config.mjs
  packages/components-snippets/tsconfig.eslint.json
  packages/components-snippets/tsconfig.json
Due: prettier --write, markdownlint --fix

refactor(list-item, popover, sort-handle, stepper, tab-nav): remove unnecessary assignment of appearance=transparent (default) on actions
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/stepper/stepper.tsx
  packages/components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(notice): add token for customizing border-radius (#13447)
  packages/components/src/components/notice/notice.e2e.ts
  packages/components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(shell-panel): update default max height for slotted calcite-panel (#13454)
  packages/components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

feat: added icons
  packages/ui-icons/icons/file-esl-16.svg
  packages/ui-icons/icons/file-esl-24.svg
  packages/ui-icons/icons/file-esl-32.svg
Due: none

feat: added tags
  packages/ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-esl-16.svg
  packages/ui-icons/icons/file-esl-24.svg
  packages/ui-icons/icons/file-esl-32.svg
Due: prettier --write

feat(block): remove the deprecated --calcite-block-text-color CSS token
  packages/components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

fixing small scale dimensions and the 2 broken tests showing up on CI. Fix for transparent styles forthcoming...
  packages/components/src/components/chip/chip.e2e.ts
  packages/components/src/components/chip/chip.scss
  packages/components/src/components/chip/chip.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(list-item, popover, sort-handle, stepper, tab-nav): remove unnecessary assignment of `appearance=transparent` (default) on actions (#13455)
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/stepper/stepper.tsx
  packages/components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Remove remaining occruences
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add file-esl (#13457)
  packages/ui-icons/docs/keywords.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/file-esl-16.svg
  packages/ui-icons/icons/file-esl-24.svg
  packages/ui-icons/icons/file-esl-32.svg
Due: prettier --write

wip shell panel height
  packages/components/index.html
  packages/components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

fixing the close background hover and press colors
  packages/components/src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

setting outline and outline-fill close icon color to the base fallback because we set it with the overrides down below
  packages/components/src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

cleanup imports, targetEl to pass a ref rather than a node-returning function
  packages/components/src/components/shell-panel/shell-panel.browser.e2e.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(combobox-item): set heading as fallback for a11y props and value
  packages/components/src/components/combobox-item/combobox-item.tsx
  packages/components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove index example
  packages/components/index.html
Due: prettier --write

roll back unrelated changes
  packages/components/src/components/tab-nav/tab-nav.scss
Due: prettier --write, stylelint --fix

feat(action-bar, action-pad, action-group): implement ARIA toolbar pattern with configurable selection modes (#13386)
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/utils.ts
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-pad/action-pad.browser.e2e.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

kinda weird that action doesn't have a close icon hover token, just a press one, but I still named the icon color hover one in chip with the name hover for clarity.
  packages/components/src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

fixing bug in action where the background hover and press color public tokens weren't taking effect in transparent
  packages/components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

feat(tab-title): update to Action 5.0 spacing (#13444)
  packages/components/src/components/tab-title/resources.ts
  packages/components/src/components/tab-title/tab-title.e2e.ts
  packages/components/src/components/tab-title/tab-title.scss
  packages/components/src/components/tab-title/tab-title.tsx
  packages/components/src/components/tabs/tabs.e2e.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

woops, not passing the scale to the action as specified
  packages/components/src/components/chip/chip.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/components/src/demos/_assets/demo-options.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

return bounds for both inline and block, inline functions, improve docs, variable naming, await updateSync, typescript values
  packages/components/src/components/resources.ts
  packages/components/src/components/shell-panel/shell-panel.browser.e2e.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing combobox test bug
  packages/components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
