Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

add screenshot test delay
  packages/components/src/floating-ui.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: improve demo snippet util
  packages/components-snippets/cli.ts
  packages/components/index.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update dir options to ensure matching direction is applied
  packages/components/src/floating-ui.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove delay
  packages/components/src/floating-ui.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(input-date-picker): skip unstable disabled test
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tile): fix excess margins with headingLevel property (#13512)
  packages/components/.stylelintrc.cjs
  packages/components/src/components/tile/tile.scss
  packages/components/src/components/tile/tile.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test: add screenshot story for floating-ui elements in both directions (#13509)
  packages/components/.storybook/decorators/body-dir-reset.ts
  packages/components/.storybook/decorators/theme.ts
  packages/components/.storybook/preview.ts
  packages/components/.storybook/utils.ts
  packages/components/src/floating-ui.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix background of close action in notice
  packages/components/.stylelintrc.cjs
  packages/components/src/components/action/action.scss
  packages/components/src/components/notice/notice.e2e.ts
  packages/components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(shell-panel): improve layout and height functionalities for float all display mode
  packages/components/.stylelintrc.cjs
  packages/components/src/components/shell-panel/shell-panel.scss
  packages/components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix strict TS errors (#13492)
  packages/components/src/components/shell-panel/shell-panel.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: remove obsolete NPM script (#13491)
  packages/components/package.json
Due: prettier --write

test(input-date-picker): skip unstable disabled test (#13514)
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: improve demo snippet util (#13513)
  packages/components-snippets/cli.ts
  packages/components/index.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(demo-options): remove references to removed close button (#13488)
  packages/components/src/demos/_assets/demo-options.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add token to custom theme story
  packages/components/src/custom-theme/notice.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert unrelated changes
  packages/components/.stylelintrc.cjs
Due: none

feat(shell-panel): remove unrelated changes
  packages/components/.stylelintrc.cjs
Due: none

feat(shell-panel): improve layout and height functionalities for float all display mode (#13517)
  packages/components/src/components/shell-panel/shell-panel.scss
  packages/components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(action-group): skip ARIA attributes when selectionMode is
  packages/components/src/components/action-group/action-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restore unintentionally removed open close util
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tweak autocomplete open handler
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(accordion-item): enable support for deprecated icon color variable
  packages/components/.stylelintrc.cjs
  packages/components/src/components/accordion-item/accordion-item.e2e.ts
  packages/components/src/components/accordion-item/accordion-item.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(accordion-item): add story demonstrating deprecated icon variable usage
  packages/components/src/components/accordion/accordion.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Updated to include new icon tag and eliminated duplicate entries
  packages/ui-icons/docs/keywords.json
Due: prettier --write

docs: update keywords.json (#13395)
  packages/ui-icons/docs/keywords.json
Due: prettier --write

ci: add Maps for Adobe Creative Cloud team to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

chore: add Maps for Adobe Creative Cloud team to issue template (#13526)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

fix(action): allow background color to be changed with transparent appearance
  packages/components/src/components/action/action.e2e.ts
  packages/components/src/components/action/action.scss
  packages/components/src/components/action/action.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(button): allow customizing background color, and hover and press background colors
  packages/components/src/components/button/button.e2e.ts
  packages/components/src/components/button/button.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: summarize component test failures
  .github/workflows/pr-e2e.yml
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/support/log-test-output.mts
  packages/design-tokens/package.json
  packages/eslint-plugin-components/package.json
  turbo.json
Due: prettier --write

docs: update list of contributors (#13521)
  README.md
Due: prettier --write, markdownlint --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

docs: update 3rd party licenses
  packages/components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

docs: update 3rd party licenses (#13553)
  packages/components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

chore: set up `eslint-plugin-storybook`
  package-lock.json
  package.json
  packages/components/eslint.config.mjs
Due: prettier --write

set storybook/prefer-pascal-case severity to error
  packages/components/eslint.config.mjs
Due: none

format
  packages/components/src/components/color-picker-swatch/color-picker-swatch.stories.ts
  packages/components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/navigation-logo/navigation-logo.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix linting errors
  packages/components/src/components/input-number/input-number.stories.ts
  packages/components/src/components/shell/shell.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
