Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix(swatch): Ensure corner radius css property is correctly applied
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/demos/swatch-group.html
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/swatch-group.ts
  packages/calcite-components/src/custom-theme/swatch.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/swatch.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(radio-button-group): deprecate `"grid"` value for `layout` property, add logger (#12832)
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(swatch): Ensure corner radius css property is correctly applied (#12855)
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/swatch-group.ts
  packages/calcite-components/src/custom-theme/swatch.ts
  packages/calcite-components/src/demos/swatch-group.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating a broken test to check input event happens after clearing and change event emits after the input is blurred and thus committed.
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor scrolling logic
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(shell-panel): allow content to extend the full height of the panel #12626
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

fix(dialog): Fix for corner radius token
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing the leading zero tests by preserving values that start with zero, both in the input and in the stored value.
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

fix tests
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix tests
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactoring css
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

Revert "refactoring css"
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

feat(split-button): Add component tokens (#12756)
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/split-button.ts
  packages/calcite-components/src/demos/split-button.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(dialog): Fix for corner radius token (#12859)
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(color-picker): Add component tokens
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.scss
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/demos/color-picker.html
Due: prettier --write, stylelint --fix

fix(shell-panel): allow content to extend the full height of the panel (#12860)
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-tailwind-preset/src/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tooltip): add '--calcite-tooltip-max-size-x' css custom property #12780
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/custom-theme/tooltip.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

validating direct changes to the value
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

sanitizing the value on commit, updating nudge function to call unified inputValue method, updating tests to ensure leading zeros are preserved on input and removed on commit
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tooltip): add css custom property for setting max size (#12865)
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/custom-theme/tooltip.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix tests & add more tests
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): remove designers from assignment when `figma changes` issue installed
  .github/scripts/assignForVerification.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

ci(actions): remove designers secret from verification script env variables
  .github/workflows/issue-notifications.yml
Due: prettier --write

ci(actions): remove designers from assignment when `figma changes` issue installed (#12870)
  .github/scripts/assignForVerification.js
  .github/workflows/issue-notifications.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

update tokens studio export config
  packages/calcite-design-tokens/src/tokens/$themes.json
Due: prettier --write

docs: update list of contributors (#12857)
  README.md
Due: prettier --write, markdownlint --fix

Clean up
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/color-picker.ts
  packages/calcite-components/src/demos/color-picker.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix name from core.color.low-saturation.violet.l-vv-1000 to l-vv-100
  packages/calcite-design-tokens/src/tokens/core/color.json
Due: prettier --write

Clean up
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
