Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.stories.ts
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(button): Add css property for shadow
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/demos/button.html
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/swatch-group/swatch-group.stories.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.stories.ts
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(button): Add css property for shadow (#12603)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/demos/button.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Add stories
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch-group/swatch-group.stories.ts
  packages/calcite-components/src/components/swatch/swatch.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(internalLabel): fix auto-complete slots e2e test
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reverted and added min-height using class
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(examples): address comment wording nitpick
  examples/components/vue/vite.config.ts
Due: none

docs(examples): treat tags including `calcite-` as custom elements (#12600)
  examples/components/vue/vite.config.ts
Due: none

fix demos
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(action): add type property
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix tests
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update semantic.container-size structure
  packages/calcite-design-tokens/src/tokens/semantic/container-size.json
Due: prettier --write

highlightText, spacing, and noMatchesScaledOrAddCustomValue
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-design-tokens/src/tokens/semantic/container-size.json
Due: prettier --write

rename instances of "+" and to "-plus" in semantic.spacing tokens
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

update tokens studio theme data
  packages/calcite-design-tokens/src/tokens/$themes.json
Due: prettier --write

restoring beta changelog on dev, removing event argument
  packages/calcite-components/src/components/input-text/input-text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

removing changelog diff
  packages/calcite-components/CHANGELOG_BETA.md
Due: prettier --write, markdownlint --fix

resolve #7146
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add stories
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/custom-theme/block-section.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): fix visual artifacts when you initiate a drag operation with the drag handle menu open #12204
  packages/calcite-components/src/assets/styles/_sortable.scss
Due: prettier --write, stylelint --fix

feat(list, block-group): add sortDisabled property to prevent reordering #11953
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

added condition for class name
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch-group/swatch-group.scss
  packages/calcite-components/src/components/swatch/swatch.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/swatch-group/swatch-group.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.tsx
  packages/calcite-components/src/demos/swatch-group.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch-group/swatch-group.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix: unpin lit dependency
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

Style adjustments
  packages/calcite-components/src/components/swatch-group/swatch-group.scss
  packages/calcite-components/src/components/swatch/swatch.scss
Due: prettier --write, stylelint --fix

fix(list): added scrim for empty list (#12595)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/swatch-group/resources.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.e2e.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.scss
  packages/calcite-components/src/components/swatch-group/swatch-group.tsx
  packages/calcite-components/src/components/swatch/resources.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add scale prop in block-group
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block-group/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/swatch/resources.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
