Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

fix(list-item, handle): Set drag handle width to 32px and height to 100%
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

fix(list-item): Only render caret cell when item is openable.
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Changes based on feedback
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(f, g, and h-named components): update api description refs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/graph/graph.tsx
  packages/calcite-components/src/components/handle/handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(tab-nav, table, tabs, tile-select, tree, value-list): consistent api description refs (#8535)
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/components/tabs/tabs.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list, list-item, list-item-group): honor hidden attribute on list-item and list-item-group. #8539
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(list-item): Remove unnecessary code for rendering open caret (#8537)
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item-group/list-item-group.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

style: lint changelog, not comnponent readmes
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

ci(update-doc): build design tokens to prevent errors
  .github/workflows/update-doc.yml
Due: prettier --write

ci(update-doc): build the eslint plugin to prevent lint-staged errors
  .github/workflows/update-doc.yml
Due: prettier --write

ci(update-doc): build design tokens to prevent errors (#8542)
  .github/workflows/update-doc.yml
Due: prettier --write

docs: consistent api description refs m thru s-comps
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-user/navigation-user.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input, input-number): support setting value to Infinity and -Infinity
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input, input-number): add e2e test for directly setting value to Infinity
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding optional tags back in
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup selectionMode prop description
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup a couple prop docs
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

simplify calendar render logic
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/year-picker/year-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(i and l-named components): consistent api description refs
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

internalizing container gap
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/tile.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Change event docs wording to "Fires" for consistency across components
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

change "Emits" to "Fires" for event descriptions.
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

misc
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(b and c components): consistent api description refs (#8536)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

change "Emits" to "Fires" for Events docs consistency
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/handle/handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(d, f, g, and h-named components): update api description refs (#8540)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/graph/graph.tsx
  packages/calcite-components/src/components/handle/handle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

simplify tick label rendering
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

separate interfaces
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
