Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

feat(input-date-pickers): adds sub component tokens
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(tile): add content-top and content-bottom slots, deprecate content-start and content-end slots (#8984)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: release main
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore: update common theme-ing tests
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action): add wrapper for testing of the indicator
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(accordion-item): update selector
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up stories
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Add `tooltipsDisabled` property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel-item/carousel-item.tsx
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/carousel-item/carousel-item.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main (#8842)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

build(components.d.ts): update types for release
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(components.d.ts): update types for release (#9008)
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(release): add troubleshooting steps
  documentation/releasing.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

fix(action-bar): remove extranious tokens
  packages/calcite-components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

check event.defaultPrevented before handling keyDown events
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Add `arrowType`, `controlApperance`, `label` properties
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel-item/carousel-item.tsx
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/interfaces.ts
  packages/calcite-components/src/components/carousel/readme.md
  packages/calcite-components/src/components/carousel/resources.ts
  packages/calcite-components/src/demos/carousel.html
  packages/calcite-components/src/demos/meter.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

Clean up
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

event.preventDefault for keys we are handling
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: allow theme tests to penetrate subcomponent shadow dom
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar): remove unused token docs
  packages/calcite-components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

test(action-bar): add theme tests
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert event.preventDefault() for menu-item
  packages/calcite-components/src/components/menu-item/menu-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix start date selection beyond endDate
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-bar): fix tests
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: prevent outdated types from blocking release
  .github/workflows/deploy-latest.yml
Due: prettier --write

chore: add link to pr for context
  .github/workflows/deploy-latest.yml
Due: prettier --write

feat(tile): integrate content-top and content-bottom slots per #8984
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/inline-editable/readme.md
  packages/calcite-components/src/components/tile/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

update selectDayInMonth test util method
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Remove `control-appearance` property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/interfaces.ts
  packages/calcite-components/src/components/carousel/readme.md
  packages/calcite-components/src/components/carousel/resources.ts
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

fix(combobox): truncate long single-select values with title attribute applied
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

onslotchange to set a state for this.el.innerText
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/carousel-item/carousel-item.tsx
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

setTooltipText applied to this.textLabelEl.innerText
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel-item/carousel-item.scss
  packages/calcite-components/src/components/carousel-item/carousel-item.tsx
  packages/calcite-components/src/components/carousel-item/resources.ts
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/resources.ts
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix updating dates from previous and next calendars using keyboard
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/utils/date.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/carousel-item/carousel-item.scss
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test: shows tooltip for combobox with truncated long single-select values
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
