Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

bump up delay
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restore delay
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(accordion-item): fix font size for headingLevel property (#12269)
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(action, action-menu): use private activeDescendant property in place of data attribute (#12257)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-menu/resources.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(table-advanced): add custom table scroll to row
  packages/calcite-components/src/components/table-advanced/table-advanced.tsx
  packages/calcite-components/src/demos/table-advanced.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

assign team
  .github/scripts/assignPullRequestReviewer.js
  .github/scripts/support/resources.js
  .github/workflows/pr-t9n.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

fix(input-time-picker): allow label and aria-label attributes to apply for a11y support
  packages/calcite-components/src/utils/label.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(table-advanced): add custom table filter functions
  packages/calcite-components/src/demos/table-advanced.html
Due: prettier --write

feat(table-advanced): add custom table frozen columns
  packages/calcite-components/src/components/table-advanced/table-advanced.tsx
  packages/calcite-components/src/demos/table-advanced.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(table-advanced): add style row and cell to custom slot table
  packages/calcite-components/src/demos/table-advanced.html
Due: prettier --write

chore: fix waitForEvent lint errors
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(link): drop redundant tests covered by themed/screenshot tests
  packages/calcite-components/src/components/link/link.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Removed unnecessary line of code
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(cancelableResourceController, action-bar): add cancelableResourceController and test utils
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/controllers/cancelableResourceController.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Changed 'toMatch' to 'toBe' for the 'region' suite only
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(button): tighten "type" prop's type from string to three specific values
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: test action
  packages/calcite-components/src/components/accordion/assets/t9n/messages.json
Due: prettier --write

add role attribute to div
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add more test records
  packages/calcite-components/src/components/accordion/assets/t9n/messages.json
Due: prettier --write

refactor(block-section): use appropriate classname for icon-end element
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(button): update type to use native button element type
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reverting getlabeltext changes
  packages/calcite-components/src/utils/label.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

resources will be canceled automatically when the component is disconnected and options?.autoCancelOnDisconnect not provided
  packages/calcite-components/src/controllers/cancelableResourceController.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(button): update `type` prop's type from `string` to native button element type (#12289)
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-time-zone): address code review comments
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-time-picker): add label property (#12276)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

docs(button): correct conflicting JSDoc for `loading` prop
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(stepper-item): remove margin when slotted content is empty
  packages/calcite-components/src/components/stepper-item/resources.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(button): correct conflicting JSDoc for `loading` prop (#12297)
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

rename resource and import
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/controllers/useCancelableResourceController.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: added icons
  packages/calcite-ui-icons/icons/subheading-1-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-32.svg
Due: none

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

refactor(block-section): use appropriate class name for `icon-end` element (#12291)
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(sortable-list): remove unsupported properties from demo (#12265)
  packages/calcite-components/src/demos/sortable-list.html
Due: prettier --write

fixed black bounding boxes and re-launched ref page
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/subheading-1-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-32.svg
Due: prettier --write

bind cancelableResourceController
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: re-added icons
  packages/calcite-ui-icons/icons/subheading-1-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-32.svg
Due: none

feat: launched ref page
  packages/calcite-ui-icons/icons/subheading-1-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-32.svg
Due: none

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
