Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

feat(handle): Add `blurUnselectDisabled` property to disable unselecting handle on blur. (#8483)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(table): Fix double border on `bordered` Table Rows in `table-footer` (#8509)
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix tests
  packages/calcite-components/src/components/handle/handle.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

radio icons
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

WIP
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

fix(list, list-item, list-item-group): update indentation padding and element spacing for better visual hierarchy. #7100
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

feat: add required property to form components that didn't have it
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(date-picker): hard to reproduce numbering-system caching issue
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

update stories
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list-item): Add dragSelected property and calciteListItemDragHandleChange event. #8523
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix hover
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

fix story
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

story fix
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert fatter border
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

revert input-date-picker changes and update date-picker for range
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

build: update browserslist db (#8525)
  package-lock.json
Due: prettier --write

docs(action-bar, action-group, action-pad, alert): consistent api description refs
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.scss
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(actions): update component tokens to support transparent
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

feat(list): Introduce clearer unselected state (#8510)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(action-bar, action-group, action-pad, alert): consistent api decription refs (#8533)
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.scss
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(handle): add selected property and calciteHandleChange event. (#8484)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/resources.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input-date-picker): hard to reproduce numbering-system caching issue (#8518)
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

feat(list-item): Add dragSelected property and calciteListItemDragHandleChange event (#8524)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(tab-nav, table, tabs, tile-select, tree, value-list): consistent api description refs
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/components/tabs/tabs.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(b and c components): consistent api description refs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(markdownlint): ensure consistent formatting of italics/bold style
  .markdownlintrc
  package.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

docs(d-components): update api description refs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
