Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

fix(list, block-group): List nested in shadow DOM loses drop zone styling (#12105)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix: fix memory leak caused when disconnecting floating-ui
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix combobox and chip-group tests
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix: fix memory leak caused when disconnecting floating-ui (#12107)
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

drying up e2e test
  packages/calcite-components/src/tests/stackedFocusTrap.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactoring isValidTimePart to use self-documenting variables
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(stepper-item): update component css tokens naming
  packages/calcite-components/src/components/stepper-item/stepper-item.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/custom-theme/stepper-item.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactoring LocalizedTime interface to drop the localized prefix from the member export names
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/controllers/time/time.ts
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

local reuse variable in isValidTime
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-time-picker): isolate calciteTimeChange event listener to just the component instance it was fired from
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Fixed failing tests
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

simplifying return statement in getLocalizedTimePart
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(stepper): update css token descriptions
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

BEM syntax, accessible vs interactive id for select-all-enabledcheckbox item, type selectAllOptionAndFilteredItemsList item
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

moving the calciteTimeChange listener back to the component
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(panel): fix hover/press header action CSS props
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

keeping the disabled check
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(stepper): update step bar gap styles
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Fixed failing test cases
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix min-inline-size
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

fix tests
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

fix(date-picker-month): fix height of calendar to 6 rows (#12085)
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(dialog, panel): refactor beforeClose logic
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-time-picker): isolate calciteTimeChange event listener to just the component instance it was fired from (#12109)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

Fixed test case
  packages/calcite-components/src/components/input/input.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(autocomplete): should open on key input and close when key input is cleared. #12096
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update stories, add demos
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/demos/action.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix css
  packages/calcite-components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

feat(block): add specific component css tokens (#12102)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/custom-theme/block.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test: improve screenshot test stability
  packages/calcite-components/.storybook/preview.ts
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.stories.ts
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.stories.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/switch/switch.stories.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

hidden listitem select-all to be an li tag, additional stateful props - items, selectAllComboboxItemReferenceEl, keyboardNavItems
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(stepper): add component tokens (#12036)
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/stepper.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(stepper-item): add component tokens (#12035)
  packages/calcite-components/src/components/stepper-item/resources.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/stepper-item.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix block stories
  packages/calcite-components/src/components/block/block.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tweak delays
  packages/calcite-components/.storybook/preview.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(panel): fix `--calcite-panel-header-action-text-color-press` (#12110)
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Tweak dropdown story delay
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert unrelated changes
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix
