Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

cleanup
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write

fix nested item indentation
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input): Improve display of resize handle for type textarea (#10866)
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

theme tests
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.e2e.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

theme work
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/autocomplete.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding min height to content-container
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox-item): fix icon color css override
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

reset indent level for group items
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding a wrapping actions-content-container div so that we can replace the inline padding with a flex gap instead.
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: use `cssTokenValues` in demo-theme (#10870)
  packages/calcite-components/src/demos/_assets/demo-theme.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(custom-theme): revert to dev
  packages/calcite-components/src/custom-theme.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adjust tests
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(chip): add `closeOnEscape` prop to close a closable chip via keyboard
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/chip/chip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: update it.each name param
  packages/calcite-components/src/tests/commonTests/defaults.ts
  packages/calcite-components/src/tests/commonTests/reflects.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): use heading as fallback for UI labels
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: tweak severity and options for `lines-between-class-members` rule
  packages/calcite-components/.eslintrc.cjs
Due: none

fix(dialog): fix error when initially opened (#10868)
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update imports
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleTypography.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameKebabCase.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(block): add warning message when both heading & label are empty
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.stories.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/custom-theme/autocomplete.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix e2e
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input): Add component tokens (#10820)
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/custom-theme/input.ts
  packages/calcite-components/src/demos/input.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox-item): add combobox-item simple story to custom-theme.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/combobox-item.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(alert): update --calcite-alert-offset-size css token description
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

converting the gap on actions-content-container to padding-inline on content-container, removing actions-content-container
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(chip): provide label context to assistive technologies
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

updating the left/right spacing between content and actions for medium and large according to design specs
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

adding scales to list demo
  packages/calcite-components/src/demos/list.html
Due: prettier --write

adding container left padding for selection-mode="none"
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

adding container left padding logic for draggable items
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

use img role
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

restore progress color used for inline
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

change track color to transparent-press
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
