Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix(input-date-picker): remove redundant border in vertical layout when range enabled (#14576)
  packages/components/src/components/input-date-picker/input-date-picker.scss
  packages/components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-date-picker/resources.ts
  packages/components/src/components/input-text/input-text.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(combobox): correct fit selection count chip (#14243)
  packages/components/src/components/chip/resources.ts
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.e2e.ts
  packages/components/src/components/combobox/combobox.stories.ts
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(combobox): ensure custom values are appended to value regardless of DOM order (#14522)
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/combobox/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: release releases/26.R2
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react-18-and-below/package.json
  examples/components/react-19-and-above/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/package.json
Due: prettier --write, markdownlint --fix

chore: release main (#14606)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react-18-and-below/package.json
  examples/components/react-19-and-above/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/package.json
Due: prettier --write, markdownlint --fix

chore: release main (#14606) (#14608)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react-18-and-below/package.json
  examples/components/react-19-and-above/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/package.json
Due: prettier --write, markdownlint --fix

feat: add different image index icons (#14607)
  packages/ui-icons/docs/keywords.json
  packages/ui-icons/fantasticonrc.json
  packages/ui-icons/icons/building-index-16.svg
  packages/ui-icons/icons/building-index-24.svg
  packages/ui-icons/icons/building-index-32.svg
  packages/ui-icons/icons/fire-index-16.svg
  packages/ui-icons/icons/fire-index-24.svg
  packages/ui-icons/icons/fire-index-32.svg
  packages/ui-icons/icons/geology-index-16.svg
  packages/ui-icons/icons/geology-index-24.svg
  packages/ui-icons/icons/geology-index-32.svg
  packages/ui-icons/icons/snow-index-16.svg
  packages/ui-icons/icons/snow-index-24.svg
  packages/ui-icons/icons/snow-index-32.svg
  packages/ui-icons/icons/soil-adjusted-vegetation-index-16.svg
  packages/ui-icons/icons/soil-adjusted-vegetation-index-24.svg
  packages/ui-icons/icons/soil-adjusted-vegetation-index-32.svg
  packages/ui-icons/icons/vegetation-index-16.svg
  packages/ui-icons/icons/vegetation-index-24.svg
  packages/ui-icons/icons/vegetation-index-32.svg
Due: prettier --write

refactor: improve strictness on s-components
  packages/components/src/components/scrim/scrim.e2e.ts
  packages/components/src/components/scrim/scrim.tsx
  packages/components/src/components/segmented-control/segmented-control.e2e.ts
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.e2e.ts
  packages/components/src/components/select/select.tsx
  packages/components/src/components/sheet/sheet.e2e.ts
  packages/components/src/components/sheet/sheet.tsx
  packages/components/src/components/shell-panel/shell-panel.e2e.ts
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/components/shell/shell.tsx
  packages/components/src/components/slider/slider.e2e.ts
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/sort-handle/sort-handle.e2e.ts
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/sortable-list/sortable-list.tsx
  packages/components/src/components/split-button/split-button.e2e.ts
  packages/components/src/components/split-button/split-button.tsx
  packages/components/src/components/stepper-item/resources.ts
  packages/components/src/components/stepper-item/stepper-item.tsx
  packages/components/src/components/stepper/stepper.e2e.ts
  packages/components/src/components/stepper/stepper.tsx
  packages/components/src/components/swatch-group/swatch-group.e2e.ts
  packages/components/src/components/swatch-group/swatch-group.tsx
  packages/components/src/components/swatch/resources.ts
  packages/components/src/components/swatch/swatch.e2e.ts
  packages/components/src/components/swatch/swatch.tsx
  packages/components/src/components/switch/switch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix: updated icons
  packages/ui-icons/icons/buttons-16.svg
  packages/ui-icons/icons/buttons-24.svg
  packages/ui-icons/icons/buttons-32.svg
  packages/ui-icons/icons/return-to-default-16.svg
  packages/ui-icons/icons/return-to-default-24.svg
  packages/ui-icons/icons/return-to-default-32.svg
Due: none

fix: launched ref page
  packages/ui-icons/icons/buttons-16.svg
  packages/ui-icons/icons/buttons-24.svg
  packages/ui-icons/icons/buttons-32.svg
  packages/ui-icons/icons/return-to-default-16.svg
  packages/ui-icons/icons/return-to-default-24.svg
  packages/ui-icons/icons/return-to-default-32.svg
Due: none

fix: return to default and buttons (#14610)
  packages/ui-icons/icons/buttons-16.svg
  packages/ui-icons/icons/buttons-24.svg
  packages/ui-icons/icons/buttons-32.svg
  packages/ui-icons/icons/return-to-default-16.svg
  packages/ui-icons/icons/return-to-default-24.svg
  packages/ui-icons/icons/return-to-default-32.svg
Due: none

adding hasFocus property to SetFocusable and hasValue function to useTime so we know when to render the placeholder text
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/controllers/useSetFocus.ts
  packages/components/src/controllers/useTime.ts
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update segmented-control-item tests
  packages/components/src/components/segmented-control-item/segmented-control-item.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add browser tests
  packages/components/src/components/typography/typography.browser.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

address PR feedback
  packages/components/src/components/table-cell/table-cell.scss
  packages/components/src/components/table-row/table-row.scss
  packages/components/src/components/table-row/table-row.tsx
  packages/components/src/components/table/table.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove duplicate calls
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

migrate new tests to browser tests
  packages/components/src/components/table/table.browser.e2e.tsx
  packages/components/src/components/table/table.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

inline the `scheduleAnimationFrameUpdate` helper
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#14611)
  README.md
Due: prettier --write, markdownlint --fix

refactor keyboard nav tests to use deterministic focused-cell class assertions
  packages/components/src/components/table/table.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

PR feedback adjustments
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use reflected host attribute for "reaches body end"
  packages/components/src/components/table-cell/resources.ts
  packages/components/src/components/table-cell/table-cell.scss
  packages/components/src/components/table-cell/table-cell.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Using a very cool CSS grid solution for layering the 2 elements on top of each other without any position properties! Works really well with no need to mutate the DOM
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-picker/resources.ts
  packages/components/src/controllers/useSetFocus.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

do pr feedback
  packages/components/src/components/table/table.e2e.ts
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: update formkit dnd
  package-lock.json
  packages/components/package.json
  packages/components/src/components/date-picker/date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix test failures
  packages/components/index.html
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/typography/typography.scss
  packages/components/src/components/typography/typography.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/components/src/controllers/useSortable.browser.spec.tsx
  packages/components/src/controllers/useSortable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fixes
  packages/components/src/components/block-group/block-group.e2e.ts
  packages/components/src/components/list/list.e2e.ts
  packages/components/src/components/sortable-list/sortable-list.browser.e2e.tsx
  packages/components/src/tests/commonTests/browser/disabled.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

clean up the test
  packages/components/src/components/alert/alert.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/controllers/useSortable.ts
  packages/components/src/tests/utils/puppeteer.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(storybook): complete controls coverage for components
  packages/components/src/components/accordion/accordion.stories.ts
  packages/components/src/components/action-bar/action-bar.stories.ts
  packages/components/src/components/action-pad/action-pad.stories.ts
  packages/components/src/components/autocomplete/autocomplete.stories.ts
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/card-group/card-group.stories.ts
  packages/components/src/components/card/card.stories.ts
  packages/components/src/components/chip-group/chip-group.stories.ts
  packages/components/src/components/chip/chip.stories.ts
  packages/components/src/components/color-picker-swatch/color-picker-swatch.stories.ts
  packages/components/src/components/color-picker/color-picker.stories.ts
  packages/components/src/components/date-picker/date-picker.stories.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/dropdown/dropdown.stories.ts
  packages/components/src/components/tile/tile.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

continued
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/fab/fab.stories.ts
  packages/components/src/components/filter/filter.tsx
  packages/components/src/components/flow-item/flow-item.stories.ts
  packages/components/src/components/flow/flow.stories.ts
  packages/components/src/components/graph/graph.stories.ts
  packages/components/src/components/handle/handle.stories.ts
  packages/components/src/components/stepper/stepper.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/components/src/controllers/useSortable.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

continued for icon to meter components
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/components/src/components/input-message/input-message.stories.ts
  packages/components/src/components/input-number/input-number.stories.ts
  packages/components/src/components/input-text/input-text.stories.ts
  packages/components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/label/label.stories.ts
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/loader/loader.stories.ts
  packages/components/src/components/menu-item/menu-item.stories.ts
  packages/components/src/components/menu/menu.stories.ts
  packages/components/src/components/meter/meter.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

continued for navigation logo to swatch
  packages/components/src/components/navigation-logo/navigation-logo.stories.ts
  packages/components/src/components/notice/notice.stories.ts
  packages/components/src/components/pagination/pagination.stories.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/progress/progress.stories.ts
  packages/components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/components/src/components/radio-button/radio-button.stories.ts
  packages/components/src/components/sheet/sheet.stories.ts
  packages/components/src/components/shell/shell.stories.ts
  packages/components/src/components/slider/slider.stories.ts
  packages/components/src/components/sort-handle/sort-handle.stories.ts
  packages/components/src/components/split-button/split-button.stories.ts
  packages/components/src/components/stack/stack.stories.ts
  packages/components/src/components/stepper/stepper.stories.ts
  packages/components/src/components/swatch-group/swatch-group.stories.ts
  packages/components/src/components/swatch/swatch.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

continued for table to tree
  packages/components/src/components/table/table.stories.ts
  packages/components/src/components/tabs/tabs.stories.ts
  packages/components/src/components/text-area/text-area.stories.ts
  packages/components/src/components/tile-group/tile-group.stories.ts
  packages/components/src/components/tile/tile.stories.ts
  packages/components/src/components/time-picker/time-picker.stories.ts
  packages/components/src/components/tooltip/tooltip.stories.ts
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

small fixes
  packages/components/src/components/handle/handle.stories.ts
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/popover/popover.stories.ts
  packages/components/src/components/progress/progress.stories.ts
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: add copydoc configuration
  packages/components/api-extractor.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: added icons
  packages/ui-icons/icons/smart-search-16.svg
  packages/ui-icons/icons/smart-search-24.svg
  packages/ui-icons/icons/smart-search-32.svg
Due: none

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
