Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

feat: launched ref page
  packages/calcite-ui-icons/fantasticonrc.json
Due: prettier --write

feat: added more icons
  packages/calcite-ui-icons/icons/carousel-frames-16.svg
  packages/calcite-ui-icons/icons/carousel-frames-24.svg
  packages/calcite-ui-icons/icons/carousel-frames-32.svg
Due: none

feat: added more tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: re-launched ref page
  packages/calcite-ui-icons/fantasticonrc.json
Due: prettier --write

feat: add shopping-cart-f, shopping cart plus, carousel frames (#12758)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/carousel-frames-16.svg
  packages/calcite-ui-icons/icons/carousel-frames-24.svg
  packages/calcite-ui-icons/icons/carousel-frames-32.svg
  packages/calcite-ui-icons/icons/shopping-cart-16-f.svg
  packages/calcite-ui-icons/icons/shopping-cart-24-f.svg
  packages/calcite-ui-icons/icons/shopping-cart-32-f.svg
  packages/calcite-ui-icons/icons/shopping-cart-plus-16.svg
  packages/calcite-ui-icons/icons/shopping-cart-plus-24.svg
  packages/calcite-ui-icons/icons/shopping-cart-plus-32.svg
Due: prettier --write

adding hasExponentialTrailingMinusSign helper util to ensure that negative exponents can be typed
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

feat: added test icons
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

remove redundant prop
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/split-button.ts
  packages/calcite-components/src/demos/split-button.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/custom-theme.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

doc
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(input-date-picker): add component tokens (#11734)
  packages/calcite-components/CHANGELOG_BETA.md
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-date-picker.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

build: update browserslist db (#12759)
  package-lock.json
Due: prettier --write

fix(color-picker): Adjust component spacing
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: added icons
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

Clean up
  packages/calcite-components/src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix

feat: remove id from internalLabel
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/checkbox/resources.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/functional/InternalLabel.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-number/resources.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-text/resources.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button-group/resources.ts
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/radio-button/resources.ts
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/resources.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/resources.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/switch/resources.ts
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/text-area/resources.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(color-picker): Adjust component spacing (#12767)
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add select row icon (#12768)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: prettier --write

feat: rename internalLabel props
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/functional/InternalLabel.tsx
  packages/calcite-components/src/components/switch/switch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block): allow customizing text color when expanded & deprecate tokens
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(combobox): adjust padding for no-matches context
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

fix(combobox): adjust padding for no-matches context (#12781)
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

fix(block): icon-end aligns with header container when collapsible is false
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add internalLabel common tests
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/switch/switch.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/tests/commonTests/index.ts
  packages/calcite-components/src/tests/commonTests/internalLabel.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: import CSS classes into internalLabel.ts common test
  packages/calcite-components/src/tests/commonTests/internalLabel.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: updated icons
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

docs(accordion-item): clarify boolean property
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix: re-dded icons
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

fix: launch ref page
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

add and update semantic line-height tokens
  packages/calcite-design-tokens/src/tokens/core/size.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

fix: select row icon (#12793)
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Due: none

cleanup
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

fix(list, block-group): emit calciteListOrderChange on destination when adding or moving from the menu #12490
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block): no longer renders an empty header
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
