Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

refactor(useSetFocusTrap): rename spec vars (#13379)
  packages/components/src/controllers/useSetFocus.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

getBounds applied to shell-panel and spec
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup: use string css prop for logical size and apply vis setProp to avoid readonly index errors, missing async, etc
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup imports
  packages/components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dropdown-item): reduce height
  packages/components/src/components/dropdown-item/dropdown-item.scss
Due: prettier --write, stylelint --fix

refactor!: drop deprecated component custom CSS props
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/action-group/action-group.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/inline-editable/inline-editable.scss
  packages/components/src/components/input-date-picker/input-date-picker.scss
  packages/components/src/components/notice/notice.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: prettier --write, stylelint --fix

one step at a time! Adding the computed gap to the bufferSize between each action group.
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use component from the mount return for updateComplete, remove unnecessary typing
  packages/components/src/components/shell-panel/shell-panel.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup and adjust values
  packages/calcite-design-tokens/src/tokens/core/size.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

return a value so host can sync state, modify doc
  packages/components/src/components/shell-panel/shell-panel.browser.e2e.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update tests
  packages/components/src/components/inline-editable/inline-editable.e2e.ts
  packages/components/src/components/radio-button/radio-button.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor!: drop deprecated component custom CSS props (#13287)
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/action-group/action-group.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/inline-editable/inline-editable.e2e.ts
  packages/components/src/components/inline-editable/inline-editable.scss
  packages/components/src/components/input-date-picker/input-date-picker.scss
  packages/components/src/components/notice/notice.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/radio-button/radio-button.e2e.ts
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

bump @arcgis deps
  package-lock.json
  package.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

add updated lumina.ts
  packages/components/src/lumina.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update deprecation note format
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

add renamed src semantic.size tokens
  packages/design-tokens/src/tokens/semantic/size.json
Due: prettier --write

add renamed src semantic.container-size tokens
  packages/design-tokens/src/tokens/semantic/container-size.json
Due: prettier --write

update deprecation note format
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/size.json
Due: prettier --write

moving getComputedStyle outside of the for loop to improve perf
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

removing overridden default gap setting on action-bar container
  packages/components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

adapt tests to use of logical props, cleanup up removal of state sync - test for returned value instead, arrowKey to sync resizeValues
  packages/components/src/components/shell-panel/shell-panel.e2e.ts
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update README
  packages/ui-icons/README.md
Due: prettier --write, markdownlint --fix

misc
  package-lock.json
Due: prettier --write

Revert "misc"
  package-lock.json
Due: prettier --write

bump typescript and migrate vitest setup
  package-lock.json
  package.json
  packages/components/src/components/dialog/dialog.browser.e2e.tsx
  packages/components/src/components/radio-button-group/radio-button-group.browser.e2e.tsx
  packages/components/src/components/tile/tile.browser.e2e.tsx
  packages/components/src/components/tree-item/tree-item.browser.e2e.tsx
  packages/components/src/controllers/useFocusTrap.browser.e2e.tsx
  packages/components/src/controllers/useInteractive.browser.spec.tsx
  packages/components/src/tests/browser/setup.ts
  packages/components/src/tests/commonTests/browser/renders.ts
  packages/components/src/tests/commonTests/browser/utils.ts
  packages/components/src/utils/locale.browser.spec.ts
  packages/components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adding back padding-inline-end to action-groups that aren't the last one in the bar and accommodating that extra space in the resize calculation
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

replaced keywords.json file
  packages/ui-icons/docs/keywords.json
Due: prettier --write

launched ref page
  package-lock.json
Due: prettier --write

recreate lockfile
  package-lock.json
Due: prettier --write

cleanup: docs, var names, Dry code
  packages/components/src/components/shell-panel/shell-panel.browser.e2e.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing up broken action bar tests
  packages/components/src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

not sure why this test was unstable, but now it matches the same pattern as the one above and passes. #winwin
  packages/components/src/components/action/action.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating action-pad with the new padding and gap settings
  packages/components/src/components/action-pad/action-pad.scss
Due: prettier --write, stylelint --fix

fixing action appearance test to default to transparent
  packages/components/src/components/action/action.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Add mock component to logger test
  packages/components/src/utils/logger.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(table-advanced): add selectable rows feature
  packages/components/index.html
  packages/components/src/components/table-advanced/table-advanced.scss
  packages/components/src/components/table-advanced/table-advanced.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

spec updated to use object form for resize, and resize typing
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

move mount(Test) inside a beforeEach hook to avoid failing
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
