Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

reflected user selections preserve the visible month while later programmatic updates refresh it
  packages/components/src/components/date-picker/date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block): restore padding for default slotted text (#15112)
  packages/components/src/components/block/block.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix imports
  packages/components/src/components/field-group/field-group.browser.e2e.tsx
  packages/components/src/components/field-set/field-set.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add Field Group 'disabled' prop
  packages/components/src/components/field-group/field-group.browser.e2e.tsx
  packages/components/src/components/field-group/field-group.stories.ts
  packages/components/src/components/field-group/field-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add link hover/press color token tests
  packages/components/src/components/link/link.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update token descriptions
  packages/components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

apply hover color only on hover, not focus
  packages/components/src/components/link/link.scss
Due: prettier --write, stylelint --fix

fix(button): focus no longer overrides hover/active state colors (#15137)
  packages/components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

deprecate 'collapsible' tokens and replace with 'expandable' tokens
  packages/components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

add e2e tests for expandable-icon-color tokens
  packages/components/src/components/block/block.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(tab, tab-nav, tab-title, table, table-cell, table-header, table-row, tabs, text-area, tile, time-picker, tooltip, tree, tree-item): remove tailwind from component styles
  packages/components/src/components/tab-nav/tab-nav.scss
  packages/components/src/components/tab-title/tab-title.scss
  packages/components/src/components/tab/tab.scss
  packages/components/src/components/table-cell/table-cell.scss
  packages/components/src/components/table-header/table-header.scss
  packages/components/src/components/table-row/table-row.scss
  packages/components/src/components/table/table.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/text-area/text-area.scss
  packages/components/src/components/tile/tile.scss
  packages/components/src/components/time-picker/time-picker.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tree-item/tree-item.scss
  packages/components/src/components/tree/tree.scss
Due: prettier --write, stylelint --fix

docs: update list of contributors (#15155)
  README.md
Due: prettier --write, markdownlint --fix

fix(tab-nav): does not prevent vertical page scrolling when tab titles do not overflow
  packages/components/src/components/tab-nav/tab-nav.browser.e2e.tsx
  packages/components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

allow reactive updates
  packages/components/src/components/typography/typography.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tile): preserve native Enter behavior for href tiles
  packages/components/src/components/tile/tile.browser.e2e.tsx
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

import
  packages/components/src/components/tile/tile.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/tile/tile.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  packages/components/src/controllers/useReferenceElement/manager.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/controllers/useReferenceElement.browser.spec.tsx
  packages/components/src/controllers/useReferenceElement/manager.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix: honor numbering-system negative sign direction
  packages/components/src/utils/locale.ts
  packages/components/src/utils/number.browser.spec.ts
  packages/components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(release): tag and create changelog entries for private packages (#15151)
  .release-please-manifest.json
  packages/components-snippets/CHANGELOG.md
  packages/stylelint-plugin-components/CHANGELOG.md
  release-please-config.json
  support/syncLinkedPackageVersions.mts
Due: prettier --write, markdownlint --fix

chore: review fixes
  packages/components/src/controllers/useReferenceElement.browser.spec.tsx
  packages/components/src/controllers/useReferenceElement.ts
  packages/components/src/controllers/useReferenceElement/manager.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(popover): omit aria-expanded for disabled triggers (#15141)
  packages/components/src/components/input-time-picker/input-time-picker.browser.e2e.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/controllers/useReferenceElement.browser.spec.tsx
  packages/components/src/controllers/useReferenceElement.ts
  packages/components/src/controllers/useReferenceElement/manager.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

deprecating calcite-mode-auto, calcite-mode-dark and calcite-mode-light class mixins and the ModeClass type.
  packages/components/src/components/types.ts
  packages/components/src/styles/global/index.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tab-nav): do not prevent vertical page scrolling when tab titles do not overflow (#15158)
  packages/components/src/components/tab-nav/tab-nav.browser.e2e.tsx
  packages/components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tile): preserve native Enter behavior for href tiles (#15160)
  packages/components/src/components/tile/tile.browser.e2e.tsx
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

clean up
  packages/components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

move deprecated tokens to correct test
  packages/components/src/components/block/block.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updates using isEqual, semantic range checks, and reusable month-menu locators
  packages/components/src/components/date-picker/date-picker.browser.e2e.tsx
  packages/components/src/components/date-picker/date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: update to package.jsons to correct next version
  package-lock.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

fix: use correct cc version in ccr
  packages/components-react/package.json
Due: prettier --write

revert updates to input-date-picker's calendar
  packages/components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

build: update package-lock
  package-lock.json
Due: prettier --write

ci: update to package.jsons to correct next version (#15166)
  package-lock.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

clean up
  packages/components/.stylelintrc.cjs
Due: none

updating avatar story to set color-scheme for dark contrast story
  packages/components/src/components/avatar/avatar.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update time-picker border-radius token fallback
  packages/components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix

update corner radius fallback story
  packages/components/src/corner-radius-fallbacks.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
