Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

feat(input-time-zone): add input-time-zone component
  src/components/combobox/combobox.tsx
  src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  src/components/input-time-zone/input-time-zone.e2e.ts
  src/components/input-time-zone/input-time-zone.scss
  src/components/input-time-zone/input-time-zone.stories.ts
  src/components/input-time-zone/input-time-zone.tsx
  src/components/input-time-zone/interfaces.d.ts
  src/components/input-time-zone/utils.ts
  src/index.html
  src/tests/commonTests.ts
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: use more common syntax for message placeholders
  src/components/rating/assets/rating/t9n/messages.json
  src/components/rating/rating.tsx
  src/components/value-list/assets/value-list/t9n/messages.json
  src/components/value-list/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(input-time-zone): add missing string
  src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Due: prettier --write

update for consistency
  src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Due: prettier --write

chore(input-time-zone): add missing string (#6949)
  src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Due: prettier --write

add placeholder readme
  src/components/input-time-zone/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix event name
  src/components/input-time-zone/input-time-zone.tsx
  src/components/input-time-zone/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

docs(chip, chip-group): provide context to parent scale inheritance
  src/components/chip-group/chip-group.tsx
  src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix story tags
  src/components/input-time-zone/input-time-zone.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: align token output names with old values
  tokens/calcite/light.json
  tools/token-transformer/transform/nameKebabCase.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix positioning issue in stories
  src/components/nav-logo/nav-logo.stories.ts
  src/components/nav/nav.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: add missing var
  src/assets/styles/global.scss
Due: none

Updated t9n - @isa13169
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_ar.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_bg.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_bs.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_ca.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_cs.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_da.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_de.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_el.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_es.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_et.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_fi.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_fr.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_he.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_hr.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_hu.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_id.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_it.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_ja.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_ko.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_lt.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_lv.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_nl.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_no.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_pl.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-BR.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-PT.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_ro.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_ru.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_sk.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_sl.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_sr.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_sv.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_th.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_tr.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_uk.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_vi.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-CN.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-HK.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-TW.json
Due: prettier --write

fix: mode tokens should use forground.3
  tokens/calcite/dark.json
  tokens/calcite/light.json
Due: prettier --write

chore: pass linting
  CONTRIBUTING.md
  tools/token-transformer/format/scss.test.ts
  tools/token-transformer/parse/expandComposites.test.ts
  tools/token-transformer/parse/expandComposites.ts
  tools/token-transformer/transform/nameCamelCase.test.ts
  tools/token-transformer/transform/nameKebabCase.test.ts
  tools/token-transformer/utils/compositeTokens.test.ts
  tools/token-transformer/utils/compositeTokens.ts
  tools/token-transformer/utils/transformOptions.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

review feedback
  src/components/chip-group/chip-group.tsx
  src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove redundant slots in nav stories
  src/components/nav/nav.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: beta release
  package-lock.json
  package.json
Due: prettier --write

chore: update tokens version
  package-lock.json
  package.json
Due: prettier --write

fix(popover): add zindex var for popover
  src/assets/styles/global.scss
Due: none

docs(chip, chip-group): provide context to parent scale inheritance (#6952)
  src/components/chip-group/chip-group.tsx
  src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-time-picker): changing name of dayjs locale loading function to have more meaning
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

using append instead of appendChild in demo
  src/demos/input-time-picker.html
Due: prettier --write

fixing broken danish typing test
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: skip failing tests
  src/components/filter/filter.e2e.ts
  src/components/value-list/value-list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-picker): ensuring component refreshes display value when lang and numbering system properties change
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

syncing locale demo files to official supported locale list and adding in some more numbering system examples
  src/demos/_assets/locales.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update combobox tests
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test
  src/components/input-time-zone/input-time-zone.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add open, overlayPositioning props and doc
  src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop unnecessary `setFocus` call in combobox
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update doc
  src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: set currentColor to token
  src/assets/styles/global.scss
Due: none

screenshot feedback changes
  src/components/nav/nav.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: fixing token name reference
  calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Revert "test: skip failing tests"
  src/components/filter/filter.e2e.ts
  src/components/value-list/value-list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: drop nomodule script usage
  .storybook/preview-head.html
  src/demos/_assets/head.ts
  src/demos/input-time-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix
