Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/calcite-ui-icons/icons/field-groups-16.svg
  packages/calcite-ui-icons/icons/field-groups-24.svg
  packages/calcite-ui-icons/icons/field-groups-32.svg
Due: none

removed string fallback in form
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tree-item): add `calciteTreeItemSelect` event (#12851)
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add field groups (#12955)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/field-groups-16.svg
  packages/calcite-ui-icons/icons/field-groups-24.svg
  packages/calcite-ui-icons/icons/field-groups-32.svg
Due: prettier --write

fix(list-item): fix memory leak caused by focusing before disconnecting
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): pass query variables explicitly as property named `variables`
  .github/scripts/support/monday.js
Due: none

fix(list-item): fix memory leak caused by focusing before disconnecting (#12956)
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

recreate lockfile
  package-lock.json
Due: prettier --write

ci(actions): pass query variables explicitly as property named `variables` (#12957)
  .github/scripts/support/monday.js
Due: none

fix type error
  packages/calcite-components/src/components/color-picker/utils.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove non-applicable assertions
  packages/calcite-components/src/components/color-picker/utils.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): fix loader scrim height for empty list
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add global classes
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/text/text.scss
  packages/calcite-components/src/demos/dropdown.html
  packages/calcite-components/src/demos/text.html
Due: prettier --write, stylelint --fix

Added comment for validationIcon check in form
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(panel): Ensure `content-top` and `action-bar` slots are visible
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/demos/panel.html
Due: prettier --write

Clean up
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/panel/panel.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

correct screenshot test
  packages/calcite-components/.storybook/helpers.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/notice/notice.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(autocomplete-item-group): update design for 4.0
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.e2e.ts
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.scss
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/calcite-components/src/components/autocomplete-item-group/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(combobox-item-group): replace css token with global variable
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
Due: prettier --write, stylelint --fix

feat: add virtualization utility [WIP]
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/virtualizer/virtualizer.e2e.ts
  packages/calcite-components/src/components/virtualizer/virtualizer.scss
  packages/calcite-components/src/components/virtualizer/virtualizer.stories.ts
  packages/calcite-components/src/components/virtualizer/virtualizer.tsx
  packages/calcite-components/src/demos/combobox.html
  packages/calcite-components/src/demos/virtualizer.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(dropdown)!: drop multi-trigger handling logic
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove obsolete onSlotChange callback
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#12948)
  README.md
Due: prettier --write, markdownlint --fix

added string type on icon
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-message/input-message.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(panel): Ensure `content-top` and `action-bar` slots are visible (#12963)
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/carousel/carousel.scss
Due: prettier --write, stylelint --fix

fix(list): replace e2e test with snapshot test
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(inline-editable): tidy up approach for hiding start-edits button (#12919)
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/inline-editable/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(color-picker): tidy up (#12946)
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/utils.spec.ts
  packages/calcite-components/src/components/color-picker/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(combobox-item-group): update group design for 4.0 (#12933)
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item-group/resources.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

overrides with new entries, modifications, and extra content
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

overrides omitting with no content
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

overrides with non-conventional-commit text
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

add missed items
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix
