Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

cleanup
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update deprecation message to use "calcite-" component naming convention
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(pick-list,pick-list-group,pick-list-item,value-list,value-list-item): use "calcite-" naming convention in deprication descriptions
  packages/calcite-components/src/components/pick-list-group/pick-list-group.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): apply center alignment only to x-axis (#9288)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, stylelint --fix

refactor: use slotchange event instead of MutationObserver
  packages/calcite-components/src/components/accordion/accordion.tsx
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/components/tile-group/tile-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update MOs using children + subtree
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/flow/flow.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tabs/tabs.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update list MOs using children + subtree
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove accidentally added file
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/components.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(panel): add content-top slot (#9293)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

drop reference to removed method
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): add type-fest to prevent build errors
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

feat(panel): add content-bottom slot (#9311)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix

docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/tile-group/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

feat(block-section): add `icon` property (deprecates `status`) (#9194)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block-section/resources.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/demos/block.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(panel): add component tokens
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

add existing modal tokens to panel
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

build(deps): add type-fest to prevent build errors (#9317)
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

docs: update component READMEs (#9289)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/tile-group/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

refactor: remove connect/disconnectOpenCloseComponent no longer in use
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, stylelint --fix

padding for selection-mode:multiple
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, stylelint --fix

story
  packages/calcite-components/src/components/chip/chip.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(tip, tip-group, tip-manager): deprecate components (#9285)
  packages/calcite-components/src/components/tip-group/tip-group.tsx
  packages/calcite-components/src/components/tip-manager/tip-manager.tsx
  packages/calcite-components/src/components/tip/tip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix double space
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: remove connect/disconnectOpenCloseComponent no longer in use (#9320)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(select): fix option selection via initial `value` (#9272)
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(tile, tile-group): deprecate components (#9302)
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(segmented-control-item): allow displaying and icon when items are empty with a start/end icon (#9300)
  packages/calcite-components/src/components/segmented-control-item/resources.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.e2e.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

typo
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

refactor(stories): replace fake knobs with controls for simple stories
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components/accordion/accordion.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/avatar/avatar.stories.ts
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/card-group/card-group.stories.ts
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/checkbox/checkbox.stories.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

removes redndant wrapper containers and css styling
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month-header/resources.ts
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/select/select.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(pick-list,pick-list-group,pick-list-item,value-list,value-list-item): use "calcite-" naming convention in deprecation descriptions (#9312)
  packages/calcite-components/src/components/pick-list-group/pick-list-group.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): update dependency @esri/calcite-ui-icons to v3.28.1
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

Refactored solution and emoved split bar expansion when hovering over disabled button;
  packages/calcite-components/src/components/split-button/split-button.scss
Due: prettier --write, stylelint --fix

fix(carousel): animate items with the same direction
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
