Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

Adding display mode
  packages/calcite-components/src/components/shell-panel/interfaces.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

last of the tests!
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(deps): downgrade conventional commits to fix next
  .github/scripts/publishPrerelease.sh
  package-lock.json
  package.json
Due: prettier --write

fix(color-picker-hex-input): update unit tests
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build(deps): downgrade conventional commits to fix next (#9651)
  .github/scripts/publishPrerelease.sh
  package-lock.json
  package.json
Due: prettier --write

disable year and month outside of range
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month-header/resources.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/utils/date.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build(deps): fix package-lock
  package-lock.json
Due: prettier --write

fix(list-item): Improve focus outline appearance
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

Reverted unnecessary code
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

reset activeDate when first valid month is viewed in end calendar
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Added missing files
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(chromatic): fix build errors from corrupted package-lock (#9652)
  package-lock.json
Due: prettier --write

add coverage on footer, footer end and start, and footer precedence for panel and flow-item:
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(color-picker-hex-input): auto apply new color after typing/pasting hex code (#9561)
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): Improve focus outline appearance (#9653)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/tests/commonTests/utils.ts
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(table-cell): update tokens
  packages/calcite-components/src/components/table-cell/table-cell.scss
Due: prettier --write, stylelint --fix

test(table, table-row, table-header, table-cell): add themed e2e tests
  packages/calcite-components/src/components/table/table.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(combobox): add `filterText` prop
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(filter): add coverage for empty filter text
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/filter.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(pagination): revert pagination changes
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): allow arrow selection of entered text (#9629)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: set the correct Sortable parent when within a shadowRoot (#9532)
  patches/sortablejs+1.15.1.patch
Due: none

fix(list): enable dragging on list items contained within a list that supports dragEnabled.
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add matchFields default fields to doc
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

splitting differing html tests into their own describe blocks
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(inline-editable): add token theme tests (#9648)
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(filter): add coverage for empty filter text (#9655)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/filter.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add test
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test failures
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tests
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove unrelated story
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

screenshot tests
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup code
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
