Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

partial review fixes
  src/components/functional/ExpandToggle.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add doc
  src/components/functional/FloatingArrow.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

only translate the input value in the inputInputHandler, don't set the value. Also removes unnecessary localizedValue state variable.
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(chip): Uses correct aria role in a selection-mode:none Chip Group (#6862)
  src/components/chip/chip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

implement slider section redesign
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

use opacity vs alpha
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
  src/demos/color-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

update hex-input to show 6-chars and wire up opacity
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

pass messages into hex input
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add placeholder no-color swatch
  src/components/color-picker-swatch/color-picker-swatch.scss
  src/components/color-picker-swatch/color-picker-swatch.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

tweak preview + slider spacing
  src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix

Updates
  tokens/component/dropdown-item.json
Due: prettier --write

build: update browserslist db (#6831)
  package-lock.json
Due: prettier --write

update lock file
  package-lock.json
Due: prettier --write

improve hex-input opacity input sizing
  src/components/color-picker-hex-input/color-picker-hex-input.scss
Due: prettier --write, stylelint --fix

refactor(nav,menu): Add types and remove unused Events & properties (#6855)
  src/components/menu-item/interfaces.ts
  src/components/menu-item/menu-item.e2e.ts
  src/components/menu-item/menu-item.tsx
  src/components/menu-item/utils.ts
  src/components/menu/menu.tsx
  src/components/nav-logo/nav-logo.e2e.ts
  src/components/nav-logo/nav-logo.tsx
  src/components/nav-user/nav-user.e2e.ts
  src/components/nav-user/nav-user.stories.ts
  src/components/nav-user/nav-user.tsx
  src/demos/nav.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tooltip, popover): Support transparent backgrounds #6803 (#6847)
  src/assets/styles/_floating-ui.scss
  src/components/functional/FloatingArrow.tsx
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/components/tooltip/resources.ts
  src/components/tooltip/tooltip.scss
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Adding semantic teir vars to spacing
  tokens/semantic.json
Due: prettier --write

Added the rest of the semantic variables for spacing
  tokens/semantic.json
Due: prettier --write

apply correct scale to tabs
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

allow pasting #-leading hex codes per spec
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

improve hex-input layout
  src/components/color-picker-hex-input/color-picker-hex-input.scss
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

make slider trackes more round
  src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: split up form-associated test helper to run a test per use case (#6846)
  src/components/checkbox/checkbox.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/select/select.e2e.ts
  src/components/slider/slider.e2e.ts
  src/components/switch/switch.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Updates
  tokens/$themes.json
Due: prettier --write

WIP: tokens build for dist
  .gitignore
  CONTRIBUTING.md
  README.md
  jest.config.js
  jest.config.json
  package.json
  tools/token-transformer/format/css.ts
  tools/token-transformer/format/javascript.ts
  tools/token-transformer/getThemes.ts
  tools/token-transformer/index.ts
  tools/token-transformer/parse/expandComposites.ts
  tools/token-transformer/sd-run.ts
  tools/token-transformer/sd-run.ts.bak
  tools/token-transformer/utils/getSortedTokens.ts
  tsconfig.cjs.json
Due: prettier --write, eslint --ext .js --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

ci: adds support and community to issue templates
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

fix(tooltip): Open hovered tooltip while pointer is moving. #6278
  src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Updates
  tokens/$metadata.json
  tokens/$themes.json
  tokens/component/combobox-item.json
Due: prettier --write

test: split up form-associated test helper to run a test per use case
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/accordion/accordion.e2e.ts
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-group/action-group.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/action/action.e2e.ts
  src/components/alert/alert.e2e.ts
  src/components/avatar/avatar.e2e.ts
  src/components/block-section/block-section.e2e.ts
  src/components/block/block.e2e.ts
  src/components/button/button.e2e.ts
  src/components/card/card.e2e.ts
  src/components/checkbox/checkbox.e2e.ts
  src/components/chip-group/chip-group.e2e.ts
  src/components/chip/chip.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/fab/fab.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow/flow.e2e.ts
  src/components/graph/graph.e2e.ts
  src/components/handle/handle.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-message/input-message.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/link/link.e2e.ts
  src/components/list/list.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/option-group/option-group.e2e.ts
  src/components/option/option.e2e.ts
  src/components/pagination/pagination.e2e.ts
  src/components/panel/panel.e2e.ts
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Updates
  tokens/component/combobox-item.json
  tokens/component/combobox.json
Due: prettier --write

Updates
  tokens/$metadata.json
  tokens/$themes.json
  tokens/component/flow-header.json
Due: prettier --write
