Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

update wip deprecation notes
  packages/tailwind-preset/src/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block-section): fix inconsistent interaction states (#13788)
  packages/components/src/components/block-section/block-section.e2e.ts
  packages/components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input, input-number, input-text): correctly style affix when readOnly is set
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

docs: update list of contributors (#13793)
  README.md
Due: prettier --write, markdownlint --fix

docs: fix spacing
  packages/components/src/components/swatch/swatch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: align docs to style guide - "s" components (#13689)
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/sheet/sheet.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/sortable-list/sortable-list.tsx
  packages/components/src/components/split-button/split-button.tsx
  packages/components/src/components/stepper-item/stepper-item.scss
  packages/components/src/components/stepper-item/stepper-item.tsx
  packages/components/src/components/stepper/stepper.scss
  packages/components/src/components/stepper/stepper.tsx
  packages/components/src/components/swatch-group/swatch-group.tsx
  packages/components/src/components/swatch/swatch.tsx
  packages/components/src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(chip): enable support for deprecated icon color variable (#13478)
  packages/components/src/components/chip/chip.e2e.ts
  packages/components/src/components/chip/chip.scss
  packages/components/src/components/chip/chip.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#13798)
  README.md
Due: prettier --write, markdownlint --fix

revert src core.size token additions
  packages/design-tokens/src/tokens/core/size.json
Due: prettier --write

fix(input, input-number, input-text): correctly style affix when `readOnly` is set (#13796)
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

remove separate "active" .icon rule
  packages/components/src/components/menu-item/menu-item.scss
Due: prettier --write, stylelint --fix

add src semantic.space.4xl token
  packages/design-tokens/src/tokens/semantic/space.json
Due: prettier --write

action-bar test commit
  packages/components/index.html
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(changelog): fix typo for dialogs fullscreenDisabled property in changelog
  packages/components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

remove size{} group in src > semantic > size.json
  packages/design-tokens/src/tokens/semantic/size.json
Due: prettier --write

cleanup
  packages/design-tokens/src/tokens/semantic/size.json
Due: prettier --write

refactor(action-menu): simplify event handling (#13794)
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/utils.ts
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/action/action.tsx
  packages/components/src/components/action/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: align combobox components with style guide
  packages/components/src/components/combobox-item-group/combobox-item-group.scss
  packages/components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/components/src/components/combobox-item/combobox-item.scss
  packages/components/src/components/combobox-item/combobox-item.tsx
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(label): align api with style guide
  packages/components/src/components/label/label.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(link): align api with style guide
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: align flip properties
  packages/components/src/components/combobox-item/combobox-item.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/fab/fab.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/input-message/input-message.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(icon): align api with style guide
  packages/components/src/components/icon/icon.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-time-picker): time picker popup fields should always match the corresponding fields in the input box
  packages/components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: align input components with api style guide
  packages/components/src/components/inline-editable/inline-editable.scss
  packages/components/src/components/inline-editable/inline-editable.tsx
  packages/components/src/components/input-date-picker/input-date-picker.scss
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-message/input-message.scss
  packages/components/src/components/input-message/input-message.tsx
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(label, link): align api descriptions with style guide
  packages/components/src/components/label/label.tsx
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert "docs(label): align api with style guide"
  packages/components/src/components/label/label.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert "docs(link): align api with style guide"
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(link): revert `iconFlipRtl` change
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix combobox item scrolling on open
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: swap volta for mise
  CONTRIBUTING.md
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  mise.toml
  package.json
  packages/components-react/package.json
  packages/components/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-components/package.json
  packages/tailwind-preset/package.json
  packages/ui-icons/package.json
  support/check-volta.mts
Due: prettier --write, markdownlint --fix

rename mise-checking script
  package.json
  support/check-mise.mts
Due: prettier --write

perf(combobox): drop redundant repositioning after each render (#13756)
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.e2e.ts
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add root engines field
  package.json
Due: prettier --write

docs: update list of contributors (#13799)
  README.md
Due: prettier --write, markdownlint --fix

update tests
  packages/components/src/components/slider/slider.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix test failure
  packages/components/src/components/slider/slider.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

chore(changelog): fix typo for fullscreenDisabled property (#13800)
  packages/components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

docs(label, link): align api descriptions with style guide (#13803)
  packages/components/src/components/label/label.tsx
  packages/components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tokens): update semantic success and warning colors for improved a11y (#13408)
  packages/design-tokens/src/tokens/core/color.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write
