Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

feat: move test yml from workflows to actions
  .github/actions/issue-monday-sync/action.yml
  .github/workflows/issue-monday-call.yml
Due: prettier --write

fix: make run command a non-scalar
  .github/actions/issue-monday-sync/action.yml
Due: prettier --write

cleanup
  packages/design-tokens/xaml/core.xaml
  packages/design-tokens/xaml/dark.xaml
  packages/design-tokens/xaml/light.xaml
Due: none

add initial index.xaml setup
  packages/design-tokens/xaml/index.xaml
Due: none

refactor(src-tokens): update tokens studio theme data (#14214)
  packages/design-tokens/src/tokens/$themes.json
Due: prettier --write

fix(combobox, menu, textarea): apply line-height (#14236)
  packages/components/src/components/combobox/combobox.scss
  packages/components/src/components/menu/menu.scss
  packages/components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

docs: update list of contributors (#14249)
  README.md
Due: prettier --write, markdownlint --fix

build(deps): bump `focus-trap` (#14203)
  package-lock.json
  packages/components/package.json
Due: prettier --write

chore(storybook): update font link (#13964)
  packages/components/.storybook/preview-head.html
Due: prettier --write

docs(shell-panel): fix deprecation versions (#14241)
  packages/components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(src-tokens): update font token metadata (#14238)
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

ci(actions): add and sync new `estimate - design - 2` label (#14239)
  .github/scripts/support/monday.js
  .github/scripts/support/resources.js
Due: none

docs: update list of contributors (#14257)
  README.md
Due: prettier --write, markdownlint --fix

build: update browserslist db (#14235)
  package-lock.json
Due: prettier --write

docs(dialog): specify that `modal` must be `true` for `outsideCloseDisabled` to work (#14253)
  packages/components/src/components/dialog/dialog.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tree): restore lines containment (#14251)
  packages/components/src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

docs: update list of contributors (#14242)
  README.md
Due: prettier --write, markdownlint --fix

refactor: migrate `openClose` common test helper to browser mode (#13630)
  packages/components/src/components/alert/alert.browser.e2e.tsx
  packages/components/src/components/alert/alert.e2e.ts
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
  packages/components/src/components/autocomplete/autocomplete.e2e.ts
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.scss
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.e2e.ts
  packages/components/src/components/dialog/dialog.browser.e2e.tsx
  packages/components/src/components/dialog/dialog.e2e.ts
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/dropdown/dropdown.browser.e2e.tsx
  packages/components/src/components/dropdown/dropdown.e2e.ts
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
  packages/components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/components/src/components/input-time-picker/input-time-picker.browser.e2e.tsx
  packages/components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/components/src/components/input-time-zone/input-time-zone.browser.e2e.tsx
  packages/components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/components/src/components/notice/notice.browser.e2e.tsx
  packages/components/src/components/notice/notice.e2e.ts
  packages/components/src/components/notice/notice.scss
  packages/components/src/components/popover/popover.browser.e2e.tsx
  packages/components/src/components/popover/popover.e2e.ts
  packages/components/src/components/sheet/sheet.browser.e2e.tsx
  packages/components/src/components/sheet/sheet.e2e.ts
  packages/components/src/components/sheet/sheet.scss
  packages/components/src/components/sort-handle/sort-handle.browser.e2e.tsx
  packages/components/src/components/sort-handle/sort-handle.e2e.ts
  packages/components/src/components/tooltip/tooltip.browser.e2e.tsx
  packages/components/src/components/tooltip/tooltip.e2e.ts
  packages/components/src/tests/commonTests/browser/index.ts
  packages/components/src/tests/commonTests/browser/open-close.ts
  packages/components/src/tests/commonTests/index.ts
  packages/components/src/tests/commonTests/openClose.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(time-picker): remove unnecessary whitespace handling (#14227)
  packages/components/src/components/time-picker/time-picker.browser.e2e.tsx
  packages/components/src/components/time-picker/time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(link): display underline properly when text breaks to multiple lines (#13784)
  packages/components/src/components/link/link.e2e.ts
  packages/components/src/components/link/link.scss
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/link/link.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tree): fix content clipping (#14262)
  packages/components/src/components/tree-item/tree-item.scss
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update `actions` textEnabled property description (#14258)
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert "feat(navigation, navigation-logo, navigation-user): update navigation.tsx to use slots instead of querying the shadowdom"
  packages/components/src/components/navigation/navigation.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

more variablizing
  packages/components/src/components/shell-panel/shell-panel.scss
  packages/components/src/components/shell/shell.scss
Due: prettier --write, stylelint --fix

feat(carousel): Add `pagination-position` property
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/carousel/carousel.stories.ts
  packages/components/src/components/carousel/carousel.tsx
  packages/components/src/components/carousel/interfaces.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/components/src/components/carousel/carousel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(navigation, navigation-logo, navigation-user): skip failing input-time-picker.browser.e2e test
  packages/components/src/components/input-time-picker/input-time-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix text rendering when group is collapsed and bar is expanded
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update story
  packages/components/src/components/carousel/carousel.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating useForm to utilize the native inputDelegate for radio types to get the validity and validationMessage properties
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

dry-ing up the querySelector types to not have to cast radioButton types manually
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adding capture true option to invalid listener removal. Not sure why invalid needs capture: true, but this works for the purpose of this test component
  packages/components/src/demos/_assets/demo-form.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Replacing MutableValidityState with readonly equivalent. Requires adding a setValidity method so that useForm can update each element in the radio group through ElementInternals.
  packages/components/src/components/radio-button/radio-button.tsx
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adding setValidity() to the FormComponent interface
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

adding extra doc on setValidity method
  packages/components/src/components/radio-button/radio-button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): move monday steps to composite action
  .github/actions/monday/action.yml
  .github/workflows/issue-monday-sync.yml
Due: prettier --write

ci(actions): rename steps and test group
  .github/actions/issue-monday-sync/action.yml
  .github/actions/monday/action.yml
  .github/workflows/issue-monday-sync.yml
Due: prettier --write

add group and notice to label set
  .github/actions/monday/action.yml
Due: prettier --write

set group/notice for dispatch step
  .github/actions/monday/action.yml
Due: prettier --write

add group name to all steps
  .github/actions/monday/action.yml
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
