Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

build(deps): dedupe npm packages
  package-lock.json
Due: prettier --write

drop date-picker-month-range component and refactor date-picker-month to allow range calendar
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month-range/date-picker-month-range.scss
  packages/calcite-components/src/components/date-picker-month-range/date-picker-month-range.tsx
  packages/calcite-components/src/components/date-picker-month-range/readme.md
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

clean up
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion): update token name for accordion-background-color
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

fix(accordion): add semantic token for space calcultion
  packages/calcite-components/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

fix(preset): add back legacy token for calcite-ui-focus-color (#8694)
  packages/calcite-components/calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker): alpha-channel slider scope updates to reflect current opacity (#8700)
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update tests
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion): make space token internal
  packages/calcite-components/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

revert(panel, flow-item): reverts overflow rule. #8055 #8028 #8611
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

fix(list-item): Fix slotted list border styling. #8684
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

revert
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

fix(loader): fix perf impact of loader indeterminate animation
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

revert
  packages/calcite-components/package.json
Due: prettier --write

cleanup
  packages/calcite-components/src/components/code/code.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/code/code.tsx
  packages/calcite-components/src/demos/code.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(loader): tidy up styles
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

test(combobox): stabilize form-associated test
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): Fix slotted list border styling. (#8712)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(validation): add key to enhance rendering of validation HTML
  packages/calcite-components/src/components/functional/Validation.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

making all variants story noTest until we can fix rendering
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/card/card.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/demos/card.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(combobox): fix form-associated test (#8718)
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add test and remove watcher for activeRange in date-picker
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(loader): optimize animation performance (#8714)
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

review fixes
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(filter): add component tokens #8598
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/components/filter/filter.stories.ts
  packages/calcite-components/src/components/filter/filter.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(flow-item): add component tokens #7180
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

first commit adding new layout type definition and demos
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/interfaces.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/demos/stepper.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tile): add responsive layout features (#8691)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

cleanup
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/demos/meter.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(panel): Add component tokens (#8670)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(input, input-number, input-text, text-area): ensure all applicable props are considered in form validation (#8655)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/input.spec.ts
  packages/calcite-components/src/components/input/common/input.ts
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

determining multipleViewMode in stepper based on layout instead of elWidth
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(table): Add `interactionMode` property to control focus behavior (#8686)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/interfaces.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
