Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

feat: added tags
  packages/ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/ui-icons/icons/radar-chart-16.svg
  packages/ui-icons/icons/radar-chart-24.svg
  packages/ui-icons/icons/radar-chart-32.svg
  packages/ui-icons/icons/tree-map-16.svg
  packages/ui-icons/icons/tree-map-24.svg
  packages/ui-icons/icons/tree-map-32.svg
Due: none

revert adding 1h and 2h wrapping typography tokens
  packages/design-tokens/src/tokens/semantic/typography.json
Due: prettier --write

feat: add tree-map and radar-chart (#14876)
  packages/ui-icons/docs/keywords.json
  packages/ui-icons/icons/radar-chart-16.svg
  packages/ui-icons/icons/radar-chart-24.svg
  packages/ui-icons/icons/radar-chart-32.svg
  packages/ui-icons/icons/tree-map-16.svg
  packages/ui-icons/icons/tree-map-24.svg
  packages/ui-icons/icons/tree-map-32.svg
Due: prettier --write

more story work
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/field-set/field-set.stories.ts
  packages/components/src/components/field-set/field-set.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add and apply new unitless line-height tokens
  packages/design-tokens/src/tokens/core/size.json
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/typography.json
Due: prettier --write

remove redundant line-height token descriptions
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

fix(action-bar): hide leading group border for action-start slot when wrapping
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(flow): track only top-level slotted items and harden custom selector fallback
  packages/components/src/components/flow/flow.browser.e2e.tsx
  packages/components/src/components/flow/flow.e2e.ts
  packages/components/src/components/flow/flow.tsx
  packages/components/src/components/flow/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert font related token changes
  packages/design-tokens/src/tokens/core/size.json
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

WIP add Form component
  packages/components/src/components/form/form.browser.e2e.tsx
  packages/components/src/components/form/form.scss
  packages/components/src/components/form/form.stories.ts
  packages/components/src/components/form/form.tsx
  packages/components/src/components/form/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): support shadow-slotted list items and groups
  packages/components/src/components/list-item-group/list-item-group.browser.e2e.tsx
  packages/components/src/components/list-item-group/list-item-group.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/list-item/utils.ts
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.tsx
  packages/components/src/utils/dom.browser.spec.ts
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: update t9n workflow to include changes related to message files
  .github/workflows/pr-t9n.yml
Due: prettier --write

remove redundant comment
  packages/components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

chore: review fixes
  packages/components/src/components/list-item/utils.ts
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(action-bar): hide leading group border for action-start slot when wrapping (#14879)
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  packages/components/src/components/flow/flow.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/list-item/utils.ts
  packages/components/src/components/list/list.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: support common t9n message bundle
  packages/components/assets/common/t9n/messages.en.json
  packages/components/src/components/text-area/assets/t9n/messages.en.json
  packages/components/src/components/text-area/text-area.tsx
  packages/components/support/reports/component-message-string-frequency-no-time-zone.md
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

fix(icon): update icon type
  packages/components/src/components/icon/icon.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(button, split-button, card, input, input-number, input-text, input-time-picker, color-picker, date-picker, select, table): enable default corner-radius inheritance across components
  packages/components/src/components/button/button.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/color-picker/color-picker.scss
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/split-button/split-button.scss
  packages/components/src/components/table/table.scss
Due: prettier --write, stylelint --fix

Potential fix for pull request finding
  packages/components/src/tests/globalStyles.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: use `@cloudfour/simple-svg-placeholder` instead of copying source (#14867)
  package-lock.json
  package.json
  packages/components/.storybook/placeholder-image.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(tokens): update token deprecation strategy (#14655)
  packages/design-tokens/src/build/utils/output-references.ts
  packages/design-tokens/src/config/color/dark.ts
  packages/design-tokens/src/config/color/light.ts
  packages/design-tokens/src/config/index.ts
  packages/design-tokens/src/tokens/$themes.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/src/tokens/semantic/container-size.json
  packages/design-tokens/src/tokens/semantic/corner-radius.json
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/size.json
  packages/design-tokens/src/tokens/semantic/space.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(autocomplete): track slotted group items via internal updates
  packages/components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update variable names, update tests, remove unused code from component
  packages/components/src/components/field-set/field-set.browser.e2e.tsx
  packages/components/src/components/field-set/field-set.e2e.ts
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/field-set/field-set.stories.ts
  packages/components/src/components/field-set/field-set.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: migrate global style tests to browser mode (#14844)
  packages/components/src/tests/globalStyles.browser.e2e.tsx
  packages/components/src/tests/globalStyles.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add border box to more components
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/action/action.scss
  packages/components/src/components/avatar/avatar.scss
  packages/components/src/components/block-group/block-group.scss
  packages/components/src/components/block-section/block-section.scss
  packages/components/src/components/card-group/card-group.scss
  packages/components/src/components/card/card.scss
Due: prettier --write, stylelint --fix

improve <legend> usage and remove CSS workaround, add read-only prop/story/test
  packages/components/src/components/field-set/field-set.browser.e2e.tsx
  packages/components/src/components/field-set/field-set.scss
  packages/components/src/components/field-set/field-set.stories.ts
  packages/components/src/components/field-set/field-set.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/list-item/utils.ts
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.e2e.ts
  packages/components/src/components/list/list.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review fixes
  packages/components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix test
  packages/components/src/components/list/list.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix test
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

apply new border box and adjust to counter diffs
  packages/components/src/components/action-group/action-group.scss
  packages/components/src/components/action-menu/action-menu.scss
  packages/components/src/components/action-pad/action-pad.scss
  packages/components/src/components/action/action.scss
  packages/components/src/components/navigation-user/navigation-user.scss
  packages/components/src/components/navigation/navigation.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
