Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

docs: apply PR edits and specified when table tokens are applicable
  packages/components/src/components/tab/tab.tsx
  packages/components/src/components/table/table.scss
  packages/components/src/components/table/table.tsx
  packages/components/src/components/tile/tile.tsx
  packages/components/src/components/tooltip/tooltip.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-message): enable support for deprecated icon color variable (#13586)
  packages/components/src/components/input-message/input-message.e2e.ts
  packages/components/src/components/input-message/input-message.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(carousel): localize ariaLive numbers
  packages/components/src/components/carousel/carousel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: apply PR edits
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/split-button/split-button.tsx
  packages/components/src/components/stepper-item/stepper-item.scss
  packages/components/src/components/stepper-item/stepper-item.tsx
  packages/components/src/components/stepper/stepper.scss
  packages/components/src/components/swatch-group/swatch-group.tsx
  packages/components/src/components/swatch/swatch.tsx
  packages/components/src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert "Align form property description across components"
  packages/components/src/components/action/action.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/meter/meter.tsx
  packages/components/src/components/radio-button/radio-button.tsx
  packages/components/src/components/rating/rating.tsx
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/switch/switch.tsx
  packages/components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align `form` property description across components
  packages/components/src/components/action/action.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/meter/meter.tsx
  packages/components/src/components/radio-button/radio-button.tsx
  packages/components/src/components/rating/rating.tsx
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/switch/switch.tsx
  packages/components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align `messageOverrides` property description across components
  packages/components/src/components/block-section/block-section.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/card/card.tsx
  packages/components/src/components/carousel/carousel.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/chip/chip.tsx
  packages/components/src/components/color-picker/color-picker.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/filter/filter.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/handle/handle.tsx
  packages/components/src/components/inline-editable/inline-editable.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/stepper-item/stepper-item.tsx
  packages/components/src/components/stepper/stepper.tsx
  packages/components/src/components/tab-nav/tab-nav.tsx
  packages/components/src/components/tab-title/tab-title.tsx
  packages/components/src/components/table-cell/table-cell.tsx
  packages/components/src/components/table-header/table-header.tsx
  packages/components/src/components/table/table.tsx
  packages/components/src/components/text-area/text-area.tsx
  packages/components/src/components/time-picker/time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(carousel): add `paginationDisabled` property (#13704)
  packages/components/src/components/carousel/carousel.e2e.ts
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/carousel/carousel.stories.ts
  packages/components/src/components/carousel/carousel.tsx
  packages/components/src/components/carousel/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align flipPlacements property description across components
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/split-button/split-button.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align headingLevel property description across components
  packages/components/src/components/accordion-item/accordion-item.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/components/src/components/date-picker-month/date-picker-month.tsx
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/navigation-logo/navigation-logo.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align heading property description across components
  packages/components/src/components/accordion-item/accordion-item.tsx
  packages/components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/combobox-item/combobox-item.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/list-item-group/list-item-group.tsx
  packages/components/src/components/navigation-logo/navigation-logo.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/stepper-item/stepper-item.tsx
  packages/components/src/components/table-header/table-header.tsx
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align menuFlipPlacements property description across components
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(action): support `transparent` and `highlight` `active` background colors (#13699)
  packages/components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

Align name property description across components
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/meter/meter.tsx
  packages/components/src/components/radio-button-group/radio-button-group.tsx
  packages/components/src/components/radio-button/radio-button.tsx
  packages/components/src/components/rating/rating.tsx
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/switch/switch.tsx
  packages/components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align overlayPositioning property description across components
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/sort-handle/sort-handle.tsx
  packages/components/src/components/split-button/split-button.tsx
  packages/components/src/components/tooltip/tooltip.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align referenceElement property description across components
  packages/components/src/components/tooltip/tooltip.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align closed property description across components
  packages/components/src/components/flow-item/flow-item.tsx
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align closable property description across components
  packages/components/src/components/chip/chip.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/notice/notice.tsx
  packages/components/src/components/panel/panel.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align validity property description across components
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/combobox/combobox.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input-time-picker/input-time-picker.tsx
  packages/components/src/components/input-time-zone/input-time-zone.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/rating/rating.tsx
  packages/components/src/components/segmented-control/segmented-control.tsx
  packages/components/src/components/select/select.tsx
  packages/components/src/components/slider/slider.tsx
  packages/components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Align messageOverrides property description across components
  packages/components/src/components/accordion-item/accordion-item.tsx
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-group/action-group.tsx
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/action/action.tsx
  packages/components/src/components/alert/alert.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

change resize bar location when action bar expanded
  packages/components/src/components/shell-panel/shell-panel.scss
  packages/components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: add missing backtick for --calcite-tab-text-color
  packages/components/src/components/tab-nav/tab-nav.scss
Due: prettier --write, stylelint --fix

chore(action-menu): fix lint error
  packages/components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(shell-panel): add border for resize handle (#13697)
  packages/components/src/components/shell-panel/shell-panel.e2e.ts
  packages/components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert updates to typography.json
  packages/design-tokens/src/tokens/semantic/z-index.json
Due: prettier --write

revert updates to typography.json
  packages/design-tokens/src/tokens/semantic/typography.json
Due: prettier --write

update theming data
  packages/design-tokens/src/tokens/$themes.json
Due: prettier --write

Add back the removed reference URLs on some name property instances
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/text-area/text-area.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reorder tokens in light|dark.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/shadow.json
Due: prettier --write

revert Tokens Studio auto format error with shadow.json
  packages/design-tokens/src/tokens/semantic/shadow.json
Due: prettier --write

reorder tokens in light.json (previous commit failed)
  packages/design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

chore(action-menu): fix lint error (#13725)
  packages/components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

simply add support for deprecated var, same as preferred var
  packages/components/src/components/menu-item/menu-item.scss
Due: prettier --write, stylelint --fix

update deprecated tests to be aligned with icon tests
  packages/components/src/components/menu-item/menu-item.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
