Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

Wording change
  packages/components/src/components/block/block.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: update deployment process to use release branches
  .github/workflows/deploy-latest.yml
Due: prettier --write

ci: update deployment process to use release branches (#13839)
  .github/workflows/deploy-latest.yml
Due: prettier --write

docs: remove copyright preamble for consistent copyright headers across cc + sdk
  packages/components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: set explicit release branch name
  .github/workflows/deploy-latest.yml
Due: prettier --write

derive target-branch from current branch
  .github/workflows/deploy-latest.yml
Due: prettier --write

fix branch name and use filter
  .github/workflows/deploy-latest.yml
Due: prettier --write

use wider release branch filter
  .github/workflows/deploy-latest.yml
Due: prettier --write

ci: fix branch name references (#13841)
  .github/workflows/deploy-latest.yml
Due: prettier --write

chore: release releases/2026.R1
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/tailwind-preset/CHANGELOG.md
  packages/tailwind-preset/package.json
  packages/ui-icons/CHANGELOG.md
  packages/ui-icons/docs/index.html
  packages/ui-icons/package.json
Due: prettier --write, markdownlint --fix

ci(release-please): drop inert release-as option
  release-please-config.json
Due: prettier --write

set last release SHA prior to v5
  release-please-config.json
Due: prettier --write

set group PR title
  release-please-config.json
Due: prettier --write

ci(release-please): update config for v5 release (#13843)
  release-please-config.json
Due: prettier --write

ci(release-please): run on workflow dispatch and release-branch push
  .github/workflows/deploy-latest.yml
Due: prettier --write

ci(release-please): run on workflow dispatch and release-branch push (#13844)
  .github/workflows/deploy-latest.yml
Due: prettier --write

ci(release-please): restore release-as for packages starting at v5 for alignment
  release-please-config.json
Due: prettier --write

ci(release-please): restore `release-as` for packages starting at v5 for alignment (#13846)
  release-please-config.json
Due: prettier --write

chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/tailwind-preset/CHANGELOG.md
  packages/tailwind-preset/package.json
  packages/ui-icons/CHANGELOG.md
  packages/ui-icons/docs/index.html
  packages/ui-icons/package.json
Due: prettier --write, markdownlint --fix

chore: switch main with release branches
  .github/workflows/codeql-analysis.yml
  .github/workflows/contributors.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/remove-prerelease-changelog-entries.yml
  CONTRIBUTING.md
  lerna.json
  packages/design-tokens/CONTRIBUTING.md
  packages/ui-icons/docs/app.js
  support/release.sh
  support/removePrereleaseChangelogEntries.mts
Due: prettier --write, markdownlint --fix

tidy up
  support/release.sh
Due: none

tweak prerelease cleanup script
  support/removePrereleaseChangelogEntries.mts
Due: none

chore: switch main with release branches (#13848)
  .github/workflows/codeql-analysis.yml
  .github/workflows/contributors.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/remove-prerelease-changelog-entries.yml
  CONTRIBUTING.md
  lerna.json
  packages/design-tokens/CONTRIBUTING.md
  packages/ui-icons/docs/app.js
  support/release.sh
  support/removePrereleaseChangelogEntries.mts
Due: prettier --write, markdownlint --fix

chore(release-please): drop last-release-sha as it produces the same changelog
  release-please-config.json
Due: prettier --write

chore(release-please): drop `last-release-sha` as it produces the same changelog (#13853)
  release-please-config.json
Due: prettier --write

ci(release-please): skip if deploy-latest workflow is not on release branch
  .github/workflows/deploy-latest.yml
Due: prettier --write

ci(release-please): drop group-pull-request-title-pattern to test effect on workflow
  release-please-config.json
Due: prettier --write

ci(release-please): drop `group-pull-request-title-pattern` to test effect on workflow (#13858)
  release-please-config.json
Due: prettier --write

chore: release main (#13860)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/components-snippets/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-plugin-components/CHANGELOG.md
  packages/tailwind-preset/CHANGELOG.md
  packages/tailwind-preset/package.json
  packages/typescript-config/CHANGELOG.md
  packages/ui-icons/CHANGELOG.md
  packages/ui-icons/docs/index.html
  packages/ui-icons/package.json
Due: prettier --write, markdownlint --fix

chore(release): update setup to troubleshoot deploy-latest workflow
  .github/workflows/troubleshoot-release-publish.yml
  support/release.sh
Due: prettier --write

chore(release): update setup to troubleshoot deploy-latest workflow (#13862)
  .github/workflows/troubleshoot-release-publish.yml
  support/release.sh
Due: prettier --write

feat(list): add a empty state drag and drop slot #11954
  packages/components/index.html
  packages/components/src/components/list/list.scss
  packages/components/src/components/list/list.tsx
  packages/components/src/components/list/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert html
  packages/components/index.html
  packages/components/src/components/list/list.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: move token set to setup-node step
  .github/workflows/troubleshoot-release-publish.yml
Due: prettier --write

tidy up
  .github/workflows/troubleshoot-release-publish.yml
Due: prettier --write

chore: move token set to setup-node step (#13865)
  .github/workflows/troubleshoot-release-publish.yml
Due: prettier --write
