Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

fix(loader): update component token names
  packages/calcite-components/src/components/loader/loader.scss
Due: prettier --write, stylelint --fix

fix(action, block, card, scrim): rename loader sub-component tokens
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/scrim/scrim.scss
Due: prettier --write, stylelint --fix

refactor
  packages/calcite-components/src/components/menu-item/menu-item.scss
Due: prettier --write, stylelint --fix

add tests
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(menu-item): add component tokens (#8843)
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add tokens for stepper-item
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

update jsdoc
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix icon colors
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix(time-picker): selector and zindex global token
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add storybook tests
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper/stepper.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix typo
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

fix(combobox): remove extra margin
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

use accent vs status
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

drop props for slotted content in favor of direct slot overrides
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

sort props
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

fix(loader): update names (#8924)
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/scrim/scrim.scss
Due: prettier --write, stylelint --fix

fix(color-picker): make token names more descriptive
  packages/calcite-components/src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix

fix regression
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix typo
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

fix line height
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

use preventDefault instead
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(action components): audit descriptions in readme
  packages/calcite-components/src/components/accordion/readme.md
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-group/readme.md
  packages/calcite-components/src/components/action-pad/readme.md
  packages/calcite-components/src/components/action/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

clean up CSS props
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): prevent toggling items when combobox is closed (#8923)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): prevent spacebar from opening the menu while focusing on `chip`'s close button (#8909)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(button): set background on hover states when appearance is set
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

fix bordered regression
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix

drop non-subcomponent-related state props
  packages/calcite-components/src/components/switch/switch.scss
Due: prettier --write, stylelint --fix

refactor(select): drop non-subcomponent-related state props
  packages/calcite-components/src/components/select/select.scss
Due: prettier --write, stylelint --fix

drop non-subcomponent-related state props
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Due: prettier --write, stylelint --fix

update props
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Due: prettier --write, stylelint --fix

feat(block-section): add applicable label and switch CSS props
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix

tidy up
  packages/calcite-components/src/components/block-section/block-section.scss
Due: prettier --write, stylelint --fix

tidy up
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

feat(color-picker): clean up isClear code
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/demos/color-picker.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(alert, avatar): audit descriptions in readme
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/avatar/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json
