Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

fix animations
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(accordion-item): rename space token (#10068)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Due: prettier --write, stylelint --fix

test(action-pad, action-menu): fix e2e tests
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Fixed the positioning for the handle label for range
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

handle dialog resizable and dragEnabled change after initialization
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix initially open input-time-picker use case
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ensure initially open tests are in a separate describe block and update the helper doc accordingly
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: ensure `beforeOpen`/`open` and `beforeClose`/`close` events emit properly (#9958)
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/notice/notice.scss
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(action-pad): remove extranious token from tests
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-group): provide token default/fallback
  packages/calcite-components/src/components/action-group/action-group.scss
Due: prettier --write, stylelint --fix

test(action-bar): be more explicit in tests
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

set user-select to none on slider container
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/accordion/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

fix(input, combobox, input-date-picker, input-number, input-text, input-time-picker, radio-button-group, segmented-control, select, text-area): provide clear field error messaging for AT (#9880)
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-number/resources.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-text/resources.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-picker/resources.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button-group/resources.ts
  packages/calcite-components/src/components/segmented-control/resources.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/resources.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/resources.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: updated existing icons
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Due: none

fix: updated tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

fix: launched reference page
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Due: none

cleanup
  packages/calcite-components/src/components/alert/AlertManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(chromatic): ensure skip label added by ci works
  .github/workflows/pr-e2e.yml
Due: prettier --write

docs: update component READMEs (#10070)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/accordion/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

fix: update close-caption, and transcript (#10077)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Due: prettier --write

add focus border when extending range via mouse
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/utils/date.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(action): add disabled active test to chromatic
  packages/calcite-components/src/components/action/action.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(action): remove comments
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

docs(action-bar): use the word “specifies”
  packages/calcite-components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

fix(combobox, input-date-picker, input-number, input-text, input-time-picker, input, radio-button-group, segmented-control, select, text-area): use toAriaBoolean in aria-invalid attribute for AT
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(slider): prevent text selection when using the slider (#10073)
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: fix cheerio import statement
  packages/calcite-components/.storybook/manager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(dialog): add escapeDisabled property. #10080
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

typings
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix tests
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup test
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(action-group): update gap token to note deprecation
  packages/calcite-components/src/components/action-group/action-group.scss
Due: prettier --write, stylelint --fix

update doc description
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Fix for reverse labels range in progress
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

Temporary commit of html file to download to mac'
  packages/calcite-components/src/demos/slider.html
Due: prettier --write

ci(chromatic): ensure skip label added by ci works (#10078)
  .github/workflows/pr-e2e.yml
Due: prettier --write

feat(dialog): add outsideCloseDisabled property (#9978)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
