Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

ci(actions): sync all current assignees to new Monday column
  .github/scripts/support/monday.js
Due: none

ci(actions): rename Monday `dropdown` and `comma` types for clarity
  .github/scripts/support/monday.js
Due: none

docs(CONTRIBUTING): improve contributor onboarding guidance (#13980)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

forgot to add the setFormValue calls. Also removing connectForm and disconnectForm
  packages/components/src/components/input-text/input-text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

replacing submitForm with ElementInternals requestSubmit
  packages/components/src/components/input-text/input-text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): sync all current assignees to new Monday column (#13942)
  .github/scripts/support/monday.js
Due: none

restoring preventDefault in the keydownhandler when enter is pressed
  packages/components/src/components/input-text/input-text.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(next): install deps without updating lockfile
  .github/scripts/publishPrerelease.sh
Due: none

feat: added tags
  packages/ui-icons/docs/keywords.json
Due: prettier --write

docs: clarify table-cell alignment property.
  packages/components/src/components/table-cell/table-cell.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: clarify table-row alignment property.
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: add default to table-row alignment property
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test animation duration
  packages/components/src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

ci(latest): use `npm ci` instead of `npm install`
  .github/workflows/deploy-latest.yml
Due: prettier --write

remove default alignment because center is only the default when rowType is not head.
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(dom): drop unused util
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(release): install deps without updating the lockfile (#13988)
  .github/scripts/publishPrerelease.sh
  .github/workflows/deploy-latest.yml
Due: prettier --write

feat(action-bar): add expandPosition property and slot for start actions #9832
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.e2e.ts
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.stories.ts
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/resources.ts
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(dom): drop unused util (#13993)
  packages/components/src/utils/dom.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/action-bar/action-bar.scss
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/functional/ExpandToggle.tsx
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add tests
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/components/src/components/action-bar/action-bar.stories.ts
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

move event details to prop and added test
  packages/components/src/components/action-group/action-group.browser.e2e.tsx
  packages/components/src/components/action-group/action-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/action-bar/action-bar.stories.ts
  packages/components/src/components/action-bar/action-bar.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

removed only modifier in test
  packages/components/src/components/action-group/action-group.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

recreate lockfile
  package-lock.json
Due: prettier --write

fix test markup
  packages/components/src/components/link/link.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update lockfile
  package-lock.json
Due: prettier --write

build: update browserslist db
  package-lock.json
Due: prettier --write
