Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

refactor(src-tokens): update font token metadata (#14238)
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

fix missed references
  packages/design-tokens/src/build/format/typography.ts
  packages/design-tokens/src/build/transforms/value/merge-value.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restore $value fields in font.json
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

more legible code for positioning first body position
  packages/components/src/components/table-row/table-row.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

consistent UX for scrolling with/without sticky-header
  packages/components/src/components/table-row/table-row.tsx
  packages/components/src/components/table/sticky-header.ts
  packages/components/src/components/table/table.e2e.ts
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

rename file
  packages/components/src/components/table-row/table-row.tsx
  packages/components/src/components/table/scroll-container.ts
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#14242)
  README.md
Due: prettier --write, markdownlint --fix

build: update browserslist db (#14235)
  package-lock.json
Due: prettier --write

build(deps): bump `focus-trap` (#14203)
  package-lock.json
  packages/components/package.json
Due: prettier --write

migrate sticky-header logic
  packages/components/src/components/table-row/table-row.tsx
  packages/components/src/components/table/sticky-header.ts
  packages/components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reorder keys within src tokens
  packages/design-tokens/src/tokens/core/$metadata.json
  packages/design-tokens/src/tokens/core/color.json
  packages/design-tokens/src/tokens/core/container-size.json
  packages/design-tokens/src/tokens/core/font.json
  packages/design-tokens/src/tokens/core/opacity.json
  packages/design-tokens/src/tokens/core/shadow.json
  packages/design-tokens/src/tokens/core/size.json
  packages/design-tokens/src/tokens/core/z-index.json
  packages/design-tokens/src/tokens/semantic/border.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
  packages/design-tokens/src/tokens/semantic/container-size.json
  packages/design-tokens/src/tokens/semantic/corner-radius.json
  packages/design-tokens/src/tokens/semantic/font.json
  packages/design-tokens/src/tokens/semantic/opacity.json
  packages/design-tokens/src/tokens/semantic/shadow.json
  packages/design-tokens/src/tokens/semantic/size.json
  packages/design-tokens/src/tokens/semantic/space.json
  packages/design-tokens/src/tokens/semantic/typography.json
  packages/design-tokens/src/tokens/semantic/z-index.json
Due: prettier --write

reorder keys in core/metadata.json
  packages/design-tokens/src/tokens/core/$themes.json
Due: prettier --write

remove extra fit count chip
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

using tagName in the queryselector for radio-type elements
  packages/components/src/controllers/useForm.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/menu/menu.scss
  packages/components/src/components/menu/menu.scss
Due: prettier --write, stylelint --fix

fix(combobox, menu, textarea): apply line-height (#14236)
  packages/components/src/components/combobox/combobox.scss
  packages/components/src/components/menu/menu.scss
  packages/components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

fix test
  packages/components/src/components/time-picker/time-picker.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(time-picker): remove unnecessary whitespace handling (#14227)
  packages/components/src/components/time-picker/time-picker.browser.e2e.tsx
  packages/components/src/components/time-picker/time-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tree): restore lines containment
  packages/components/src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

adjust diff threshold to pick up lines changes
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

correct threshold value
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tweak diff threshold
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#14249)
  README.md
Due: prettier --write, markdownlint --fix

test with longer delay
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

set most sensitive threshold
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add line-specific test
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

include anti aliasing
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test with line color
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

address review comments
  packages/components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Test baseline lines snapshot.
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(dialog): specify that `modal` must be `true` for `outsideCloseDisabled` to work
  packages/components/src/components/dialog/dialog.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(dialog): specify that `modal` must be `true` for `outsideCloseDisabled` to work (#14253)
  packages/components/src/components/dialog/dialog.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
