Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

fix renamed token in tailwind config affecting icon color
  packages/calcite-components/calcite-preset.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove support for the "thai" numbering system
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/demos/_assets/locales.ts
  packages/calcite-components/src/demos/date-picker.html
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

use previous name for inverting focus offset to align with token
  packages/calcite-components/calcite-preset.ts
  packages/calcite-components/src/assets/styles/global.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(react)!: disable includeImportCustomElements to resolve initial render issues
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchSSR.ts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(color-picker, popover, shell-panel, slider, tooltip): Register events on the window instead of the document (#8247)
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(i18n)!: reduce list of supported numbering systems (#8217)
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/demos/_assets/locales.ts
  packages/calcite-components/src/demos/date-picker.html
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(react)!: disable includeImportCustomElements to resolve initial render issues (#8248)
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchSSR.ts
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tokens): remove unused token sets
  packages/calcite-design-tokens/src/brand/dark.json
  packages/calcite-design-tokens/src/brand/global.json
  packages/calcite-design-tokens/src/brand/light.json
  packages/calcite-design-tokens/src/calcite/dark.json
  packages/calcite-design-tokens/src/calcite/light.json
Due: prettier --write

fix(offset-invert-focust token): remove from semantic
  packages/calcite-design-tokens/src/semantic/spacing.json
Due: prettier --write

docs(tokens): update README
  packages/calcite-design-tokens/README.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

fix(color token): update values to align with design
  packages/calcite-design-tokens/src/semantic/color.json
Due: prettier --write

fix: update import refs in calcite-componetns includes
  packages/calcite-components/src/assets/styles/includes.scss
Due: prettier --write, stylelint --fix

fix(color tokens): update references
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(dropdown): rename width property to widthScale
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/demos/dropdown.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

rename attr selector
  packages/calcite-components/src/components/dropdown/dropdown.scss
Due: prettier --write, stylelint --fix

refactor(modal): rename width property to widthScale
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix build error
  packages/calcite-components/src/components/split-button/split-button.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: add token snapshot tests (#8050)
  .vscode/launch.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test failures
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix regression
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown): change display to inline-block to ease truncation setup
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

update E2E test
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(modal)!: rename `width` property to `widthScale` (#8252)
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(dropdown)!: rename `width` property to `widthScale` (#8251)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/demos/dropdown.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown)!: change display to inline-block to ease truncation setup (#8253)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(tokens): skip outdated tests
  packages/calcite-design-tokens/support/tests/index.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(tokens): update outdated token names and imports
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

style(components.d.ts): commit unformatted file
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(stepper): typo in CSS variable for step bar's fill
  packages/calcite-components/src/components/stepper/stepper.scss
Due: prettier --write, stylelint --fix

fix(dropdown): restore trigger container height
  packages/calcite-components/src/components/dropdown/dropdown.scss
Due: prettier --write, stylelint --fix

refactor(alert): remove unnecessary CSS declaration
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

docs(label, list): update usage examples (#8192)
  packages/calcite-components/src/components/label/usage/Basic.md
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/list/usage/Basic.md
  packages/calcite-components/src/components/list/usage/DragEnabled.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/list/usage/Grouped.md
  packages/calcite-components/src/components/list/usage/MultipleSelections.md
  packages/calcite-components/src/components/list/usage/Nested.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

feat(list-item): Add content-bottom slot for placing content below the label and description of the component (#8183)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(design-tokens): delete unnecessary lock file (#8197)
  packages/calcite-design-tokens/package-lock.json
Due: prettier --write

fix(list-item, stack): stretch dropdown when placed inside a list-item or stack (#8204)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/stack/stack.scss
  packages/calcite-components/src/components/stack/stack.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(list-item): adds border between grouped and ungrouped list-items (#8134)
  packages/calcite-components/calcite-preset.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test(panel, flow-item): add screenshot tests for overflow (#8028) (#8161)
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
