Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

build(deps): bump arcgis deps to next (#12824)
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Due: prettier --write

tidy up
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up dynamic ref usage
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Adding 3 new util functions to fix a pre-existing bug where you were unable to type allowed characters ".", "-" and "e/E" when the current input value was fully selected and about to be overwritten
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/utils/input.ts
  packages/calcite-components/src/utils/locale.ts
  packages/calcite-components/src/utils/number.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add line-height tokens to font sizes
  packages/calcite-tailwind-preset/src/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert unrelated change
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add missing ref el check
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove unnecessary guard
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(storybook): restore `@whitespace/storybook-addon-html` (#12822)
  package-lock.json
  package.json
  packages/calcite-components/.storybook/main.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(select): tidy up
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(radio-button-group): deprecate `"grid"` value for `layout` property, add logger
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#12811)
  README.md
Due: prettier --write, markdownlint --fix

build: update browserslist db (#12804)
  package-lock.json
Due: prettier --write

docs(conventions): add boolean attribute rule to Documentation Style Guide
  packages/calcite-components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

refactor(select): tidy up (#12830)
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(swatch): Use `label` for visual title
  packages/calcite-components/src/components/swatch/resources.ts
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.tsx
  packages/calcite-components/src/demos/swatch-group.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/swatch/swatch.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/custom-theme/split-button.ts
  packages/calcite-components/src/demos/split-button.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/demos/split-button.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(swatch): Use label for visual title (#12841)
  packages/calcite-components/src/components/swatch/resources.ts
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.tsx
  packages/calcite-components/src/demos/swatch-group.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Refactored code to meet Lumina standards
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(conventions): add boolean attribute rule to Documentation Style Guide (#12834)
  packages/calcite-components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

fix(list, block-group): sort handle menu should respond to new lists or label changes #12847
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add tests
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(accordion-item): add content-start and content-end slots
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
  packages/calcite-components/src/components/accordion/accordion.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#12835)
  package-lock.json
Due: prettier --write

fix(list, block-group): sort handle menu should respond to new lists or label changes (#12848)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(accordion-item): hide content-start container when there is no slotted content
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add test
  packages/calcite-components/src/components/action/action.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: skip tests for now
  packages/calcite-components/src/components/action/action.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tree-item): add treeItemSelect event
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tab-nav): improve overflow UX
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(accordion-item): hide content-end when there is no slotted content
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(accordion-item): add content-start and content-end slots (#12849)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
  packages/calcite-components/src/components/accordion/accordion.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
