Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/autocomplete/assets/autocomplete/t9n/messages.json
  packages/calcite-components/src/components/autocomplete/assets/autocomplete/t9n/messages_en.json
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
  packages/calcite-components/src/index.html
  t9nmanifest.txt
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete-item/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Fixed failing tests
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.tsx
  packages/calcite-components/src/components/tip/tip.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert
  packages/calcite-components/src/demos/input.html
Due: prettier --write

Update .stylelintrc.cjs
  packages/calcite-components/.stylelintrc.cjs
Due: none

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete-item/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
  packages/calcite-components/src/demos/_assets/demo-template.ts
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

icon
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add icon
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

fix output path used by `generateT9nDocsJSON.ts`
  packages/calcite-components/support/generateT9nDocsJSON.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell-center-row): ensure deprecation warning doesn’t show when using standalone `shell` or `shell-panel` (#10561)
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(inline-editable): add tooltips for controls (#10538)
  packages/calcite-components/src/components/inline-editable/assets/inline-editable/t9n/messages.json
  packages/calcite-components/src/components/inline-editable/assets/inline-editable/t9n/messages_en.json
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, stylelint --fix

feat(list, list-item): update jsdoc description
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list, list-item): update console warning quotes
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

feat(list, list-item): add non-interactive option to remove hover/pointer changes. (#10473)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

removing --calcite-tile-description-text-color-hover
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

test app
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write

cleanup
  packages/calcite-components/src/components/autocomplete/autocomplete.scss
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

removing --calcite-tile-heading-text-color-hover
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(button): simplify tokens
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

test(button): add tests e2e storybook and demo pages
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/button.ts
  packages/calcite-components/src/demos/button.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(fab): add component tokens
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/fab/fab.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add border color
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

sheet resizable separator role
  packages/calcite-components/src/components/sheet/interfaces.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(modal): close on escape works regardless of focus-trap
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

removing --calcite-tile-href-icon-color-hover in favor of using --calcite-tile-icon-color with an href attribute + hover css selector
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(tabs, tab, tab-title, tab-nav): update component tokens
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix

docs(tabs): update “the” to “specifies” to follow conventions
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix

fix: renamed icons
  packages/calcite-ui-icons/icons/web-adapter-16.svg
  packages/calcite-ui-icons/icons/web-adapter-24.svg
  packages/calcite-ui-icons/icons/web-adapter-32.svg
Due: none

fix: updated tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

global esc listener on window for when focus-trap is disabled
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix reordering.
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
