Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

revert font weight token renames
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/semantic/font.json
Due: prettier --write

fix output value type of fontWeight, opacity, typography and z-index tokens
  packages/calcite-design-tokens/support/transforms/group/calcite.ts
  packages/calcite-design-tokens/support/transforms/index.ts
  packages/calcite-design-tokens/support/transforms/value/ensureType.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Attributes added to core>color>neutral tokens
  packages/calcite-design-tokens/src/core/$themes.json
  packages/calcite-design-tokens/src/core/color.json
Due: prettier --write

Removed metadata from core color tokens
  packages/calcite-design-tokens/src/core/color.json
Due: prettier --write

updated structure for core sizing tokens
  packages/calcite-design-tokens/src/$themes.json
  packages/calcite-design-tokens/src/core/container-size.json
  packages/calcite-design-tokens/src/core/size.json
Due: prettier --write

Added "px" back to core size and container-size tokens
  packages/calcite-design-tokens/src/core/container-size.json
  packages/calcite-design-tokens/src/core/size.json
Due: prettier --write

Updated semantic size structure to align with Figma
  packages/calcite-design-tokens/src/$themes.json
  packages/calcite-design-tokens/src/semantic/size.json
Due: prettier --write

restore breakpoint type for core container-size tokens
  packages/calcite-design-tokens/src/core/container-size.json
Due: prettier --write

update size token references
  packages/calcite-design-tokens/src/semantic/border.json
  packages/calcite-design-tokens/src/semantic/container-size.json
  packages/calcite-design-tokens/src/semantic/corner.json
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/src/semantic/space.json
Due: prettier --write

feat(combobox): add select-all toggle
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: add native-button-tab-index-required rule
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/src/rules/native-button-tab-index-required.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/native-button-tab-index-required/native-button-tab-index-required.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/native-button-tab-index-required/native-button-tab-index-required.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/native-button-tab-index-required/native-button-tab-index-required.wrong.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor
  packages/eslint-plugin-calcite-components/src/rules/native-button-tab-index-required.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

getting the value property to reflect!
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/controllers/time/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tabs, tab-nav, tab-title, tab): add component tokens
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/functional/XButton.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-title/resources.ts
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tab/tab.e2e.ts
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/resources.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.scss
  packages/calcite-components/src/components/tabs/tabs.tsx
  packages/calcite-components/src/custom-theme/tabs.ts
  packages/calcite-components/src/demos/tabs.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing localized fractional second rendering bug. isValidTimePart didn't include proper logic to validate fractional seconds
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tabs, tab-nav, tab-title, tab): update token description
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
Due: prettier --write, stylelint --fix

rename files to kebab-case
  packages/calcite-design-tokens/src/build/filter/global.ts
  packages/calcite-design-tokens/src/build/filter/index.ts
  packages/calcite-design-tokens/src/build/filter/light-or-dark.ts
  packages/calcite-design-tokens/src/build/format/index-file.ts
  packages/calcite-design-tokens/src/build/format/index.ts
  packages/calcite-design-tokens/src/build/format/typography.ts
  packages/calcite-design-tokens/src/build/transforms/attribute/platform-names.ts
  packages/calcite-design-tokens/src/build/transforms/group/calcite.ts
  packages/calcite-design-tokens/src/build/transforms/index.ts
  packages/calcite-design-tokens/src/build/transforms/name/capital-case.ts
  packages/calcite-design-tokens/src/build/transforms/name/include-plus-minus.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-color-mode.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-default.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-prefix.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-tier.ts
  packages/calcite-design-tokens/src/build/transforms/value/css-shadow.ts
  packages/calcite-design-tokens/src/build/transforms/value/ensure-type.ts
  packages/calcite-design-tokens/src/build/transforms/value/math-sum.ts
  packages/calcite-design-tokens/src/build/transforms/value/merge-value.ts
  packages/calcite-design-tokens/src/build/transforms/value/px-to-rem.ts
  packages/calcite-design-tokens/src/build/transforms/value/unitless-breakpoint-to-px.ts
  packages/calcite-design-tokens/src/build/utils/formatting-without-prefix.ts
  packages/calcite-design-tokens/src/build/utils/get-number-and-unit.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix type issues
  packages/calcite-design-tokens/src/build/transforms/value/merge-value.ts
  packages/calcite-design-tokens/src/build/utils/get-number-and-unit.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing meridiem not updating when hour is changing between am and pm
  packages/calcite-components/src/controllers/time/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Semantic size and container-size tokens re-attached to core tokens, structure updated to align with Figma
  packages/calcite-design-tokens/src/$themes.json
  packages/calcite-design-tokens/src/semantic/container-size.json
  packages/calcite-design-tokens/src/semantic/size.json
  packages/calcite-design-tokens/src/semantic/space.json
Due: prettier --write

Removed remaining attributes for Semantic tokens
  packages/calcite-design-tokens/src/semantic/space.json
  packages/calcite-design-tokens/src/semantic/z-index.json
Due: prettier --write

restore container-size types and update breakpoints check
  packages/calcite-design-tokens/src/build/filter/breakpoints.ts
  packages/calcite-design-tokens/src/build/transforms/value/px-to-rem.ts
  packages/calcite-design-tokens/src/build/transforms/value/unitless-breakpoint-to-px.ts
  packages/calcite-design-tokens/src/build/utils/token-types.ts
  packages/calcite-design-tokens/src/tokens/core/container-size.json
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update container-size type for semantic tokens
  packages/calcite-design-tokens/src/tokens/semantic/container-size.json
Due: prettier --write

remove unused type in expand object
  packages/calcite-design-tokens/src/config/semantic.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up enums
  packages/calcite-design-tokens/src/build/filter/breakpoints.ts
  packages/calcite-design-tokens/src/build/filter/core.ts
  packages/calcite-design-tokens/src/build/filter/dark.ts
  packages/calcite-design-tokens/src/build/filter/global.ts
  packages/calcite-design-tokens/src/build/filter/include.ts
  packages/calcite-design-tokens/src/build/filter/light-or-dark.ts
  packages/calcite-design-tokens/src/build/filter/light.ts
  packages/calcite-design-tokens/src/build/filter/semantic.ts
  packages/calcite-design-tokens/src/build/filter/source.ts
  packages/calcite-design-tokens/src/build/filter/typography.ts
  packages/calcite-design-tokens/src/build/format/typography.ts
  packages/calcite-design-tokens/src/build/transforms/attribute/platform-names.ts
  packages/calcite-design-tokens/src/build/transforms/attribute/schema.ts
  packages/calcite-design-tokens/src/build/transforms/name/capital-case.ts
  packages/calcite-design-tokens/src/build/transforms/name/include-plus-minus.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-color-mode.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-default.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-prefix.ts
  packages/calcite-design-tokens/src/build/transforms/name/remove-tier.ts
  packages/calcite-design-tokens/src/build/transforms/value/css-shadow.ts
  packages/calcite-design-tokens/src/build/transforms/value/ensure-type.ts
  packages/calcite-design-tokens/src/build/transforms/value/math-sum.ts
  packages/calcite-design-tokens/src/build/transforms/value/merge-value.ts
  packages/calcite-design-tokens/src/build/transforms/value/px-to-rem.ts
  packages/calcite-design-tokens/src/build/transforms/value/unitless-breakpoint-to-px.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-design-tokens/src/build/format/docs.ts
  packages/calcite-design-tokens/src/build/format/typography.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test dev tokens
  packages/calcite-design-tokens/src/build-tokens.ts
  packages/calcite-design-tokens/src/config/semantic.ts
  packages/calcite-design-tokens/src/tokens/core/color.json
  packages/calcite-design-tokens/src/tokens/core/container-size.json
  packages/calcite-design-tokens/src/tokens/core/font.json
  packages/calcite-design-tokens/src/tokens/core/opacity.json
  packages/calcite-design-tokens/src/tokens/core/shadow.json
  packages/calcite-design-tokens/src/tokens/core/size.json
  packages/calcite-design-tokens/src/tokens/core/z-index.json
  packages/calcite-design-tokens/src/tokens/semantic/border.json
  packages/calcite-design-tokens/src/tokens/semantic/calcite/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/calcite/light.json
  packages/calcite-design-tokens/src/tokens/semantic/color.json
  packages/calcite-design-tokens/src/tokens/semantic/container-size.json
  packages/calcite-design-tokens/src/tokens/semantic/corner.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
  packages/calcite-design-tokens/src/tokens/semantic/opacity.json
  packages/calcite-design-tokens/src/tokens/semantic/shadow.json
  packages/calcite-design-tokens/src/tokens/semantic/size.json
  packages/calcite-design-tokens/src/tokens/semantic/space.json
  packages/calcite-design-tokens/src/tokens/semantic/typography.json
  packages/calcite-design-tokens/src/tokens/semantic/z-index.json
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

set to
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

logic for all items to be selected/deselected when selectAll is toggled
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix trailing - in default transform
  packages/calcite-design-tokens/src/build/transforms/name/remove-default.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

when this.selectAllChecked hide all the chips and instead display one only that says All selected:
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add value correction transform
  packages/calcite-design-tokens/src/build/transforms/group/calcite.ts
  packages/calcite-design-tokens/src/build/transforms/index.ts
  packages/calcite-design-tokens/src/build/transforms/value/correct-value.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-design-tokens/src/build/transforms/value/css-shadow.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

provide platform option consistently
  packages/calcite-design-tokens/src/config/calcite/dark.ts
  packages/calcite-design-tokens/src/config/calcite/light.ts
  packages/calcite-design-tokens/src/config/semantic.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

drop unused filter
  packages/calcite-design-tokens/src/config/semantic.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

rewrite css in tailwind and calcite tokens
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

add this.selectAllKeyDownHandler and prevent single select and single persist select from aquiring the checkbox Select all
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write
