Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix(list): prevent drag flickering while sorting #12583
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update switch scale in block-section
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update translation - @mit10976 @isa13169 @nia13404
  packages/calcite-components/src/components/checkbox/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/checkbox/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/radio-button-group/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/radio-button-group/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/segmented-control/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/segmented-control/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/select/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/select/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/slider/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/slider/assets/t9n/messages.zh-HK.json
Due: prettier --write

sort handle tests
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

list and block tests
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): prevent drag flickering while sorting (#12631)
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

simplify conditional
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

simplify conditional
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

docs: update 3rd party licenses
  packages/calcite-components-react/THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

chore(localization): update translation (#12632)
  packages/calcite-components/src/components/checkbox/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/checkbox/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/radio-button-group/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/radio-button-group/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/segmented-control/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/segmented-control/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/select/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/select/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/slider/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/slider/assets/t9n/messages.zh-HK.json
Due: prettier --write

eliminate margin-block once for all in block
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

fix(list): fix visual artifacts when you initiate a drag operation with the drag handle menu open (#12611)
  packages/calcite-components/src/assets/styles/_sortable.scss
Due: prettier --write, stylelint --fix

no-matches-placeholder message text-3
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix typo
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

default cursor for placeholder message
  packages/calcite-components/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

revis large scale font-size and spacing
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/swatch-group/swatch-group.tsx
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(combobox): Provide context when filtering and there are no matching results (#12525)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/custom-theme/combobox.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(icons): drop unused icon scripts
  package-lock.json
  packages/calcite-ui-icons/README.md
  packages/calcite-ui-icons/bin/convert-mobile.js
  packages/calcite-ui-icons/package.json
Due: prettier --write, markdownlint --fix

feat(swatch, swatch-group): Add new components (#12584)
  packages/calcite-components/index.html
  packages/calcite-components/src/components/swatch-group/readme.md
  packages/calcite-components/src/components/swatch-group/resources.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.e2e.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.scss
  packages/calcite-components/src/components/swatch-group/swatch-group.stories.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.tsx
  packages/calcite-components/src/components/swatch/readme.md
  packages/calcite-components/src/components/swatch/resources.ts
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.stories.ts
  packages/calcite-components/src/components/swatch/swatch.tsx
  packages/calcite-components/src/demos/_assets/images/hatch-1.png
  packages/calcite-components/src/demos/_assets/images/hatch-2.png
  packages/calcite-components/src/demos/_assets/images/hatch-3.png
  packages/calcite-components/src/demos/_assets/images/hatch-4.png
  packages/calcite-components/src/demos/_assets/images/hatch-5.png
  packages/calcite-components/src/demos/_assets/images/pattern-1.png
  packages/calcite-components/src/demos/_assets/images/pattern-2.png
  packages/calcite-components/src/demos/_assets/images/pattern-3.png
  packages/calcite-components/src/demos/_assets/images/pattern-4.png
  packages/calcite-components/src/demos/swatch-group.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

chore(icons): drop glob in favor of globby
  package-lock.json
  packages/calcite-ui-icons/bin/optimize.js
  packages/calcite-ui-icons/bin/path-data.js
  packages/calcite-ui-icons/package.json
Due: prettier --write

chore: replace lodash-es with es-toolkit
  package-lock.json
  package.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/utils/filter.ts
  packages/calcite-components/src/utils/floating-ui.ts
  packages/calcite-design-tokens/src/build/format/typography.ts
  packages/calcite-ui-icons/bin/path-data.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#12616)
  package-lock.json
Due: prettier --write

chore: restore silencing of sass deprecation warnings
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix mixed-decl warning
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

use compat version of escapeRegExp
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/utils/filter.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update 3rd party licenses (#12591)
  packages/calcite-components-react/THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

chore(icons): drop glob in favor of globby (#12637)
  package-lock.json
  packages/calcite-ui-icons/bin/optimize.js
  packages/calcite-ui-icons/bin/path-data.js
  packages/calcite-ui-icons/package.json
Due: prettier --write

chore: restore sass deprecation warning silencing (#12640)
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/vite.config.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

added unit test to check type errors
  packages/calcite-components/src/components/select/select.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove extra padding for icon-end container
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

removing unused properties and updating useValue property descriptions to be more descriptive
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/controllers/useTime.ts
  packages/calcite-components/src/controllers/useValue.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fixing userChangedValue logic to always set back to false after handling the direct value change logic in hostUpdate.
  packages/calcite-components/src/controllers/useValue.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Fixing an issue where deleting a time field wasn't refreshing the localized display
  packages/calcite-components/src/controllers/useTime.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add more stories
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/custom-theme/block-section.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(panel): child panels should not close parent panels #12645
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
