Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

feat(block): enhance component's interactivity states
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update README.md
  README.md
Due: prettier --write, markdownlint --fix

Update THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

chore: improve changes
  package.json
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

chore: ignore iml files
  .gitignore
Due: none

simplify based on @benelan's suggestion
  packages/calcite-design-tokens/src/build/format/typography.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: ignore iml files (#11828)
  .gitignore
Due: none

chore: include all node_modules dirs in clean script (#11822)
  package.json
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

recreate lockfile
  package-lock.json
Due: prettier --write

update test snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

build(deps): drop @types/jsdom
  package-lock.json
  package.json
  patches/@types+jsdom+21.1.7.patch
Due: prettier --write

test: improve design-tokens test coverage
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/tests/spec/index.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use fixed test time for docs output
  .github/workflows/pr-e2e.yml
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/build/format/docs.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tweak test env value set in action
  .github/workflows/pr-e2e.yml
Due: prettier --write

add debug info
  packages/calcite-design-tokens/src/build/format/docs.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

run update test runner action to run test build script if available
  .github/workflows/pr-e2e.yml
Due: prettier --write

revert test build OR since it runs on all packages
  .github/workflows/pr-e2e.yml
Due: prettier --write

test env variable access through build script
  packages/calcite-design-tokens/package.json
Due: prettier --write

update snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

test with differently named env variable
  .github/workflows/pr-e2e.yml
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/build/format/docs.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert "test with differently named env variable"
  .github/workflows/pr-e2e.yml
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/build/format/docs.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove mode env var set on main build script
  packages/calcite-design-tokens/package.json
Due: prettier --write

test echoing action env vars
  packages/calcite-design-tokens/package.json
Due: prettier --write

try forwarding env variable
  .github/workflows/pr-e2e.yml
Due: prettier --write

set mode in build step
  .github/workflows/pr-e2e.yml
Due: prettier --write

tweak how process.env is set
  .github/workflows/pr-e2e.yml
Due: prettier --write

use Turbo globallPasThroughEnv to allow MODE setting
  .github/workflows/pr-e2e.yml
  turbo.json
Due: prettier --write

clean debug log statements
  packages/calcite-design-tokens/src/build/format/docs.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#11829)
  README.md
Due: prettier --write, markdownlint --fix

docs(licensing): refer users to the licensing documentation page
  LICENSE.md
  README.md
  packages/calcite-components-react/LICENSE.md
  packages/calcite-components-react/README.md
  packages/calcite-components/LICENSE.md
  packages/calcite-components/README.md
  packages/calcite-design-tokens/LICENSE.md
  packages/calcite-design-tokens/README.md
  packages/calcite-ui-icons/LICENSE.md
  packages/calcite-ui-icons/README.md
  packages/eslint-config-calcite/LICENSE.md
  packages/eslint-plugin-calcite-components/LICENSE.md
  packages/eslint-plugin-calcite-components/README.md
Due: prettier --write, markdownlint --fix

build(deps): drop @types/jsdom (#11830)
  package-lock.json
  package.json
  patches/@types+jsdom+21.1.7.patch
Due: prettier --write

feat(list-item): enhance component's interactivity states (#11824)
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

ci: run on schedule
  .github/workflows/schedule-updates.yml
Due: prettier --write

chore: review cleanup
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-components/src/utils/globalScript.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/interactive.tsx
  packages/calcite-components/src/utils/mode.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add test
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
