Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

refactor!: remove deprecated `ban-props-on-host`, `enforce-ref-last-prop`, `require-event-emitter-type` rules (#10679)
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.wrong.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

review fixes
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/switch/switch.e2e.ts
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/demos/switch.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Added vertical slider to demos
  packages/calcite-components/src/demos/slider.html
Due: prettier --write

Update .stylelintrc.cjs
  packages/calcite-components/.stylelintrc.cjs
Due: none

review fixes
  packages/calcite-components/src/custom-theme/switch.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

list item review fixes
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/list-item-group/list-item-group.e2e.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/custom-theme/list.ts
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(utils/dom): fix getModeName function to support auto mode. #10472
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test failures
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(angular): remove wrapper package from example
  examples/components/angular/.gitignore
  examples/components/angular/angular.json
  examples/components/angular/package-lock.json
  examples/components/angular/package.json
  examples/components/angular/src/app/app.component.spec.ts
  examples/components/angular/src/app/app.component.ts
  release-please-config.json
Due: prettier --write

refactor: switch angular example to custom-elements build
  examples/components/angular/src/app/app.component.spec.ts
  examples/components/angular/src/app/app.component.ts
  examples/components/angular/src/main.ts
Due: none

chore: cleanup
  examples/components/angular/src/app/app.component.spec.ts
Due: none

feat(tooltip): add component tokens #7180
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/tooltip.ts
  packages/calcite-components/src/demos/tooltip.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix filteredItems prop
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/custom-theme/list.ts
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup doc
  packages/calcite-components/src/components/tooltip/tooltip.scss
Due: prettier --write, stylelint --fix

fix story demo
  packages/calcite-components/src/custom-theme/tooltip.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(label): add component tokens #7180
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/label/label.e2e.ts
  packages/calcite-components/src/components/label/label.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/label.ts
  packages/calcite-components/src/demos/label.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(link): add component tokens #7180
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/link.ts
  packages/calcite-components/src/demos/link.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test
  packages/calcite-components/src/components/label/label.e2e.ts
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#10629)
  package-lock.json
Due: prettier --write

updated pass
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/graph/graph.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/tip-manager/tip-manager.spec.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.tsx
  packages/calcite-components/src/components/tip/tip.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/demos/shell/demo-app-full-window.html
  packages/calcite-components/src/tests/commonTests/defaults.ts
  packages/calcite-components/src/tests/commonTests/floatingUI.ts
  packages/calcite-components/src/tests/commonTests/reflects.ts
  packages/calcite-components/src/tests/spec-helpers/computedStyle.ts
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

bump TS + add @lit/react
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
Due: prettier --write

dedupe deps
  package-lock.json
Due: prettier --write

Clean up
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

move deps to root
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

drop @stencil-community/eslint-plugin and remove rules
  package-lock.json
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/package.json
Due: prettier --write

docs(angular): update example to use custom elements directly (#10686)
  examples/components/angular/.gitignore
  examples/components/angular/angular.json
  examples/components/angular/package-lock.json
  examples/components/angular/package.json
  examples/components/angular/src/app/app.component.spec.ts
  examples/components/angular/src/app/app.component.ts
  examples/components/angular/src/main.ts
  release-please-config.json
Due: prettier --write

Clean up
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

fix icons build
  package-lock.json
Due: prettier --write

sync all lumina deps
  package-lock.json
  package.json
Due: prettier --write
