Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

chore: cleanup
  package-lock.json
Due: prettier --write

feat: launched reference page
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/flag-16-f.svg
  packages/calcite-ui-icons/icons/flag-16.svg
  packages/calcite-ui-icons/icons/flag-24-f.svg
  packages/calcite-ui-icons/icons/flag-24.svg
  packages/calcite-ui-icons/icons/flag-32-f.svg
  packages/calcite-ui-icons/icons/flag-32.svg
  packages/calcite-ui-icons/icons/flag-slash-16.svg
  packages/calcite-ui-icons/icons/flag-slash-24.svg
  packages/calcite-ui-icons/icons/flag-slash-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Due: none

chore: stop requesting review from ben/franco for all PRs
  .github/CODEOWNERS
Due: none

ci: fix chromatic and pr-semantic check trigger events
  .github/workflows/chromatic.yml
  .github/workflows/pr-semantic.yml
Due: prettier --write

ci: fix chromatic and pr-semantic check trigger events (#10041)
  .github/workflows/chromatic.yml
  .github/workflows/pr-semantic.yml
Due: prettier --write

docs: update component READMEs (#10034)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

build: update browserslist db (#10033)
  package-lock.json
Due: prettier --write

build(deps): clean up ui-icon dependencies (#10024)
  package-lock.json
  packages/calcite-ui-icons/bin/build.js
  packages/calcite-ui-icons/bin/optimize.js
  packages/calcite-ui-icons/bin/path-data.js
  packages/calcite-ui-icons/lib/spriter/index.js
  packages/calcite-ui-icons/package.json
Due: prettier --write

chore: attempt #2
  .github/CODEOWNERS
Due: none

feat: add close-caption, transcript, flag, and flag-slash (#10039)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/flag-16-f.svg
  packages/calcite-ui-icons/icons/flag-16.svg
  packages/calcite-ui-icons/icons/flag-24-f.svg
  packages/calcite-ui-icons/icons/flag-24.svg
  packages/calcite-ui-icons/icons/flag-32-f.svg
  packages/calcite-ui-icons/icons/flag-32.svg
  packages/calcite-ui-icons/icons/flag-slash-16.svg
  packages/calcite-ui-icons/icons/flag-slash-24.svg
  packages/calcite-ui-icons/icons/flag-slash-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Due: prettier --write

chore: stop requesting review from ben/franco for all PRs (#10040)
  .github/CODEOWNERS
Due: none

feat(combobox-item): add `heading` property (deprecates `textLabel`) and add `label` property (#9987)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree,tree-item): replace checkbox with div and a11y attributes (#9849)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tree-item/resources.ts
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/demos/tree.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(color-picker): prevent text selection when using color sliders/field
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Renamed the property labelsReversed to flipLabels
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove some css
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

use user-select: none to preserve mouse events
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

roll back unrelated refactor
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(color-picker): extract common canvas control pointer down logic
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: add stackblitz link icon
  examples/components/angular/README.md
  examples/components/preact/README.md
  examples/components/react/README.md
  examples/components/rollup/README.md
  examples/components/vite/README.md
  examples/components/vue/README.md
  examples/components/web-dev-server/README.md
  examples/components/webpack/README.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

update dom spec tests
  packages/calcite-components/src/utils/dom.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: add contributors action (#9836)
  .github/workflows/contributors.yml
  readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore: add common examples to web-dev-server
  examples/components/web-dev-server/components/flow.html
  examples/components/web-dev-server/components/slider.html
  examples/components/web-dev-server/index.css
  examples/components/web-dev-server/index.html
  examples/components/web-dev-server/src/index.html
Due: prettier --write

chore: cleanup
  examples/components/web-dev-server/package.json
Due: prettier --write

feat(input-time-zone): display selected time zone country in region mode selection (#9988)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/demos/input-time-zone.html
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: update package-lock files
  examples/components/angular/package-lock.json
  examples/components/preact/package-lock.json
  examples/components/preact/package.json
  examples/components/react/package-lock.json
Due: prettier --write

ci: fix icon diff check failures
  .github/workflows/icons-diff-check.yml
Due: prettier --write

cleanup min sizes
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: updates esri team dropdown list
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

ci: updates esri team dropdown list (#10053)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Due: prettier --write

set min heights and widths for scales. add css var for overriding. add aria-grabbed attr. cleanup roles.
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: bump version in icon docs
  packages/calcite-ui-icons/docs/index.html
  release-please-config.json
Due: prettier --write

chore: fix extra files paths
  release-please-config.json
Due: prettier --write

fix(color-picker): prevent text selection when using color sliders/field (#10043)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci: fix icon diff check failures (#10047)
  .github/workflows/icons-diff-check.yml
Due: prettier --write

build(deps): remove unused cheerio dep
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

fix(action): text color pressed
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

fix(action): update text color pressed name
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/demos/action.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
