Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

build: update browserslist db (#15088)
  package-lock.json
Due: prettier --write

additional targets tested
  packages/components/src/components/action-menu/action-menu.browser.e2e.tsx
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/menu-item/menu-item.browser.e2e.tsx
  packages/components/src/components/panel/panel.browser.e2e.tsx
  packages/components/src/components/sort-handle/sort-handle.browser.e2e.tsx
  packages/components/src/components/stepper/stepper.browser.e2e.tsx
  packages/components/src/components/table/table.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(tab-nav, tab-title): fix formatting for `@internal` `position` property (#15080)
  packages/components/src/components/tab-nav/tab-nav.tsx
  packages/components/src/components/tab-title/tab-title.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix failing test
  packages/components/src/components/stepper/stepper.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(radio-button-group): sync group disabled value only when set
  packages/components/src/components/radio-button-group/radio-button-group.browser.e2e.tsx
  packages/components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

style(radio-button-group): apply linter fixes
  packages/components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add test
  packages/components/src/components/radio-button-group/radio-button-group.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

style(radio-button-group): apply linter fixes (#15085)
  packages/components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(radio-button-group): sync group `disabled` only when set (#15084)
  packages/components/src/components/radio-button-group/radio-button-group.browser.e2e.tsx
  packages/components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/components/src/components/radio-button-group/radio-button-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): deprecate collapsible in favor of expandable
  packages/components/src/components/block-group/block-group.browser.e2e.tsx
  packages/components/src/components/block-group/block-group.stories.ts
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/block/block.tsx
  packages/components/src/components/flow-item/flow-item.e2e.ts
  packages/components/src/components/shell/shell.e2e.ts
  packages/components/src/components/shell/shell.stories.ts
  packages/components/src/custom-theme/block.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): deprecate `collapsible` in favor of `expandable` (#15091)
  packages/components/src/components/block-group/block-group.browser.e2e.tsx
  packages/components/src/components/block-group/block-group.stories.ts
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/block/block.tsx
  packages/components/src/components/flow-item/flow-item.e2e.ts
  packages/components/src/components/shell/shell.e2e.ts
  packages/components/src/components/shell/shell.stories.ts
  packages/components/src/custom-theme/block.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): remove expanded state margins
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.tsx
  packages/components/src/tests/commonTests/browser/open-close.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: fix versions in manifest
  .release-please-manifest.json
Due: prettier --write

refactor: use transition-default Sass mixin instead of Tailwind's util
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/date-picker-day/date-picker-day.scss
  packages/components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/components/src/components/inline-editable/inline-editable.scss
  packages/components/src/components/input-message/input-message.scss
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/notice/notice.scss
  packages/components/src/components/pagination/pagination.scss
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/split-button/split-button.scss
  packages/components/src/components/tab-title/tab-title.scss
  packages/components/src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

docs(components): use consistent deprecation message formatting
  packages/components/src/components/block/block.scss
  packages/components/src/components/combobox-item/combobox-item.scss
  packages/components/src/components/dropdown-item/dropdown-item.scss
  packages/components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix

improve overflow resize handling
  packages/components/src/components/action-bar/action-bar.tsx
  packages/components/src/components/action-group/action-group.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

temp testing changes
  packages/components/index.html
Due: prettier --write

fade expanded content on collapse
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.tsx
  packages/components/src/tests/commonTests/browser/open-close.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: apply `transition-default` mixin (#8851)
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/date-picker-day/date-picker-day.scss
  packages/components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/components/src/components/inline-editable/inline-editable.scss
  packages/components/src/components/input-message/input-message.scss
  packages/components/src/components/input-number/input-number.scss
  packages/components/src/components/input-text/input-text.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/notice/notice.scss
  packages/components/src/components/pagination/pagination.scss
  packages/components/src/components/radio-button/radio-button.scss
  packages/components/src/components/rating/rating.scss
  packages/components/src/components/split-button/split-button.scss
  packages/components/src/components/tab-title/tab-title.scss
  packages/components/src/components/tree-item/tree-item.scss
Due: prettier --write, stylelint --fix

remove replacement token alias tests
  packages/design-tokens/tests/spec/index.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

clean up
  packages/design-tokens/tests/spec/index.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(slider): migrate E2E tests to browser and make them width-independent
  packages/components/src/components/slider/slider.browser.e2e.tsx
  packages/components/src/components/slider/slider.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

use range-relative drag coordinates
  packages/components/src/components/slider/slider.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

toggle standalone actions on activation
  packages/components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add browser coverage for overflow keyboard navigation
  packages/components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/components/src/components/action-bar/action-bar.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add browser coverage for overflow keyboard navigation
  packages/components/src/components/action-group/action-group.browser.e2e.tsx
  packages/components/src/components/action-menu/action-menu.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): add background color token
  packages/components/src/components/block/block.browser.e2e.tsx
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: address copilot feedback
  packages/components/src/components/block/block.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(block): set explicit fallback
  packages/components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

fix(tile): fix top/bottom slot spacing regression
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(tile): restore top/bottom slot spacing (#15101)
  packages/components/src/components/tile/tile.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix test
  packages/components/src/components/slider/slider.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: enable noImplicitAny
  packages/components/tsconfig.json
Due: prettier --write

fix type error
  packages/components/src/components/graph/utils.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
