Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

refactor(useSizeOverride): improve strictness (#14630)
  packages/components/src/components/interfaces.ts
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: align prerelease versions after incorrect patch cherry picks
  package-lock.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

chore: date [WIP]
  packages/components/src/components/date-picker-day/date-picker-day.tsx
  packages/components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/components/src/components/date-picker/date-picker.e2e.ts
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/date-picker/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(input-number): migrate tests to browser mode
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
  packages/components/src/components/input-number/input-number.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

create calcite.outputReference extension for tokens
  packages/design-tokens/src/config/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

migrate skipped tests
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
  packages/components/src/components/input-number/input-number.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: align prerelease versions after incorrect patch cherry picks (#14654)
  package-lock.json
  packages/components-react/package.json
  packages/components/package.json
Due: prettier --write

docs: update list of contributors (#14657)
  README.md
Due: prettier --write, markdownlint --fix

ci(release): add missing `package-lock.json` to cherry-pick ignore list
  .github/workflows/deploy-latest.yml
Due: prettier --write

chore: date
  packages/components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/components/src/components/date-picker-month/date-picker-month.tsx
  packages/components/src/components/date-picker/date-picker.e2e.ts
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/input-date-picker/input-date-picker.tsx
  packages/components/src/utils/date.browser.spec.ts
  packages/components/src/utils/date.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

enable outputReference for appropriate semantic tokens
  packages/design-tokens/src/tokens/semantic/corner-radius.json
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

replace deprecated font.weight.normal tokens in components
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/action/action.scss
  packages/components/src/components/block/block.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/loader/loader.scss
  packages/components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

chore: copilot review
  packages/components/src/components/date-picker-day/date-picker-day.tsx
  packages/components/src/components/date-picker-month/date-picker-month.tsx
  packages/components/src/components/dialog/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

optionalAttribute helper
  packages/components/.storybook/utils.ts
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/navigation-logo/navigation-logo.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(release): keep `package-lock.json` changes from release branch
  .github/workflows/deploy-latest.yml
Due: prettier --write

tidy up
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

replace deprecated font.weight.normal token in tailwind preset
  packages/tailwind-preset/src/index.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add missing tests
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix typos and tidy up
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add internal tokens filter and include outputs
  packages/design-tokens/src/build/filter/core.ts
  packages/design-tokens/src/build/filter/index.ts
  packages/design-tokens/src/build/filter/internal.ts
  packages/design-tokens/src/config/index.ts
  packages/design-tokens/tests/spec/index.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add internal font weight token mappings
  packages/design-tokens/src/tokens/internal/font.json
Due: prettier --write

point semantic.font.weight tokens to internal tokens
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

docs: add `@copydoc` documentation
  packages/components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

docs: add missing comment syntax
  packages/components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

docs: add supported fields and created a list for support
  packages/components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

docs: indent example so that it's associated with the list bullet point
  packages/components/conventions/Documentation.md
Due: prettier --write, markdownlint --fix

test(input): stabilize keyboard nudging test
  packages/components/src/components/input/input.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Potential fix for pull request finding
  packages/components/src/components/input/input.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restore initial input focus
  packages/components/src/components/input/input.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

(inline-editable): update input-number and input-text to save editing changes on blur when editing controls are off
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
  packages/components/src/components/input-number/input-number.tsx
  packages/components/src/components/input-text/input-text.browser.e2e.tsx
  packages/components/src/components/input-text/input-text.tsx
  packages/components/src/components/input/input.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): remove needs milestone label across actions (#14626)
  .github/ISSUE_TEMPLATE/test.yml
  .github/scripts/addIssuesToBacklog.js
  .github/scripts/labelPullRequestWithCommitType.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/notifyWhenSpikeComplete.js
  .github/scripts/support/monday.js
  .github/scripts/support/resources.js
  .github/workflows/issue-update-metadata.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

apply this helper for all the components that have icon/iconStart/End/validationIcon
  packages/components/src/components/accordion/accordion.stories.ts
  packages/components/src/components/action/action.stories.ts
  packages/components/src/components/alert/alert.stories.ts
  packages/components/src/components/button/button.stories.ts
  packages/components/src/components/chip/chip.stories.ts
  packages/components/src/components/dialog/dialog.stories.ts
  packages/components/src/components/fab/fab.stories.ts
  packages/components/src/components/flow-item/flow-item.stories.ts
  packages/components/src/components/icon/icon.stories.ts
  packages/components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/components/src/components/input-message/input-message.stories.ts
  packages/components/src/components/input-number/input-number.stories.ts
  packages/components/src/components/input-text/input-text.stories.ts
  packages/components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/link/link.stories.ts
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/menu-item/menu-item.stories.ts
  packages/components/src/components/notice/notice.stories.ts
  packages/components/src/components/panel/panel.stories.ts
  packages/components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/components/src/components/rating/rating.stories.ts
  packages/components/src/components/segmented-control/segmented-control.stories.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/slider/slider.stories.ts
  packages/components/src/components/split-button/split-button.stories.ts
  packages/components/src/components/text-area/text-area.stories.ts
  packages/components/src/components/tile/tile.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(input): stabilize keyboard nudging test (#14661)
  packages/components/src/components/input/input.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

autocomplete
  packages/components/src/components/autocomplete/autocomplete.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

handle legacy bool support at callsite
  packages/components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/components/src/components/input-message/input-message.stories.ts
  packages/components/src/components/input-number/input-number.stories.ts
  packages/components/src/components/input-text/input-text.stories.ts
  packages/components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/components/src/components/segmented-control/segmented-control.stories.ts
  packages/components/src/components/select/select.stories.ts
  packages/components/src/components/slider/slider.stories.ts
  packages/components/src/components/text-area/text-area.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
