Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

feat: added more tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: re-launched ref page
  packages/calcite-ui-icons/fantasticonrc.json
Due: prettier --write

Feedback changes
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/scripts/addRegressionLabel.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

feat: add group content and signal health (#13160)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/group-content-16.svg
  packages/calcite-ui-icons/icons/group-content-24.svg
  packages/calcite-ui-icons/icons/group-content-32.svg
  packages/calcite-ui-icons/icons/signal-health-16.svg
  packages/calcite-ui-icons/icons/signal-health-24.svg
  packages/calcite-ui-icons/icons/signal-health-32.svg
Due: prettier --write

Update regression input description wording
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

add group attribute to deprecated spacing variables
  packages/calcite-design-tokens/src/tokens/semantic/font.json
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

docs: update list of contributors (#13169)
  README.md
Due: prettier --write, markdownlint --fix

cleanup
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

feat: added icons
  packages/calcite-ui-icons/icons/metadata-16.svg
  packages/calcite-ui-icons/icons/metadata-24.svg
  packages/calcite-ui-icons/icons/metadata-32.svg
Due: none

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/calcite-ui-icons/fantasticonrc.json
Due: prettier --write

Revert "feat: launched ref page"
  packages/calcite-ui-icons/fantasticonrc.json
Due: prettier --write

feat: updated tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: add metadata (#13170)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/metadata-16.svg
  packages/calcite-ui-icons/icons/metadata-24.svg
  packages/calcite-ui-icons/icons/metadata-32.svg
Due: prettier --write

ci(actions): rework unassign logic to remove side-effects and sync non-designer removals (#13164)
  .github/scripts/monday/handleNotifyWorkflow.js
  .github/scripts/monday/updateAssignee.js
  .github/scripts/support/monday.js
Due: none

ci(actions): add back adjusted status side-effect logic
  .github/scripts/monday/updateAssignee.js
Due: none

ci(actions): trigger Monday sync from `notifyWhenInstalled` script
  .github/scripts/notifyWhenInstalled.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

docs: update list of contributors (#13172)
  README.md
Due: prettier --write, markdownlint --fix

ci(actions): add back adjusted status side-effect logic (#13176)
  .github/scripts/monday/updateAssignee.js
Due: none

ci(actions): trigger Monday sync from `notifyWhenInstalled` script (#13177)
  .github/scripts/notifyWhenInstalled.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

ci(actions): fix component label action
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/test.yml
  .github/scripts/addComponentLabel.js
  .github/scripts/updateIssueTemplateComponents.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

ci(actions): fix component label action (#13183)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/test.yml
  .github/scripts/addComponentLabel.js
  .github/scripts/updateIssueTemplateComponents.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

fix: ensure bounding box is excluded from js/json outputs
  packages/calcite-ui-icons/bin/path-data.js
Due: none

chore: apply svgo overrides properly
  packages/calcite-ui-icons/bin/optimize.js
Due: none

chore: ensure icon bounding box consistency
  packages/calcite-ui-icons/icons/carousel-frames-16.svg
  packages/calcite-ui-icons/icons/carousel-frames-24.svg
  packages/calcite-ui-icons/icons/carousel-frames-32.svg
Due: none

chore(option): drop unnecessary styles
  packages/calcite-components/src/components/option/option.scss
  packages/calcite-components/src/components/option/option.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update codepen issue template
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

fix(option): replace line breaks within text content
  packages/calcite-components/src/components/option/option.e2e.ts
  packages/calcite-components/src/components/option/option.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: apply svgo overrides properly (#13201)
  packages/calcite-ui-icons/bin/optimize.js
Due: none

chore: ensure icon bounding box consistency (#13200)
  packages/calcite-ui-icons/icons/carousel-frames-16.svg
  packages/calcite-ui-icons/icons/carousel-frames-24.svg
  packages/calcite-ui-icons/icons/carousel-frames-32.svg
Due: none

docs(tabs): indicate --calcite-tab-background-color can be used regardless of bordered property value
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix

update test
  packages/calcite-components/src/components/option/option.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update group attribute to status for docs
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

docs: update codepen issue template url (#13204)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

docs(tabs): indicate --calcite-tab-background-color can be used regardless of bordered property value (#13206)
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tabs/tabs.scss
Due: prettier --write, stylelint --fix

fix(option): replace line breaks within text content (#13205)
  packages/calcite-components/src/components/option/option.e2e.ts
  packages/calcite-components/src/components/option/option.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update test snapshots
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

feat(semantic-tokens): add space tokens (#13110)
  packages/calcite-design-tokens/src/tokens/semantic/font.json
  packages/calcite-design-tokens/src/tokens/semantic/space.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write
