Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

fix test
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add action public tokens
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/carousel/carousel.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(alert): add component tokens
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix

fixing russian meridiem parsing
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing pt-pt broken test
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fine grained --calcite-internal-action-corner-radius-start/end for for close action button
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Pr feedback
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing zh-CN 12-hour parsing bug
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: button tokens
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/custom-theme/popover.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing 12-hour parsing in norwegian. 24-hour parsing is currently broken, so need to fix that up next
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(alert): add component tokens
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Fixed horizontal range for all scales
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

additional corner radius action tokens
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/custom-theme/handle.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(carousel): Improve support for high item counts (#10315)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/resources.ts
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(alert): add component tokens
  packages/calcite-components/src/components/alert/alert.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Removed unnecessary comment
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Restored html file to dev
  packages/calcite-components/src/demos/slider.html
Due: prettier --write

fix(list, filter): fix sync between list items and filtered data. #10230
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add container class and cleanup
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/custom-theme/handle.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

token to match css prop
  packages/calcite-components/src/custom-theme/popover.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing japanese 12 hour parsing
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dialog): only prevent default on escape key when escapeDisabled is true (#10336)
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell): fix z-index of slotted popover elements (#10325)
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

bring back selectors
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(changelog): add deprecations type to lerna config
  lerna.json
Due: prettier --write

cleanup
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

Publish
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

removing unused code
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing norwegian 12 and 24 hour parsing!
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleaning up logic for 24-hour test
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(alert): add component tokens
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/custom-theme/alert.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
