Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

add stopgap for t9n test failure loading localeData
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

skip t9n test to investigate separately
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

prevent certain mouse events from bubbling on disabled components
  src/utils/interactive.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add missing bundle for screenshot test
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_zh-CN.json
Due: prettier --write

WIP: token transformer make SD config dynamic to theme
  tools/token-transformer/getThemes.ts
  tools/token-transformer/index.ts
  tools/token-transformer/sd-run.test.ts
  tools/token-transformer/sd-run.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): implement dialog behavior to improve a11y (#6669)
  src/components/input-date-picker/assets/input-date-picker/t9n/messages.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_ar.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_en.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_es.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_zh-CN.json
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  t9nmanifest.txt
Due: prettier --write, eslint --ext .ts,.tsx --fix

add roles and aria-attributes
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input/input.tsx
  src/utils/globalAttributes.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove unused shadow
  src/assets/styles/_floating-ui.scss
Due: prettier --write, stylelint --fix

Flow updates
  tokens/$metadata.json
  tokens/$themes.json
  tokens/component/flow-header.json
Due: prettier --write

Flow updates
  tokens/$themes.json
Due: prettier --write

got arab numeral parsing to work with a translate step prior to parsing with dayjs
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Pr feedback - styles and spacing
  src/components/chip-group/chip-group.tsx
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
  src/components/chip/resources.ts
  src/demos/chip-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

update aria attribute relationships
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP: bring back border styling
  src/components/tab-title/tab-title.scss
Due: prettier --write, stylelint --fix

WIP: render last remaining styles as disabled
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Pr feedback - styles and spacing
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
  src/components/chip/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Pr feedback - styles and spacing
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
  src/demos/chip-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(date-picker): Correctly position open component when scrolling. #6463
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

forgot to include updated path in npm copy task
  package.json
Due: prettier --write

Clean up
  src/components/chip-group/chip-group.stories.ts
  src/components/chip/chip.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

converting switch to if statements
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

arabext numbering system support
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

consolidating parse logic into a single method
  src/components/input-time-picker/input-time-picker.tsx
  src/demos/_assets/locales.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix issue when toggling between ranges
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(input-date-picker, date-picker-month-header): remove unused state prop (#6811)
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

feat(input-date-picker): add focus trap support
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update test helper
  src/tests/commonTests.ts
  src/utils/interactive.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: update files prop onChange instead of value watcher
  src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

renaming parseInputString to delocalizeTimeString
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert + new fix
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

undoing unnecessary diff
  src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

undoing another unnecessary diff
  src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(combobox): Fix accessibility for hidden floating container.
  src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  src/components/chip/chip.scss
  src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix
