Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

build: update browserslist db (#7301)
  package-lock.json
Due: prettier --write

fix(action-bar): no longer delegates focus when clicked on non-focusable region
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

inline so that jsx creates only one VNode because only one function ends up being invoke
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactoring to fire a custom event instead of using EventEmitter.
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add keys to a repeating wrapper
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): loader now appears for all loading cases (#7303)
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add e2e test
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove commented code
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: create more specific codeowners to limit unnecessary notifications
  CODEOWNERS
Due: none

chore: cleanup
  CODEOWNERS
Due: none

apply ms-auto only on horizontal layout
  packages/calcite-components/src/components/action-bar/action-bar.scss
Due: none

add margin-block for vertical layout
  packages/calcite-components/src/components/action-bar/action-bar.scss
Due: none

feedback changes
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert bottomActions ref el
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-bar): no longer delegates focus when clicked on non-focusable region (#7310)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: update config
  .github/workflows/pr-bot.yml
  renovate.json
Due: prettier --write

chore: cleanup config
  .renovaterc.json
Due: prettier --write

attempting to integrate Franco's suggestions
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

getting test to work by converting effectiveLocale to a @Prop
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: update config
  .renovaterc.json
Due: prettier --write

ci: fix renovate PR labeling issue
  .github/workflows/pr-bot.yml
  .renovaterc.json
Due: prettier --write

chore: cleanup
  .renovaterc.json
Due: prettier --write

ci(renovate): exclude npm and node engine version bumps
  .renovaterc.json
Due: prettier --write

ci(dependabot): nuke it
  .github/dependabot.yml
Due: prettier --write

ci: create more specific codeowners to limit unnecessary notifications (#7313)
  CODEOWNERS
Due: none

fix(dropdown-item): provides accessible label when href is not parsed
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: only notify teams about calcite-components releases
  .github/workflows/notify-teams-release_calcite_components.yml
Due: prettier --write

refactoring test back to manual steps because the array approach wasn't actually reaching the assertions. Tests are passing after converting effectiveLocale back to a @State variable
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ditching the let var for inputvalue
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

false alarm, restoring back to a prop
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add editorconfig
  .editorconfig
  .prettierrc.json
Due: prettier --write

style: lint and format code
  packages/calcite-components/LICENSE.md
  packages/calcite-components/readme.md
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/number.spec.ts
  packages/calcite-components/src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

fix(input-date-picker): provides placeholder text context for AT users
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(dropdown-item): provides accessible label when href is not parsed (#7316)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: Add a Calcite config for defining a focus trap stack. #6659
  packages/calcite-components/src/core/config.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add message strings for localization
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages.json
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages_en.json
Due: prettier --write

simplifying the test to isolate why it is now failing
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-date-picker): provides placeholder text context for AT users (#7320)
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages.json
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages_en.json
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

event detail
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((any of: *.{json,html,yml}) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
  markdownlint --fix --disable MD024 MD013 MD041 MD033: any of: *.md
