Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

refactor: port `internalLabel` common test helper to browser mode
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
  packages/components/src/components/autocomplete/autocomplete.e2e.ts
  packages/components/src/components/checkbox/checkbox.browser.e2e.tsx
  packages/components/src/components/checkbox/checkbox.e2e.ts
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.e2e.ts
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
  packages/components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
  packages/components/src/components/input-number/input-number.e2e.ts
  packages/components/src/components/input-text/input-text.browser.e2e.tsx
  packages/components/src/components/input-text/input-text.e2e.ts
  packages/components/src/components/input-time-picker/input-time-picker.browser.e2e.tsx
  packages/components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/components/src/components/input/input.browser.e2e.tsx
  packages/components/src/components/input/input.e2e.ts
  packages/components/src/components/radio-button-group/radio-button-group.browser.e2e.tsx
  packages/components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/components/src/components/radio-button/radio-button.browser.e2e.tsx
  packages/components/src/components/radio-button/radio-button.e2e.ts
  packages/components/src/components/rating/rating.browser.e2e.tsx
  packages/components/src/components/rating/rating.e2e.ts
  packages/components/src/components/segmented-control/segmented-control.browser.e2e.tsx
  packages/components/src/components/segmented-control/segmented-control.e2e.ts
  packages/components/src/components/select/select.browser.e2e.tsx
  packages/components/src/components/select/select.e2e.ts
  packages/components/src/components/slider/slider.browser.e2e.tsx
  packages/components/src/components/slider/slider.e2e.ts
  packages/components/src/components/switch/switch.browser.e2e.tsx
  packages/components/src/components/switch/switch.e2e.ts
  packages/components/src/components/text-area/text-area.browser.e2e.tsx
  packages/components/src/components/text-area/text-area.e2e.ts
  packages/components/src/tests/commonTests/browser/index.ts
  packages/components/src/tests/commonTests/browser/internal-label.ts
  packages/components/src/tests/commonTests/index.ts
  packages/components/src/tests/commonTests/internalLabel.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update the describe name for consistency
  packages/components/src/components/autocomplete/autocomplete.browser.e2e.tsx
  packages/components/src/components/checkbox/checkbox.browser.e2e.tsx
  packages/components/src/components/combobox/combobox.browser.e2e.tsx
  packages/components/src/components/input-date-picker/input-date-picker.browser.e2e.tsx
  packages/components/src/components/input-number/input-number.browser.e2e.tsx
  packages/components/src/components/input-text/input-text.browser.e2e.tsx
  packages/components/src/components/input-time-picker/input-time-picker.browser.e2e.tsx
  packages/components/src/components/input/input.browser.e2e.tsx
  packages/components/src/components/radio-button-group/radio-button-group.browser.e2e.tsx
  packages/components/src/components/radio-button/radio-button.browser.e2e.tsx
  packages/components/src/components/rating/rating.browser.e2e.tsx
  packages/components/src/components/segmented-control/segmented-control.browser.e2e.tsx
  packages/components/src/components/select/select.browser.e2e.tsx
  packages/components/src/components/slider/slider.browser.e2e.tsx
  packages/components/src/components/switch/switch.browser.e2e.tsx
  packages/components/src/components/text-area/text-area.browser.e2e.tsx
  packages/components/src/tests/commonTests/browser/internal-label.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add missing browser utils module
  packages/components/src/tests/commonTests/browser/utils.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update logger util to accept component names
  packages/components/src/components/action-pad/action-pad.tsx
  packages/components/src/components/block-section/block-section.tsx
  packages/components/src/components/block/block.tsx
  packages/components/src/components/handle/handle.tsx
  packages/components/src/components/list-item/list-item.tsx
  packages/components/src/components/sortable-list/sortable-list.tsx
  packages/components/src/utils/logger.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(card): Update selection state styling for 4.0
  packages/components/src/components/card/card.scss
Due: prettier --write, stylelint --fix

switching to using --calcite-spacing-base for the dividing border margin
  packages/components/src/components/action-bar/action-bar.scss
Due: prettier --write, stylelint --fix

chore: bump poll delay for internal-label helper
  packages/components/src/tests/commonTests/browser/internal-label.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(card): Update selection state styling for 5.0 (#13341)
  packages/components/src/components/card/card.scss
Due: prettier --write, stylelint --fix

adding deprecation notice for action's appearance property
  packages/components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: remove references to recently removed components
  packages/components/src/components/shell/shell.scss
  packages/components/src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: remove references to recently removed components (#13346)
  packages/components/src/components/shell/shell.scss
  packages/components/src/components/shell/shell.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): add content-end slot
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/block/block.tsx
  packages/components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert progress style tweaks
  packages/components/src/components/progress/progress.scss
Due: prettier --write, stylelint --fix

tidy up
  packages/components/src/components/dropdown/dropdown.browser.e2e.tsx
  packages/components/src/components/input-message/input-message.browser.e2e.tsx
  packages/components/src/components/input-time-picker/input-time-picker.browser.e2e.tsx
  packages/components/src/components/loader/loader.browser.e2e.tsx
  packages/components/src/components/progress/progress.browser.e2e.tsx
  packages/components/src/components/select/select.browser.e2e.tsx
  packages/components/src/components/tab/tab.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(option-group): drop unnecessary styles
  packages/components/src/components/option-group/option-group.browser.e2e.tsx
  packages/components/src/components/option-group/option-group.scss
  packages/components/src/components/option-group/option-group.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(accordion-item): fix test value used for reflecting scale
  packages/components/src/components/accordion-item/accordion-item.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#13347)
  README.md
Due: prettier --write, markdownlint --fix

fix(combobox, filter, list): allow filtering on empty data source
  packages/components/src/utils/filter.browser.spec.ts
  packages/components/src/utils/filter.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update list's `filterText` prop default to empty string
  packages/components/src/components/list/list.browser.e2e.tsx
  packages/components/src/components/list/list.e2e.ts
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove default{} from semantic.color.brand
  packages/design-tokens/src/tokens/$themes.json
  packages/design-tokens/src/tokens/semantic/color/dark.json
  packages/design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

feat(input-time-picker): support French Canadian (fr-CA) locale
  packages/components/src/components/input-time-picker/input-time-picker.scss
  packages/components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/components/src/utils/locale.ts
  packages/components/src/utils/time.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating test helper to remove narrow non-breaking space after seconds too, which was breaking the es-MX input value test
  packages/components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build!: drop deprecated CDN namespace (#12546)
  examples/components/preact/vite.config.ts
  examples/components/react/vite.config.ts
  examples/components/vite/README.md
  examples/components/vite/vite.config.ts
  packages/components/support/generateT9nDocsJSON.ts
  packages/components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

refactor: merge focus-trap utils into controller
  packages/components/src/controllers/useFocusTrap.browser.e2e.tsx
  packages/components/src/controllers/useFocusTrap.ts
  packages/components/src/tests/browser/setup.ts
  packages/components/src/utils/focusTrapComponent.browser.spec.ts
  packages/components/src/utils/focusTrapComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(input)!: drop `textarea` type
  packages/components/src/components/input/input.e2e.ts
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.stories.ts
  packages/components/src/components/input/input.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix build
  packages/components/src/controllers/useFocusTrap.ts
  packages/components/src/utils/config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): hide content-end when no content end is slotted
  packages/components/src/components/block/block.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(block): add content-end slot (#13348)
  packages/components/src/components/block/block.e2e.ts
  packages/components/src/components/block/block.scss
  packages/components/src/components/block/block.stories.ts
  packages/components/src/components/block/block.tsx
  packages/components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix runtime test errors
  packages/components/src/controllers/useFocusTrap.ts
  packages/components/src/tests/browser/setup.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove default{} from semantic.color.transparent
  packages/design-tokens/src/tokens/$themes.json
  packages/design-tokens/src/tokens/semantic/color/light.json
Due: prettier --write

remove default{} from semantic.typography
  packages/design-tokens/src/tokens/semantic/typography.json
Due: prettier --write

test(accordion-item): fix test value used for reflecting scale (#13351)
  packages/components/src/components/accordion-item/accordion-item.browser.e2e.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add semantic.font.size.2xl
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

cleanup
  packages/design-tokens/src/tokens/semantic/font.json
Due: prettier --write

tidy up
  packages/components/src/controllers/useFocusTrap.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
