Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

feat(popover): add component tokens (#8642)
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

slotted-link-text-color
  packages/calcite-components/src/components/tip/tip.scss
Due: prettier --write, stylelint --fix

making allvariants no test
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(input): add component token —calcite-input-border-radius
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

feat(input): add --calcite-input-text-color component token
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

fix: prevent package patching on install (#8766)
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

feat(input): add --calcite-input-border-color component token
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

feat(input): add --calcite-input-background-color component token
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

chore: release main
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

feat(input): add --calcite-input-button-background-color(-hover,-active) component token
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

chore: release main (#8764)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

feat(input): add --calcite-input-icon-color(-hover) component tokens
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

fix(input): update border component tokens
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

feat(input): add prefix suffix text and background color
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

feat(input): add placeholder component token
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

docs(input): add component token jsdocs
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

docs(button): add jsdocs for --calcite-button-corner-radius
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

fix(combobox-item): remove unnecessary box-shadow component token
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
Due: prettier --write, stylelint --fix

fix(avatar): border-radius —> corner-radius
  packages/calcite-components/src/components/avatar/avatar.scss
Due: prettier --write, stylelint --fix

feat(input-text): add component tokens
  packages/calcite-components/src/components/input-text/input-text.scss
Due: prettier --write, stylelint --fix

feat(tip): add component tokens (#8641)
  packages/calcite-components/src/components/tip/tip.scss
Due: prettier --write, stylelint --fix

feat(input-number): add component tokens
  packages/calcite-components/src/components/input-number/input-number.scss
Due: prettier --write, stylelint --fix

restore activeEndDate
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(link): add component tokens (#8660)
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/demos/link.html
Due: prettier --write, stylelint --fix

add more stories
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(tooltip): add component tokens. #7180
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/components/tooltip/tooltip.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add shadow
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/components/tooltip/tooltip.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor: Use component tokens within includes. #7180
  packages/calcite-components/src/assets/styles/_header.scss
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/assets/styles/_spacing.scss
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/assets/styles/includes.scss
Due: prettier --write, stylelint --fix

add delay for stories with open prop
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.stories.ts
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/chip/chip.scss
Due: prettier --write, stylelint --fix

feedback changes
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/05-custom-theme.stories.mdx
Due: none

fix formatting
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

feat(chip, chip group): Add component tokens (#8607)
  packages/calcite-components/src/05-custom-theme.stories.mdx
  packages/calcite-components/src/components/chip-group/chip-group.scss
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.stories.ts
  packages/calcite-components/src/demos/chip-group.html
  packages/calcite-components/src/demos/chip.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix border bottom
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

feat(list, list-item-group, list-item): Add component tokens #7180
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add doc
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix
