Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

feat(table): allow the user to set a specific page to display (#12558)
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(date-picker, table-cell): update to use color-surface-highlight token (#12888)
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/table-cell/table-cell.scss
Due: prettier --write, stylelint --fix

feat: add mission system message (#12877)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/mission-system-message-16.svg
  packages/calcite-ui-icons/icons/mission-system-message-24.svg
  packages/calcite-ui-icons/icons/mission-system-message-32.svg
Due: prettier --write

fix shadow token test and application
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(dialog): Remove duplicate token description
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

feat(dropdown-group): update design for 4.0
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
Due: prettier --write, stylelint --fix

input shadow set to none and calendar-shadow set to sm
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

test reshufle
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dropdown-group): fix e2e tests
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix border for scroll buttons
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): update unblocked issues action to take full URLs
  .github/scripts/addUnblockedComment.js
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

deprecations for patch
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

docs(dialog): Remove duplicate token description (#12896)
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

docs: update list of contributors (#12892)
  README.md
Due: prettier --write, markdownlint --fix

fix(action): set aria-expanded for actions used for expanding and collapsing (#12579)
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup deprecations
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(dropdown-group): update group title padding
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-group/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

alert embedded
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(dialog): Remove duplicate token description (#12898)
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

ci(actions): rename `MONDAY_KEY` to `MONDAY_TOKEN` and consolidate env
  .github/scripts/support/monday.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write

fix(carousel): Ensure icon tokens are correctly applied
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, stylelint --fix

fix(inline-editable): prevent interaction with start-editing button when hidden
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add test
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

fix tests
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/assets/styles/_legacy.scss
Due: prettier --write, stylelint --fix

feat: added icons
  packages/calcite-ui-icons/icons/integer-set-16.svg
  packages/calcite-ui-icons/icons/integer-set-24.svg
  packages/calcite-ui-icons/icons/integer-set-32.svg
  packages/calcite-ui-icons/icons/number-set-16.svg
  packages/calcite-ui-icons/icons/number-set-24.svg
  packages/calcite-ui-icons/icons/number-set-32.svg
Due: none

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/integer-set-16.svg
  packages/calcite-ui-icons/icons/integer-set-24.svg
  packages/calcite-ui-icons/icons/integer-set-32.svg
  packages/calcite-ui-icons/icons/number-set-16.svg
  packages/calcite-ui-icons/icons/number-set-24.svg
  packages/calcite-ui-icons/icons/number-set-32.svg
Due: prettier --write

dialog
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): switch back to `MONDAY_KEY`
  .github/scripts/support/monday.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write

alert embedded
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

sheet
  packages/calcite-components/src/components/sheet/resources.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci(actions): add Monday.com syncing automations (#12820)
  .github/scripts/monday/createTask.js
  .github/scripts/monday/removeLabel.js
  .github/scripts/monday/updateAssignee.js
  .github/scripts/monday/updateLabels.js
  .github/scripts/monday/updateMilestone.js
  .github/scripts/monday/updateState.js
  .github/scripts/monday/updateTitle.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/notifyWhenSpikeComplete.js
  .github/scripts/support/monday.js
  .github/scripts/support/resources.js
  .github/scripts/support/utils.js
  .github/workflows/issue-monday-sync.yml
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js

feat: add integer set and number set (#12907)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/integer-set-16.svg
  packages/calcite-ui-icons/icons/integer-set-24.svg
  packages/calcite-ui-icons/icons/integer-set-32.svg
  packages/calcite-ui-icons/icons/number-set-16.svg
  packages/calcite-ui-icons/icons/number-set-24.svg
  packages/calcite-ui-icons/icons/number-set-32.svg
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
