Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

feat(input-time-picker): add component tokens #7180
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-time-picker.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#11933)
  README.md
Due: prettier --write, markdownlint --fix

chore: hide build warnings on CSS fixed/ignored by `use-logical-spec` (#11939)
  packages/calcite-components/.stylelintrc-postcss.json
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add docs
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/button-tab-index-required.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/rules/button-tab-index-required.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/button-tab-index-required/button-tab-index-required.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/button-tab-index-required/button-tab-index-required.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/button-tab-index-required/button-tab-index-required.wrong.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

feat(time-picker): add component tokens #7180
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/time-picker.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/custom-theme/time-picker.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Test ar
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/demos/input-number.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

updating hourFormat and meridiemOrder in the controller when the component lang changes
  packages/calcite-components/src/controllers/time/time.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test: fix leading zeros test for ar/arab
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: cleanup and add comment to test
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-number): allow editing of numbers that start with zeros (#11705)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/demos/input-number.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: tidy up
  packages/calcite-design-tokens/src/build/utils/node.ts
  packages/calcite-design-tokens/tests/spec/index.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build(deps): bump node minor version (#11927)
  package.json
Due: prettier --write

build: update browserslist db
  package-lock.json
Due: prettier --write

docs: update 3rd party licenses
  package-lock.json
Due: prettier --write

docs(checkbox): update icon color prop context
  packages/calcite-components/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

docs(checkbox): update icon color prop context (#11950)
  packages/calcite-components/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

feat(switch): enhance component's colors for a11y and usability
  packages/calcite-components/src/components/switch/switch.e2e.ts
  packages/calcite-components/src/components/switch/switch.scss
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix

tidy up
  lint-staged.config.mjs
  packages/calcite-components/support/generateSupportedBrowsersJSON.ts
  packages/calcite-components/support/generateT9nDocsJSON.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor: tidy up (#11945)
  lint-staged.config.mjs
  packages/calcite-components/support/generateSupportedBrowsersJSON.ts
  packages/calcite-components/support/generateT9nDocsJSON.ts
  packages/calcite-design-tokens/src/build/utils/node.ts
  packages/calcite-design-tokens/tests/spec/index.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-number): cancel arrow down event. #10271
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

handle range-clearing when start input is empty
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(input-number): cancel arrow down event (#11956)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: default to stable tests when experimental mode not set
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor and make sure component closes for each usecase
  packages/calcite-components/src/tests/commonTests/openClose.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: default to stable tests when experimental mode is not set (#11957)
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: remove unnecessary test mode environment variable
  packages/calcite-components/package.json
  packages/calcite-components/vite.config.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list, block-group): fix drag handle events when lists or blocks are nested (#11816)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update tokens in custom theme story
  packages/calcite-components/src/custom-theme/notice.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update deprecation message with replacement suggestions
  packages/calcite-components/src/components/notice/notice.scss
Due: prettier --write, stylelint --fix

fix failing test
  packages/calcite-components/src/components/notice/notice.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix test
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/notice/notice.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(notice): add token for close icon and title text color (#11938)
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/notice/notice.scss
  packages/calcite-components/src/custom-theme/notice.ts
  packages/calcite-components/src/demos/notice.html
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
