Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

build(deps): drop unnecessary ESM resolution build patch (#9907)
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/support/patchESMResolution.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore: release main (#9716)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

chore: release main (#9716) (#9916)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

fix(dropdown): ensure `setFocus` focuses the trigger
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input,combobox,input-date-picker): provide clear field error messaging for AT
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(package-lock): update
  package-lock.json
Due: prettier --write

docs(themed): remove unnecessary example
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Revert "docs(themed): remove unnecessary example"
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(tooltip): enhance test to better cover shadow root elements being focused (#9911)
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): display correct spacing when heading is present
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(modal): update component deprecation message to v4
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(modal): update component deprecation message to v4 (#9925)
  packages/calcite-components/src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): display correct header spacing when heading or description are present
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-menu/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/dropdown-item/readme.md
  packages/calcite-components/src/components/fab/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-message/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/link/readme.md
  packages/calcite-components/src/components/menu-item/readme.md
  packages/calcite-components/src/components/navigation-logo/readme.md
  packages/calcite-components/src/components/notice/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/radio-button-group/readme.md
  packages/calcite-components/src/components/segmented-control-item/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/select/readme.md
  packages/calcite-components/src/components/shell-panel/readme.md
  packages/calcite-components/src/components/split-button/readme.md
  packages/calcite-components/src/components/tab-title/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tooltip/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

docs: update component READMEs (#9928)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-menu/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/dropdown-item/readme.md
  packages/calcite-components/src/components/fab/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-message/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/link/readme.md
  packages/calcite-components/src/components/menu-item/readme.md
  packages/calcite-components/src/components/navigation-logo/readme.md
  packages/calcite-components/src/components/notice/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/radio-button-group/readme.md
  packages/calcite-components/src/components/segmented-control-item/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/select/readme.md
  packages/calcite-components/src/components/shell-panel/readme.md
  packages/calcite-components/src/components/split-button/readme.md
  packages/calcite-components/src/components/tab-title/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tooltip/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --config .markdownlint.json

build: update browserslist db (#9927)
  package-lock.json
Due: prettier --write

fix(button): drop loader fade-in/out animation
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(list-item): add list as a type of element allowed in default slot.
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update tests
  packages/calcite-components/src/components/button/button.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(list-item): add list as a type of element allowed in default slot. (#9934)
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(panel, flow-item): fix header padding regression
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

fix(block): add end to end test
  packages/calcite-components/src/components/block/block.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): update header class name
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tooltip): fix animation on first open state. #5697
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components.d.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

update top/left style usage and prevent build from converting to logical props
  packages/calcite-components/.stylelintrc-postcss.json
  packages/calcite-components/.stylelintrc.json
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
Due: prettier --write, stylelint --fix

use 10px for small scale vertical spacing until token is available
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Revert "build(deps): pin dependency @esri/calcite-ui-icons to 3.30.0 (#9918)"
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

Revert "chore: release main (#9716) (#9916)"
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

Revert "chore: release next"
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

Revert "ci: fix chromatic icon build errors (#9906)"
  .github/workflows/chromatic.yml
Due: prettier --write

Revert "chore: release next"
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Due: prettier --write, markdownlint --fix --config .markdownlint.json

fix(block): display correct header spacing when heading or description are present (#9924)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(slider): Implement vertical display
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix for rtl
  packages/calcite-components/src/assets/styles/_floating-ui.scss
Due: prettier --write, stylelint --fix
