Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

fix(sort-handle): update Ukranian translation (#12944)
  packages/calcite-components/src/components/sort-handle/assets/t9n/messages.uk.json
Due: prettier --write

fix(input-date-picker): correct token assignments and CSS setup (#12883)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/custom-theme/input-date-picker.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(color-picker): fix initial setting of alpha object color values (#12934)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(swatch): Update slot documentation (#12915)
  packages/calcite-components/src/components/swatch/swatch.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(inline-editable): prevent interaction with start-editing button when hidden (#12903)
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(carousel): Ensure icon tokens are correctly applied (#12902)
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/demos/carousel.html
Due: prettier --write, stylelint --fix

fix(panel): Ensure `content-top` and `action-bar` slots are visible (#12963)
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list-item): fix memory leak caused by focusing before disconnecting (#12956)
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list): fix loader scrim height for empty list (#12961)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add chromatic delay
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(action): set aria-expanded for actions used for expanding and collapsing (#12579)
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(core-tokens): add missing color token `l-vv-100` (#12875)
  packages/calcite-design-tokens/src/tokens/$themes.json
  packages/calcite-design-tokens/src/tokens/core/color.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: prettier --write

docs(dialog): Remove duplicate token description (#12896)
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

docs(dialog): Remove duplicate token description (#12898)
  packages/calcite-components/src/components/dialog/dialog.scss
Due: prettier --write, stylelint --fix

chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-tailwind-preset/CHANGELOG.md
  packages/calcite-tailwind-preset/package.json
Due: prettier --write, markdownlint --fix

increase delay
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(color-picker, date-picker): adjust outline color for 4.0
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Due: prettier --write, stylelint --fix

build(deps): update @arcgis dependencies to ^4.34.0-next.151 (#12987)
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

more delay
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

debug chromatic icon issue
  packages/calcite-components/.storybook/utils.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: release main (#12989)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-tailwind-preset/CHANGELOG.md
  packages/calcite-tailwind-preset/package.json
Due: prettier --write, markdownlint --fix

ci(deploy): combine next/latest workflows
  .github/workflows/deploy-prerelease.yml
  .github/workflows/deploy.yml
Due: prettier --write

chore: release main (#12989)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-tailwind-preset/CHANGELOG.md
Due: prettier --write, markdownlint --fix

chore: release main (#12989) (#12992)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-tailwind-preset/CHANGELOG.md
Due: prettier --write, markdownlint --fix

feat(shell-panel): expand tokens to support programmatic dimension updates after user resize
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Revert "feat(tree-item): add treeItemSelect event"
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: review comments
  .github/workflows/deploy.yml
Due: prettier --write

ci(deploy): combine next/latest workflows (#12991)
  .github/workflows/deploy-prerelease.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix linting issues
  .github/scripts/monday/removeLabel.js
  packages/calcite-components/FAQ.md
  packages/calcite-components/conventions/Accessibility/AccessibilityDeveloper.md
  packages/calcite-components/conventions/Accessibility/AccessibilityRoles.md
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, markdownlint --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
