Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

feat(list, block-group, sort-handle): add sortDisabled property to prevent reordering (#12615)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/demos/sortable-list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(sheet): align open state logic with dialog and panel (#12521)
  packages/calcite-components/src/components/sheet/sheet.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update 3rd party licenses (#12660)
  packages/calcite-components-react/THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Due: prettier --write, markdownlint --fix

feat: add filled envelope icon (#12654)
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/envelope-16-f.svg
  packages/calcite-ui-icons/icons/envelope-24-f.svg
  packages/calcite-ui-icons/icons/envelope-32-f.svg
Due: prettier --write

fix(popover, tooltip): open when there is selected text on the page (#12597)
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#12659)
  README.md
Due: prettier --write, markdownlint --fix

fix(select): fix error thrown when component is removed before initialization (#12630)
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(icons): update missed es-toolkit import (#12674)
  packages/calcite-ui-icons/bin/server.js
Due: none

test(custom-theme): fix non-existent icon names (#12661)
  packages/calcite-components/src/custom-theme/panel.ts
  packages/calcite-components/src/custom-theme/shell-panel.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: ensure t9n manifest updates are committed by precommit hook (#12665)
  .husky/pre-commit
Due: none

chore: ensure `en` bundles are synced via precommit hook (#12545)
  .husky/pre-commit
  packages/calcite-components/package.json
  packages/calcite-components/support/syncEnT9nBundles.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(action-bar, action-pad): clarify expand/collapse label message strings for AT (#12673)
  packages/calcite-components/src/components/action-bar/assets/t9n/messages.en.json
  packages/calcite-components/src/components/action-bar/assets/t9n/messages.json
  packages/calcite-components/src/components/action-pad/assets/t9n/messages.en.json
  packages/calcite-components/src/components/action-pad/assets/t9n/messages.json
Due: prettier --write

fix(dialog, flow-item, panel): fix `iconFlipRtl` not working in RTL contexts (#12668)
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#12675)
  package-lock.json
Due: prettier --write

docs: update list of contributors (#12678)
  README.md
Due: prettier --write, markdownlint --fix

feat(autocomplete-item): add `calciteAutocompleteItemSelect` event (#12655)
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat: add rtl of list icons (#12685)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/list-check-all-rtl-16.svg
  packages/calcite-ui-icons/icons/list-check-all-rtl-24.svg
  packages/calcite-ui-icons/icons/list-check-all-rtl-32.svg
  packages/calcite-ui-icons/icons/list-check-rtl-16.svg
  packages/calcite-ui-icons/icons/list-check-rtl-24.svg
  packages/calcite-ui-icons/icons/list-check-rtl-32.svg
Due: prettier --write

docs: update list of contributors (#12680)
  README.md
Due: prettier --write, markdownlint --fix

chore: ensure auto-generated internal custom CSS prop doc is committed by precommit hook (#12692)
  .husky/pre-commit
Due: none

chore(action): tidy up styles (#12687)
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

fix(action): fix applied tokens when active (#12686)
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

feat(block, block-section, block-group): add scale property (#12382)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block-group/utils.ts
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block-section/resources.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/custom-theme/block-section.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(input-number, input-text): add center alignment (#12695)
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(action): update unnamed slot description to fit more use cases (#12702)
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(themed): fail test if token is used as its own target prop (#12690)
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

test(input-message): improve theming tests (#12701)
  packages/calcite-components/src/components/input-message/input-message.e2e.ts
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-message/input-message.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-message.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(accordion-item): add message strings (#12715)
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.en.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.json
  t9nmanifest.txt
Due: prettier --write

refactor(dropdown): drop component name from CSS classes (#12713)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/dropdown/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: tidy up Esri-license group info (#12544)
  support/createThirdPartyLicenses.ts
Due: none

feat(block): add --calcite-block-content-space css token (#12704)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/custom-theme/block.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

build: update browserslist db (#12697)
  package-lock.json
Due: prettier --write

fix(input-date-picker): update start & end date correctly when `proximity-selection-disabled` is true (#12681)
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore(localization): update translation (#12718)
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.ar.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.bg.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.ca.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.cs.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.da.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.de.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.el.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.es.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.et.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.fi.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.fr.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.he.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.hr.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.hu.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.id.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.it.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.ja.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.ko.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.lt.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.lv.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.nl.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.no.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.pl.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.pt-BR.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.pt-PT.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.ro.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.ru.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.sk.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.sl.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.sr.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.sv.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.th.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.tr.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.uk.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.vi.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.zh-CN.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.zh-TW.json
Due: prettier --write

build(deps): update internal TS config dep (#12577)
  package-lock.json
  package.json
Due: prettier --write

docs: update list of contributors (#12721)
  README.md
Due: prettier --write, markdownlint --fix

fix(shell-panel): restore resized size after expanding (#12691)
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

fix(list, block-group): update sort handle move items before dropdown menu is opened (#12722)
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
