Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

renaming background-color-active and input-box-shadow-focus tokens
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

renaming additional tokens to better match their purpose
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Added constant for class name; made close button stop auto close; modified test case
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Adding focused
  packages/calcite-components/src/components/alert/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Changed name of test case
  packages/calcite-components/src/components/alert/alert.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: move types into component-specific interfaces files
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-group/interfaces.ts
  packages/calcite-components/src/components/dropdown/interfaces.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/input/interfaces.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/loader/interfaces.ts
  packages/calcite-components/src/components/meter/interfaces.ts
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/interfaces.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/tile-select-group/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
  packages/calcite-components/src/demos/block.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: move types into component-specific interfaces files
  packages/calcite-components/src/components.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(storybook): consolidate storybook and component types (#9500)
  packages/calcite-components/.storybook/interfaces.ts
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.tsx
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/split-button/split-button.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/tile.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

fix(alert): pause auto-close alert when link focused (#9503)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix: set the correct parent when within a shadowRoot #9521
  patches/sortablejs+1.15.1.patch
Due: none

update test to query calcite-action for navigation & no longer update activeDate when user is updating date from same calendar
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: move types into component-specific interfaces files
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/tile-select-group/interfaces.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: move component types into component specific interfaces files (#9527)
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-group/interfaces.ts
  packages/calcite-components/src/components/dropdown/interfaces.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/input/interfaces.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/loader/interfaces.ts
  packages/calcite-components/src/components/meter/interfaces.ts
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/interfaces.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list-item): Improve focus outline appearance
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

feat(block): add icon property, update slot nomenclature
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

deprecation doc notes
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action-group, dropdown-item, handle, input-time-picker): fix themed test failures (#9480)
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/chip/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(list-item): hide nested list items by default (#9474)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(popover): correct border radius on close button (#9485)
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

feat(action-menu, combobox, dropdown, input-date-picker, popover): allow logical placements for flipPlacements property. #8825 (#9490)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing border token tests
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Changed name of 'position' prop to 'actionBarPosition
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

correcting the naming of the hover/focus tokens
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Adding change needed to change 'position' into 'actionBarPosition
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Changed detach value from 'float' to 'float-detach'
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/shell-panel/interfaces.d.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add tests
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(action-bar, action-pad): add expandLabel and collapseLabel to messages (#9497)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/assets/action-bar/t9n/messages.json
  packages/calcite-components/src/components/action-bar/assets/action-bar/t9n/messages_en.json
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/assets/action-pad/t9n/messages.json
  packages/calcite-components/src/components/action-pad/assets/action-pad/t9n/messages_en.json
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): add accessible label for slotted controls (#9502)
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(time-picker, action, input-time-picker): add token theming tests and fix action, input-time-picker token theming tests (#9475)
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

WIP
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add content-start
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
  packages/calcite-components/src/demos/block.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

typo
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
  packages/calcite-components/src/demos/block.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

screenshot tests
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat: include version in global config
  package-lock.json
  package.json
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/globalScript.ts
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(storybook): build storybook simple story args interfaces using component class
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/card-group/card-group.stories.ts
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/graph/graph.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/link/link.stories.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
  packages/calcite-components/src/components/notice/notice.stories.ts
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/radio-button/radio-button.stories.ts
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-select-group/tile-select-group.stories.ts
  packages/calcite-components/src/components/tile-select/tile-select.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/time-picker/time-picker.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
