Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["markdownlint --fix --config .markdownlint.json", "prettier --write"]
}

test(meter): Add token theming tests
  packages/calcite-components/src/components/meter/meter.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/alert/alert.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(t9n): fix error caused by disconnecting components during the setting of initial message overrides
  packages/calcite-components/src/utils/t9n.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(checkbox): fix checkbox hit area placement in RTL
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/checkbox/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(text-area): remove double transparency applied when disabled
  packages/calcite-components/src/components/text-area/text-area.scss
Due: prettier --write, stylelint --fix

fix(switch): prevent hover state change when disabled
  packages/calcite-components/src/components/switch/resources.ts
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tile): slotted content doesn't overextend the border
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
  packages/calcite-components/src/demos/tile.html
Due: prettier --write, stylelint --fix

updating stories to match demo files
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(dropdown-item): update spacing of icons (#9330)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor date-picker header UI
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/select/select.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

refactor(dropdown-item): remove unused css classes (#9349)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(dropdown-group): title font-size scale with dropdown size
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

splitting horizontal and vertical into separate stories to save on pixels for snapshot size limit
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/table/table.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/meter/meter.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(table): Add `selection-display` property (#9355)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table/interfaces.ts
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(meter): Add token theming tests (#9357)
  packages/calcite-components/src/components/meter/meter.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(notice): Add token theming tests (#9339)
  packages/calcite-components/src/components/notice/notice.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: add simpler componentFocusable util (deprecates LoadableComponent)
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/loadable.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: add build:watch npm script to CCR
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  turbo.json
Due: prettier --write

add test
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

using placeholderimage util
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding import
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): slotted content renders within the border (#9359)
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/demos/tile-group.html
  packages/calcite-components/src/demos/tile.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(linting): wire up eslint-plugin-barrel-files
  package-lock.json
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/package.json
Due: prettier --write

move @types/jsdom to root
  package-lock.json
  package.json
  packages/calcite-components/package.json
Due: prettier --write

remove @types/jsdom
  package-lock.json
  package.json
  patches/@types+jsdom+21.1.6.patch
Due: prettier --write

recreate lock file
  package-lock.json
Due: prettier --write

add @types/jsdom at the root along with patch
  package-lock.json
  package.json
  patches/@types+jsdom+21.1.6.patch
Due: prettier --write

ensure consistent event emitting
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tree): allow selection/deselection in single mode
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

themed added tokens
  packages/calcite-components/src/components/panel/panel.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix storybook import error
  packages/calcite-components/src/components/filter/filter.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor and cleanup date-picker-month styles
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

update test
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(chromatic): remove broken import in filter stories
  packages/calcite-components/src/components/filter/filter.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: release hotfix (#9348)
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix --config .markdownlint.json

refactor: add simpler componentFocusable util (deprecates LoadableComponent) (#9362)
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/loadable.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
