Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

test: stabilize tests using setFocus
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: cleanup
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

test: stabilize tests using setFocus (#7295)
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(card): ensure teardown logic is called when disconnected (#7289)
  packages/calcite-components/src/components/card/card.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

attempting to stabilize failed date picker test with similar pattern
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add aria-live attr to card and label element in loader
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/loader/loader.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: allow lint-staged to find typescript parser config file
  .lintstagedrc.cjs
  .lintstagedrc.json
  package-lock.json
  packages/calcite-components/.eslintrc.cjs
Due: prettier --write

refactor: Ensure all setFocus methods return calls to setFocus (#7287)
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(stack): stabilize screenshot tests
  packages/calcite-components/src/components/stack/stack.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(text-area): provide additional context for AT users when character limit exceeds
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: modifies design complete workflow to ready for dev
  .github/workflows/ready-for-dev.yml
Due: prettier --write

build: make sure eslint-plugin-calcite-components is set up correctly (#7294)
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/calcite-components/.gitignore
  packages/calcite-components/package.json
  packages/calcite-components/support/cleanOnProcessExit.ts
  packages/eslint-plugin-calcite-components/.eslintrc.json
  turbo.json
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

refactors and cleanup
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/accordion/accordion.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

reverting date picker test changes
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

simplify updateAccordionItems to remove the use of the private accordionItems
  packages/calcite-components/src/components/accordion/accordion.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

use `bundleConfigAsCjs` rollup flag for @esri/eslint-plugin-calcite-components config compatibility
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/tsconfig.json
Due: prettier --write

test(stack): stabilize screenshot tests (#7298)
  packages/calcite-components/src/components/stack/stack.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test for prop reflects
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup
  packages/calcite-components/src/tests/commonTests.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion, accordion-item): `icon-position`, `icon-type`, `selection-mode` and `scale` can now be set as props or attributes (#7191)
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/accordion/accordion.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: allow lint-staged to find typescript parser config file (#7297)
  .lintstagedrc.cjs
  .lintstagedrc.json
  packages/calcite-components/.eslintrc.cjs
Due: prettier --write

build: update browserslist db
  package-lock.json
Due: prettier --write

fix(combobox-item-group): add space after grouped items
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item-group/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

nested groups padding visual
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test is open
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(block): loader now appears for all loading cases
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

block loading case stories
  packages/calcite-components/src/components/block/block.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop deprecated stylelint rules covered by Prettier
  packages/calcite-components/.stylelintrc.json
Due: prettier --write

bump stylelint-config-recommended-scss
  package-lock.json
  package.json
Due: prettier --write

feedback changes
  packages/calcite-components/src/components/text-area/interfaces.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

seperate loader icon with styling to avoid bringing in unnecessary padding
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor into one liner chained conditional to vary padding applicaiton per case and cleanup
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
