Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx}": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.js": ["cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

fix single-run test scripts
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

fix(input-date-picker): no longer close date-picker in Safari when non-interactive areas are clicked
  packages/calcite-components/src/components/date-picker/date-picker.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

skip components test script for debugging
  packages/calcite-components/package.json
Due: prettier --write

skip eslint-plugin test script for debugging
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

docs(panel, action): update `text-color-pressed` token discriptions
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/demos/action.html
  packages/calcite-components/src/demos/panel.html
Due: prettier --write, stylelint --fix

limiting scope to just token descriptions
  packages/calcite-components/src/demos/action.html
  packages/calcite-components/src/demos/panel.html
Due: prettier --write

docs(panel, action): update `text-color-pressed` token descriptions (#12140)
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

restore eslint-plugin test script
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

apply tokens studio's preferred syntax
  packages/calcite-design-tokens/src/tokens/core/container-size.json
Due: prettier --write

apply tokens studio's preferred syntax
  packages/calcite-design-tokens/src/tokens/$themes.json
Due: prettier --write

set test timeout for debugging
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

remove potentially unnecessary $themes fields
  packages/calcite-design-tokens/src/tokens/core/$themes.json
Due: prettier --write

remove tabIndex
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update theme details
  packages/calcite-design-tokens/src/tokens/$themes.json
  packages/calcite-design-tokens/src/tokens/core/$themes.json
Due: prettier --write

apply tokens studio's preferred syntax
  packages/calcite-design-tokens/src/tokens/core/container-size.json
  packages/calcite-design-tokens/src/tokens/semantic/container-size.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
Due: prettier --write

optimize eslint-plugin test setup
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

apply tokens studio's preferred syntax
  packages/calcite-design-tokens/src/tokens/core/font.json
  packages/calcite-design-tokens/src/tokens/semantic/size.json
  packages/calcite-design-tokens/src/tokens/semantic/space.json
Due: prettier --write

add missing core.color attributes
  packages/calcite-design-tokens/src/tokens/core/color.json
Due: prettier --write

revert unintentional hecode changes
  packages/calcite-design-tokens/src/tokens/core/color.json
Due: prettier --write

add globals.d.ts for tests
  packages/eslint-plugin-calcite-components/.gitignore
  packages/eslint-plugin-calcite-components/tests/lib/types/globals.d.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

restore calcite-components tests
  packages/calcite-components/package.json
Due: prettier --write

move testTimeout option to config
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/vite.config.mts
Due: prettier --write

chore(preset): fix JSON import in build config
  packages/calcite-tailwind-preset/tsconfig-base.json
  packages/calcite-tailwind-preset/vite.config.mts
Due: prettier --write

chore(preset): fix JSON import in build config (#12142)
  packages/calcite-tailwind-preset/tsconfig-base.json
  packages/calcite-tailwind-preset/vite.config.mts
Due: prettier --write

build(deps): bump @arcgis/lumina, typescript, vite, vitest (#12137)
  package-lock.json
  package.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/menu/menu.tsx
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/controllers/time/time.ts
  packages/calcite-components/src/controllers/useFocusTrap.ts
  packages/calcite-components/src/controllers/usePreventDocumentScroll.ts
  packages/calcite-components/src/controllers/useT9n.ts
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/.gitignore
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/types/globals.d.ts
  packages/eslint-plugin-calcite-components/vite.config.mts
  support/createThirdPartyLicenses.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: release main (#10530)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
Due: prettier --write, markdownlint --fix

chore: release main (#11551)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components/README.md
Due: prettier --write, markdownlint --fix

chore: cherry pick release commit from main (#11813)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write, markdownlint --fix

fix: update tags (#11808)
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat(input-message): add component tokens and deprecate --calcite-input-message-spacing-value (#11759)
  packages/calcite-components/src/components/input-message/input-message.e2e.ts
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-message/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-message.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: ignore iml files (#11828)
  .gitignore
Due: none

docs: update list of contributors (#11829)
  README.md
Due: prettier --write, markdownlint --fix

chore: include all node_modules dirs in clean script (#11822)
  package.json
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/package.json
Due: prettier --write

feat(list-item): enhance component's interactivity states (#11824)
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

ci: move 3rd party license generation to scheduled workflow (#11811)
  .github/workflows/deploy-latest.yml
  .github/workflows/schedule-updates.yml
Due: prettier --write

build(deps): drop @types/jsdom (#11830)
  package-lock.json
  package.json
  patches/@types+jsdom+21.1.7.patch
Due: prettier --write

test: improve design-tokens test coverage (#11831)
  .github/workflows/pr-e2e.yml
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/build/format/docs.ts
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/tests/spec/index.spec.ts
  turbo.json
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix
