Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.js": ["eslint --ext .js --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  "*.md": ["markdownlint --fix --disable MD024 MD013 MD041 MD033", "prettier --write"]
}

Error test
  tokens/$metadata.json
  tokens/$themes.json
  tokens/calcite/dark.json
  tokens/calcite/light.json
  tokens/component/block-section.json
  tokens/component/block.json
  tokens/component/notice.json
Due: prettier --write

rename resize props
  src/components/text-area/text-area.e2e.ts
  src/components/text-area/text-area.scss
  src/components/text-area/text-area.stories.ts
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix resizing behavior
  src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

change events names to camelcase
  src/components/text-area/readme.md
  src/components/text-area/resources.ts
  src/components/text-area/text-area.e2e.ts
  src/components/text-area/text-area.scss
  src/components/text-area/text-area.stories.ts
  src/components/text-area/text-area.tsx
  src/components/text-area/usage/Basic.md
  src/components/text-area/usage/Exceeding-max-length.md
  src/demos/textarea-issue.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

update usage files
  src/components/text-area/usage/Exceeding-max-length.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

update demo page and font weight for character limit
  src/components/text-area/text-area.scss
  src/demos/text-area.html
Due: prettier --write, stylelint --fix

fix resizing error
  src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: fix peer dependency resolution error
  .eslintrc.json
  .github/workflows/chromatic.yml
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

disable resize on mobile devices
  src/components/text-area/text-area.scss
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

update readme typo
  src/components/text-area/readme.md
Due: prettier --write, markdownlint --fix --disable MD024 MD013 MD041 MD033

assert on form element
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: restore form control validation in Safari
  src/components/button/button.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove unnecessary npm install/uninstall
  .github/workflows/update-browserslist-db.yml
Due: prettier --write

build: fix peer dependency resolution error (#6611)
  .eslintrc.json
  .github/workflows/chromatic.yml
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix --disable MD024 MD013 MD041 MD033

chore: convert all px to rems
  src/assets/styles/_animation.scss
  src/assets/styles/_breakpoints.scss
  src/assets/styles/_floating-ui.scss
  src/assets/styles/_focus.scss
  src/assets/styles/_shadow.scss
  src/assets/styles/global.scss
  src/components/action/action.scss
  src/components/alert/alert.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/color-picker-swatch/color-picker-swatch.scss
  src/components/color-picker/color-picker.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/date-picker-month/date-picker-month.scss
  src/components/date-picker/date-picker.scss
  src/components/flow/flow.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/input/input.scss
  src/components/link/link.scss
  src/components/modal/modal.scss
  src/components/pagination/pagination.scss
  src/components/progress/progress.scss
  src/components/radio-button/radio-button.scss
  src/components/segmented-control-item/segmented-control-item.scss
  src/components/segmented-control/segmented-control.scss
  src/components/select/select.scss
  src/components/shell-panel/shell-panel.scss
  src/components/slider/slider.scss
  src/components/switch/switch.scss
  src/components/tab-title/tab-title.scss
  src/components/tab/tab.scss
  src/components/tabs/tabs.scss
  src/components/tile-select/tile-select.scss
  src/components/tile/tile.scss
  src/components/time-picker/time-picker.scss
  src/components/tip-manager/tip-manager.scss
Due: prettier --write, stylelint --fix

chore: convert all px to rems (#6612)
  src/assets/styles/_animation.scss
  src/assets/styles/_breakpoints.scss
  src/assets/styles/_floating-ui.scss
  src/assets/styles/_focus.scss
  src/assets/styles/_shadow.scss
  src/assets/styles/global.scss
  src/components/action/action.scss
  src/components/alert/alert.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/color-picker-swatch/color-picker-swatch.scss
  src/components/color-picker/color-picker.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/date-picker-month/date-picker-month.scss
  src/components/date-picker/date-picker.scss
  src/components/flow/flow.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/input/input.scss
  src/components/link/link.scss
  src/components/modal/modal.scss
  src/components/pagination/pagination.scss
  src/components/progress/progress.scss
  src/components/radio-button/radio-button.scss
  src/components/segmented-control-item/segmented-control-item.scss
  src/components/segmented-control/segmented-control.scss
  src/components/select/select.scss
  src/components/shell-panel/shell-panel.scss
  src/components/slider/slider.scss
  src/components/switch/switch.scss
  src/components/tab-title/tab-title.scss
  src/components/tab/tab.scss
  src/components/tabs/tabs.scss
  src/components/tile-select/tile-select.scss
  src/components/tile/tile.scss
  src/components/time-picker/time-picker.scss
  src/components/tip-manager/tip-manager.scss
Due: prettier --write, stylelint --fix

notice tokens
  tokens/$themes.json
  tokens/component/notice.json
Due: prettier --write

notice token
  tokens/calcite/light.json
  tokens/component/notice.json
Due: prettier --write

Notice tokens
  tokens/calcite/dark.json
  tokens/calcite/light.json
  tokens/component/notice.json
Due: prettier --write

modal medium tokens
  tokens/$metadata.json
  tokens/$themes.json
  tokens/component/modal-medium.json
Due: prettier --write

Update
  tokens/$metadata.json
  tokens/calcite/dark.json
  tokens/calcite/light.json
  tokens/component/modal-medium.json
  tokens/component/notice.json
Due: prettier --write

Pr feedback - update stories
  src/components/chip-group/chip-group.stories.ts
  src/components/chip/chip.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

notice tokens
  tokens/$themes.json
Due: prettier --write

Pr feedback - update config
  stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix alignment for footer-end slot only use case & text whitespace for long numbers
  src/components/text-area/resources.ts
  src/components/text-area/text-area.scss
  src/components/text-area/text-area.stories.ts
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix slottedElementsDarkModeRTL screenshot test
  src/components/text-area/text-area.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: improve readability and add unit tests
  src/components/input-number/input-number.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove text-area issue demo page
  src/components/text-area/text-area.tsx
  src/demos/textarea-issue.html
  src/index.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: restore files from mixed up merge conflict
  tokens/$metadata.json
  tokens/$themes.json
  tokens/component/action.json
  tokens/component/button.json
  tokens/component/combobox.json
  tokens/component/dropdown.json
  tokens/component/fab.json
  tokens/component/link.json
  tokens/component/pagination.json
  tokens/component/segmented-control.json
  tokens/component/stepper-item.json
  tokens/component/stepper.json
  tokens/component/tab-title.json
  tokens/component/tabs.json
  tokens/semantic.json
Due: prettier --write

more feedback changes
  src/components/label/label.stories.ts
  src/components/text-area/resources.ts
  src/components/text-area/text-area.e2e.ts
  src/components/text-area/text-area.stories.ts
  src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(modal): kebab-case slot names and sticky context
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: restore form control validation in Safari (#6623)
  src/components/button/button.tsx
  src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(modal): kebab-case slot names and sticky context (#6625)
  src/components/modal/modal.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): adds styling to tile where link is present for additional distinction
  src/components/tile/tile.scss
Due: prettier --write, stylelint --fix

docs(accordion): add actions-start and actions-end slots
  package-lock.json
  src/components/accordion/accordion.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(accordion-item): add actions-start and actions-end slots
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove file from pr
  package-lock.json
Due: prettier --write
