Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix --config .markdownlint.json

restore line-height for day
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix

restore tailwind util classes
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
Due: prettier --write, stylelint --fix

update wheel/scrolling behavior to be device agnostic
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/utils/browser.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): mixin
  packages/calcite-components/src/components/input/assets/_mixins.scss
Due: prettier --write, stylelint --fix

add date-picker tokens
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Due: prettier --write, stylelint --fix

proto for missing vars and fallback for icon.
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

missing doc
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

stories
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(checkbox): refactor to use fallbacks
  packages/calcite-components/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

fix(avatar): fallback component tokens
  packages/calcite-components/src/components/avatar/avatar.scss
Due: prettier --write, stylelint --fix

fix(input): refactor with fallback tokens
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

fix(popover): refactor for fallback tokens
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

fix(graph): refactor for fallback component tokens
  packages/calcite-components/src/components/graph/graph.scss
Due: prettier --write, stylelint --fix

fix(icon): refactor for fallback component tokens
  packages/calcite-components/src/components/icon/icon.scss
Due: prettier --write, stylelint --fix

stories
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(inline-editable): refactor for component fallback tokens
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

WIP(popover): partial fix for mapped tokens to action
  packages/calcite-components/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

feat(label): add component tokens
  packages/calcite-components/src/components/label/label.scss
Due: prettier --write, stylelint --fix

fix(card): refactor fallback component tokens
  packages/calcite-components/src/components/card/card.scss
Due: prettier --write, stylelint --fix

story and refactor
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

story
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(checkbox): update shadow
  packages/calcite-components/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

update test config to troubleshoot CI failure
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add log messaging
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(tile-group): add review suggestions
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

restore previous scroll values
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Using Layout type, removing TileSelectLayout, renaming root div in shadow to container, using simple name for default story
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/interfaces.ts
  packages/calcite-components/src/components/tile-group/resources.ts
  packages/calcite-components/src/components/tile-group/tile-group.scss
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

de-nesting base container css selector
  packages/calcite-components/src/components/tile-group/tile-group.scss
Due: prettier --write, stylelint --fix

roll back troubleshooting changes
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(navigation-logo): no longer changes icon color when href is parsed
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

separating tile-group from tile in stencil config
  packages/calcite-components/stencil.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix indicator position regression
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
Due: prettier --write, stylelint --fix

Add tokens
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
Due: prettier --write, stylelint --fix

remove token
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
Due: prettier --write, stylelint --fix

refactor(tile-group): add review suggestions (#8828)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/interfaces.ts
  packages/calcite-components/src/components/tile-group/resources.ts
  packages/calcite-components/src/components/tile-group/tile-group.scss
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/stencil.config.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(action): add component tokens
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

refactor(action): clean up unnecessary classes & containers
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/action/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(action): add component token documentation
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

fix(navigation-logo): no longer changes icon color when `href` is parsed (#8830)
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix --config .markdownlint.json: any of: *.md
