Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js, markdownlint --fix

docs(carousel, meter): fix design tokens doc formatting
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/meter/meter.scss
Due: prettier --write, stylelint --fix

fix(dialog): honor `--calcite-dialog-offset-y` regardless of fullscreen behavior (#13903)
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/dialog/resources.ts
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: drop outdated component-doc-update job
  .github/workflows/schedule-updates.yml
Due: prettier --write

Cleanup comments, dry up duplicate logic, remove aria test, provide axis value instead of boolean, modify spies, move aria helpers to own module
  packages/components/src/components/action-menu/action-menu.tsx
  packages/components/src/components/dropdown-item/dropdown-item.tsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/components/src/components/sheet/sheet.tsx
  packages/components/src/components/shell-panel/shell-panel.tsx
  packages/components/src/components/tab-title/tab-title.tsx
  packages/components/src/components/tree-item/tree-item.tsx
  packages/components/src/components/tree/tree.tsx
  packages/components/src/controllers/useSizeOverride.browser.spec.tsx
  packages/components/src/controllers/useSizeOverride.ts
  packages/components/src/utils/dom.browser.spec.ts
  packages/components/src/utils/dom.ts
  packages/components/src/utils/resize.browser.spec.ts
  packages/components/src/utils/resize.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add Storybook story
  packages/components/src/components/shell/shell.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add Shell Toolbar to story
  packages/components/src/components/shell/shell.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert lint changes for tile.stories.ts
  packages/components/src/components/tile/tile.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

revert linting changed for flow-item.stories.ts
  packages/components/src/components/flow-item/flow-item.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

ci: drop outdated component-doc-update job (#13909)
  .github/workflows/schedule-updates.yml
Due: prettier --write

revert input-date-picker.stories.ts
  packages/components/src/components/input-date-picker/input-date-picker.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs(carousel, meter): fix design tokens doc formatting (#13908)
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/meter/meter.scss
Due: prettier --write, stylelint --fix

revert list.stories.ts
  packages/components/src/components/list/list.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: update lockfile
  package-lock.json
Due: prettier --write

add aria util
  packages/components/src/utils/aria.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add aria util browser spec
  packages/components/src/utils/aria.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

toAriaBoolean import for date-picker-day
  packages/components/src/components/date-picker-day/date-picker-day.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

chore: update lockfile (#13911)
  package-lock.json
Due: prettier --write

review fixes
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/list/list.tsx
  packages/components/src/components/list/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update failing test case
  packages/components/src/components/action-menu/action-menu.e2e.ts
  packages/components/src/components/action-menu/action-menu.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

remove dragEnabled requirement
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add doc
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Update packages/components/src/components/list/list.tsx
  packages/components/src/components/list/list.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

feat(tree-item): revert selection icon to bullet when selection-mode='single'|'single-persist'|'children'
  packages/components/src/components/tree-item/resources.ts
  packages/components/src/components/tree-item/tree-item.e2e.ts
  packages/components/src/components/tree-item/tree-item.scss
  packages/components/src/components/tree-item/tree-item.tsx
Due: prettier --write, stylelint --fix, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

add and update src core.color tokens
  packages/design-tokens/src/tokens/core/color.json
Due: prettier --write

update src semantic.color.brand|status tokens
  packages/design-tokens/src/tokens/semantic/color/dark.json
Due: prettier --write

update test snapshots
  packages/design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Due: none

feat(list): add `empty-content` slot that displays content when no default slotted items are present (#13863)
  packages/components/src/components/list/list.stories.ts
  packages/components/src/components/list/list.tsx
  packages/components/src/components/list/resources.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: update list of contributors (#13917)
  README.md
Due: prettier --write, markdownlint --fix

docs(input-date-picker): update token description (#13907)
  packages/components/src/components/input-date-picker/input-date-picker.scss
Due: prettier --write, stylelint --fix

test(button): improve custom theme story coverage
  packages/components/src/custom-theme.stories.ts
  packages/components/src/custom-theme/button.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

reuse computed style
  packages/components/src/components/sheet/sheet.tsx
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

move the toAriaBoolean() test to the new aria.browser.spec.ts
  packages/components/src/utils/aria.browser.spec.ts
  packages/components/src/utils/dom.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

refactor(floating-ui): tidy up module
  packages/components/src/utils/floating-ui.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

docs: rename existing react folder
  examples/components/react-18-and-below/.gitignore
  examples/components/react-18-and-below/README.md
  examples/components/react-18-and-below/eslint.config.js
  examples/components/react-18-and-below/index.html
  examples/components/react-18-and-below/package.json
  examples/components/react-18-and-below/src/App.css
  examples/components/react-18-and-below/src/App.tsx
  examples/components/react-18-and-below/src/index.css
  examples/components/react-18-and-below/src/main.tsx
  examples/components/react-18-and-below/tsconfig.app.json
  examples/components/react-18-and-below/tsconfig.json
  examples/components/react-18-and-below/tsconfig.node.json
  examples/components/react-18-and-below/vite.config.ts
Due: prettier --write, markdownlint --fix

restore internal `@param`
  packages/components/src/utils/floating-ui.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

clone existing react folder and rename to react 19. Install calcite-components, update to react 19, remove react wrapper, and adjust App.tsx example to use Calcite components directly.
  examples/components/react-19-and-above/.gitignore
  examples/components/react-19-and-above/README.md
  examples/components/react-19-and-above/eslint.config.js
  examples/components/react-19-and-above/index.html
  examples/components/react-19-and-above/package.json
  examples/components/react-19-and-above/src/App.css
  examples/components/react-19-and-above/src/App.tsx
  examples/components/react-19-and-above/src/index.css
  examples/components/react-19-and-above/src/main.tsx
  examples/components/react-19-and-above/tsconfig.app.json
  examples/components/react-19-and-above/tsconfig.app.tsbuildinfo
  examples/components/react-19-and-above/tsconfig.json
  examples/components/react-19-and-above/tsconfig.node.json
  examples/components/react-19-and-above/tsconfig.node.tsbuildinfo
  examples/components/react-19-and-above/vite.config.ts
Due: prettier --write, markdownlint --fix

change semantic spacing.fixed tokens to unlisted
  packages/design-tokens/src/tokens/semantic/space.json
Due: prettier --write

toAriaBoolean import
  packages/components/src/utils/aria.browser.spec.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

update story
  packages/components/src/components/tree/tree.stories.ts
Due: prettier --write, cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx})) or (any of: .github/scripts/*.js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx}
  cross-env ESLINT_USE_FLAT_CONFIG=false eslint --ext .js: any of: .github/scripts/*.js
  markdownlint --fix: any of: *.md
